/* Chart Explorer */

.chart-explorer { position: relative; }

.chart-explorer .chart-header { position: relative; margin-bottom: 14px; }

.chart-explorer .chart-header .datewrapper { width: auto; float: right; }
body.rtl .chart-explorer .chart-header .datewrapper { float: left; }
.chart-explorer .chart-header .datewrapper input { width: 200px; }
.chart-explorer .chart-header .spinner { position: absolute; top: 0; right: 0; }

.chart-explorer .chart-container { position: relative;  }
.chart-explorer .chart-container .spinner { position: absolute; top: 50%; right: 50%; margin-top: -24px; margin-left: -12px;  }
.chart-explorer .chart-container .chart { height: 200px; margin: -14px -24px 14px -24px;  }
.chart-explorer .total .total-value { font-size: 15px;  }