@charset "UTF-8";

.lazy-create-modal { min-width: 200px; overflow: auto; }

/* Variant Matrix styles */
.variant-matrixblock { padding: 0; }
.variant-matrixblock > .titlebar { margin: 0; width: 100%; }
.variant-matrixblock > .actions > .default-btn { display: inline-block; margin: -1px 7px; border-radius: 3px; padding: 0 4px; width: auto !important; height: auto !important; font-size: 11px; text-transform: uppercase; color: hsl(212, 10%, 75%); text-decoration: none !important; font-weight: bold; border: 1px solid rgba(0,0,0,0.25); }
.variant-matrixblock > .actions > .default-btn:not(.sel):hover { border-color: hsl(212, 90%, 50%); }
.variant-matrixblock > .actions > .default-btn.sel { color: #eef0f1; background: rgba(0,0,0,0.25); background-clip: padding-box; }
.variant-matrixblock:not(.single-col) > .fields { display: flex; align-items: stretch; }
.variant-matrixblock:not(.single-col) > .fields > .variant-properties { width: 310px; border-right: 1px solid #e3e5e8; }
.variant-matrixblock:not(.single-col) > .fields > .custom-fields { padding: 14px 24px; width: calc(100% - 359px); }
.variant-matrixblock.single-col > .fields > .custom-fields > .field:first-child { border-top: 1px solid #e3e5e8; }

.address-boxes{ width:100%; }
.address-box{
    border:1px solid rgba(115, 127, 140, 0.15);
    width:100%;
    margin:0 0 10px 0;
    display:inline-block;
}
.address-box-content{ margin:10px; }

.commerce-address.modal { width: 350px; padding-bottom:58px; max-height:684px; }
.commerce-address.modal .body { padding:0px; overflow-y: visible; height:100%; }
.commerce-address.modal .footer { position: absolute; bottom: 0px; width: 100%; }
.commerce-address.modal h2 { padding-top:24px; padding-left:24px; }
.commerce-address.modal .input { width: calc(100% - 110px); }
.commerce-address.modal .heading { width: 110px; }