{% extends "commerce/_layouts/settingscp" %}

{% set crumbs = [
    { label: "Commerce Settings"|t('commerce'), url: url('commerce/settings') },
    { label: "Currencies"|t('commerce'), url: url('commerce/settings/paymentcurrencies') },
] %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}

{% block content %}
    <input type="hidden" name="action" value="commerce/payment-currencies/save">
    {{ redirectInput('commerce/settings/paymentcurrencies') }}
    {% if currency.id %}<input type="hidden" name="currencyId"
                               value="{{ currency.id }}">{% endif %}

    {{ forms.selectField({
        label: 'Currency Code'|t('commerce'),
        first: true,
        instructions: 'Choose the currency’s ISO code.'|t('commerce'),
        id: 'iso',
        name: 'iso',
        value: currency.iso,
        errors: currency.getErrors('iso'),
        class: 'selectize fullwidth',
    }) }}

    {{ forms.textField({
        label: "Conversion Rate"|t('commerce'),
        instructions: "The conversion rate that will be used when converting an amount to this currency. For example, if an item costs {amount1}, a conversion rate of {rate} would result in {amount2} in the alternate currency."|t('commerce', {
            amount1: 10|currency(craft.commerce.paymentCurrencies.primaryPaymentCurrency.iso),
            rate: 1.5,
            amount2: 15
        }),
        id: 'rate',
        name: 'rate',
        disabled: currency.primary,
        value: currency.rate ? currency.rate + 0 : 1,
        errors: currency.getErrors('rate')
    }) }}

    {% if currency.primary %}
        <input type="hidden" name="primary" value="1"/>
    {% endif %}
{% endblock %}

{% js %}
    window.currencies = {{ craft.commerce.currencies.allcurrencies|values|json_encode|raw }};
    window.currency = {{ [currency.iso]|json_encode|raw }};
    $(function () {
        $('#iso').selectize({
            options: window.currencies,
            items : window.currency,
            render: {
                item: function(item, escape) {
                    return '<div>' +
                    (item.currency ? '<span class="currency">' + escape(item.currency) + '</span>' : '') +
                    (item.alphabeticCode ? ' (<span class="alphabeticCode">' + escape(item.alphabeticCode) + '</span>)' : '') +
                    '</div>';
                },
            option: function(item, escape) {
                var label = item.currency || item.alphabeticCode;
                var caption = item.currency ? item.alphabeticCode : null;
                return '<div>' +
                    '<span class="label">' + escape(label) + '</span>' +
                    (caption ? ' (<span class="caption">' + escape(caption) + '</span>)' : '') +
                    '</div>';
                }
            },
            valueField: 'alphabeticCode',
            labelField: 'currency',
            sortField: 'currency',
            searchField: ['currency', 'iso'],
            dropdownParent: 'body',
            maxItems: 1
        });
    });
{% endjs %}
