{% extends "commerce/_layouts/shipping" %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% block actionButton %}
    <a href="{{ url('commerce/shipping/shippingcategories/new') }}" class="btn submit add icon">{{ 'New shipping category'|t('commerce') }}</a>
{% endblock %}

{% block content %}
    <div id="shipping-vue-admin-table"></div>
{% endblock %}

{% set tableData = [] %}
{% for shippingCategory in shippingCategories %}
    {% set tableData = tableData|merge([{
        id: shippingCategory.id,
        title: shippingCategory.name|t('site'),
        url: url('commerce/shipping/shippingcategories/'~shippingCategory.id),
        handle: shippingCategory.handle|e,
        description: shippingCategory.description|t('site')|e,
        default: shippingCategory.default,
    }]) %}
{% endfor %}

{% js %}
    var columns = [
        { name: '__slot:title', title: Craft.t('app', 'Name') },
        { name: '__slot:handle', title: Craft.t('app', 'Handle') },
        { name: 'description', title: Craft.t('app', 'Description') },
        {
            name: 'default',
            title: Craft.t('app', 'Default'),
            callback: function(value) {
                if (value) {
                    return '<div data-icon="check" title="'+Craft.escapeHtml(Craft.t('app','Yes'))+'"></div>';
                }
            }
        },
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#shipping-vue-admin-table',
        deleteAction: 'commerce/shipping-categories/delete',
        tableData: {{ tableData|json_encode|raw }},
    });
{% endjs %}
