{% extends "commerce/_layouts/shipping" %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% block content %}
    <h2>{{ "Shipping Categories"|t('commerce') }}</h2>

    <div id="shipping-vue-admin-table"></div>

    <div class="buttons">
        <a href="{{ url('commerce/shipping/shippingcategories/new') }}"
           class="btn submit add icon">{{ 'New shipping category'|t('commerce') }}</a>
    </div>
{% endblock %}
{% set tableData = [] %}
{% for shippingCategory in shippingCategories %}
    {% set tableData = tableData|merge([{
        id: shippingCategory.id,
        title: shippingCategory.name,
        url: url('commerce/shipping/shippingcategories/'~shippingCategory.id),
        handle: shippingCategory.handle,
        description: shippingCategory.description,
        default: shippingCategory.default,
    }]) %}
{% endfor %}

{% js %}
    var columns = [
        { name: '__slot:title', title: Craft.t('app', 'Name') },
        { name: '__slot:handle', title: Craft.t('app', 'Handle') },
        { name: 'description', title: Craft.t('app', 'Description') },
        {
            name: 'default',
            title: Craft.t('app', 'Default'),
            callback: function(value) {
                if (value) {
                    return '<div data-icon="check"></div>';
                }
            }
        },
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#shipping-vue-admin-table',
        deleteAction: 'commerce/shipping-categories/delete',
        tableData: {{ tableData|json_encode|raw }},
    });
{% endjs %}
