{% extends "market/_layouts/cp" %}
{% set title = "Market"|t %}

{% set sidebar %}

{% include "market/_includes/nav.twig" %}

{% endset %}


{% set content %}
<style>
    .market-dashboard .panel {
        border: 1px solid #EDEDED;
        width: 100%;
        position: relative;
        margin: 14px 0;
        padding: 24px;
        border-radius: 3px;
        word-wrap: break-word;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
    }
</style>
<div class="market-dashboard">
    <div class="panel">
        <h3>Fake Charts</h3>
        <img height="400" src="https://google-developers.appspot.com/chart/interactive/docs/gallery/images/columnChartExamples/columnExample0.png"/>

    </div>
    <div class="panel">
        <h3>Fake Orders</h3>
        <img height="400"  src="https://google-developers.appspot.com/chart/interactive/docs/gallery/images/columnChartExamples/columnExample4.png"/>
    </div>
</div>

{% endset %}