{% do view.registerTranslations('commerce', [
    'Order count'
]) %}
<div>
    <canvas id="{{ namespaceId }}" height="250"></canvas>
</div>
{% js %}
    var revChart = new Craft.Commerce.Chart('{{ namespaceId }}', {
        chart: {
            type: 'doughnut',
            data: {
                labels: {{ labels|json_encode|raw }},
                datasets: [
                    {
                        label: Craft.escapeHtml(Craft.t('commerce', 'Order count')),
                        data: {{ totalOrders|json_encode|raw }}
                    }
                ]
            }
        }
    });

{% endjs %}