{% import "_includes/forms" as forms %}

<div id="{{ id }}">
  {% include 'commerce/_components/widgets/_includes/_storeField' with { id: namespaceId, widget: widget, updateOrderStatuses: true } %}

  {% include 'commerce/_components/widgets/_includes/_dateRangeField' with { id: namespaceId, widget: widget } %}

  {{ forms.selectField({
    label: 'Type'|t('commerce'),
    id: 'type',
    name: 'type',
    value: widget.type,
    options: typeOptions
  }) }}

  {% include 'commerce/_components/widgets/_includes/_orderStatusesField' with { id: namespaceId, widget: widget } %}
</div>