{% if productId is defined %}
<div id="variantsIndex" class="">

		{% set elementTypeClass = 'Commerce_Variant' %}
		{% set elementType = craft.elements.getElementType(elementTypeClass) %}
		{% set context = 'index' %}

		{% if not elementType %}
			{% exit 404 %}
		{% endif %}

		{% set sources = elementType.getSources('index') %}

		<div class="content">
			<div class="sidebar">
				<nav>
					{% include "_elements/sources" %}
				</nav>
			</div>

			{% include "_elements/indexcontainer" %}
			<div id="variantButtons" class="secondary-buttons"></div>
		</div>


</div>{# end variantIndex #}

{%  includeJsResource 'commerce/js/commerceVariantValuesInput.js' %}
{%  includeJsResource 'commerce/js/commerceVariantindex.js' %}

{# need to move this into the js somehow #}
{%  set fieldHtml %}
	<div class="fields">
		<div class="checkbox-text-input">
			<label class="checkbox-text-label">{{ "Price"|t }} </label>
			{{ forms.text({
				id: 'price',
				name: 'price',
				value: '',
			}) }}
			<div class="checkbox-input">
				{{ forms.checkbox({
					id: 'setPrice',
					name:   'setPrice',
					checked: 0,
					value: 1
				}) }}
			</div>
		</div>
		<div class="checkbox-text-input">
			<label class="checkbox-text-label">{{ "Minimum Quantity"|t }} </label>
			{{ forms.text({
				id: 'minQty',
				name: 'minQty',
				value: '',
			}) }}
			<div class="checkbox-input">
				{{ forms.checkbox({
					id: 'setMinQty',
					name:   'setMinQty',
					checked: 0,
					value: 1
				}) }}
			</div>
		</div>

		<div class="checkbox-text-input">
			<label class="checkbox-text-label">{{ "Maximum Quantity"|t }} </label>
			{{ forms.text({
				id: 'maxQty',
				name: 'maxQty',
				value: '',
			}) }}
			<div class="checkbox-input">
				{{ forms.checkbox({
					id: 'setMaxQty',
					name:   'setMaxQty',
					checked: 0,
					value: 1
				}) }}
			</div>
		</div>

		<div class="checkbox-text-input">
			<label class="checkbox-text-label">{{ 'Width'|t~' ('~craft.commerce.settings.dimensionUnits~')' }} </label>
			{{ forms.text({
				id: 'width',
				name: 'width',
				value: '',
			}) }}
			<div class="checkbox-input">
				{{ forms.checkbox({
					id: 'setWidth',
					name:   'setWidth',
					checked: 0,
					value: 1
				}) }}
			</div>
		</div>

		<div class="checkbox-text-input">
			<label class="checkbox-text-label">{{ 'Height'|t~' ('~craft.commerce.settings.dimensionUnits~')' }} </label>
			{{ forms.text({
				id: 'height',
				name: 'height',
				value: '',
			}) }}
			<div class="checkbox-input">
				{{ forms.checkbox({
					id: 'setHeight',
					name:   'setHeight',
					checked: 0,
					value: 1
				}) }}
			</div>
		</div>

		<div class="checkbox-text-input">
			<label class="checkbox-text-label">{{ 'Length'|t~' ('~craft.commerce.settings.dimensionUnits~')' }} </label>
			{{ forms.text({
				id: 'length',
				name: 'length',
				value: '',
			}) }}
			<div class="checkbox-input">
				{{ forms.checkbox({
					id: 'setLength',
					name:   'setLength',
					checked: 0,
					value: 1
				}) }}
			</div>
		</div>

		<div class="checkbox-text-input">
			<label class="checkbox-text-label">{{ 'Weight'|t~' ('~craft.commerce.settings.weightUnits~')' }} </label>
			{{ forms.text({
				id: 'weight',
				name: 'weight',
				value: '',
			}) }}
			<div class="checkbox-input">
				{{ forms.checkbox({
					id: 'setWeight',
					name:   'setWeight',
					checked: 0,
					value: 1
				}) }}
			</div>
		</div>
	</div>
{%  endset %}

{% set initJs %}
	Craft.registerElementIndexClass('Commerce_Variant', Craft.CommerceVariantIndex);

	Craft.variantIndex = Craft.createElementIndex('{{ elementTypeClass }}', $('#variantsIndex'), {
		context:        '{{ context }}',
		storageKey:     'elementindex.{{ elementTypeClass }}',
		criteria:       { productId: {{ productId }}, isImplicit: false, localeEnabled: true },
		buttonContainer: $('#variantButtons'),
		parentElementId: {{ product.id }},
		parentElementTypeId: {{ productType.id }},
	});

	Craft.SetVariantValuesModal = Garnish.Modal.extend({

	ids: null,

	init: function(ids,settings){
		this.ids = ids;

		var $form = $('<form class="modal variant-massEdit-modal" method="post" accept-charset="UTF-8">' +
		Craft.getCsrfInput() +
		'<input type="hidden" name="redirect" value=""/>' +
		'<div class="body header-body"><p>'+Craft.t('Only values with checkboxes selected will be updated.')+'</p></div>' +
		'<hr />' +
		'</form>').appendTo(Garnish.$bod);

		var $body = $('<div class="body fields-body"></div>').appendTo($form);

		var $fields = $("{{ fieldHtml|e('js') }}").appendTo($body);

		new Craft.CommerceVariantValuesInput($form.find('#price'), $form.find('#setPrice'));
		new Craft.CommerceVariantValuesInput($form.find('#minQty'), $form.find('#setMinQty'));
		new Craft.CommerceVariantValuesInput($form.find('#maxQty'), $form.find('#setMaxQty'));
		new Craft.CommerceVariantValuesInput($form.find('#width'), $form.find('#setWidth'));
		new Craft.CommerceVariantValuesInput($form.find('#height'), $form.find('#setHeight'));
		new Craft.CommerceVariantValuesInput($form.find('#weight'), $form.find('#setWeight'));
		new Craft.CommerceVariantValuesInput($form.find('#length'), $form.find('#setLength'));

		var $footer = $('<div class="footer" style="position:absolute;bottom:0;width:100%"/>').appendTo($form);
		var $buttons = $('<div class="buttons right"/>').appendTo($footer);

		var $cancelBtn = $('<div class="btn">'+Craft.t('Cancel')+'</div>').appendTo($buttons);
		var $SubmitBtn = $('<input type="submit" class="btn submit" value="'+Craft.t('Set Values') +'" />').appendTo($buttons);
		this.addListener($cancelBtn, 'click', 'hide');
		this.addListener($form, 'submit', 'handleSubmit');

		this.base($form, settings);
	},
	hide: function(){
		this.base();
	},
	handleSubmit: function(ev){
		this.disable();

		// Let the onSubmit callback prevent the form from getting submitted
		if (this.settings.onSubmit() === false){
			ev.preventDefault();
		}
	}
	});

{% endset %}
{% includeJs initJs %}
{%  else %}
	<p>DEV TODO: Remove this note when product's temporary id is generated on new product screen. Variant Index with new variant HUD can then enabled on new product.</p>
{%  endif  %}