includes:
    - vendor/craftcms/phpstan/phpstan.neon

parameters:
    level: 2
    paths:
        - src
    ignoreErrors:
        - '#Call to an undefined method yii\\web\\UrlManager::setRouteParams\(\)#'
