includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    level: 5
    paths:
        - src
    scanDirectories:
        - src-yii2
    scanFiles:
        - ../cms-6/yii2-adapter/legacy/Craft.php
        - ../cms-6/yii2-adapter/lib/yii2/Yii.php
        - vendor/twig/twig/src/Extension/CoreExtension.php
        - vendor/craftcms/cms/src/helpers.php
    databaseMigrationsPath:
        - database/migrations
    stubFiles:
        - ../cms-6/yii2-adapter/stubs/laravel-ruleset-validation.stub
        - ../cms-6/yii2-adapter/stubs/_generated.stub
        - ../cms-6/yii2-adapter/stubs/GraphQL/Type/Definition/FieldDefinition.stub
        - ../cms-6/yii2-adapter/stubs/GraphQL/Type/Definition/ResolveInfo.stub
        - ../cms-6/yii2-adapter/stubs/samdark/log/PsrTarget.stub
        - ../cms-6/yii2-adapter/stubs/yii/base/Component.stub
        - ../cms-6/yii2-adapter/stubs/yii/base/Event.stub
        - ../cms-6/yii2-adapter/stubs/yii/base/Module.stub
        - ../cms-6/yii2-adapter/stubs/yii/BaseYii.stub
        - ../cms-6/yii2-adapter/stubs/yii/db/BaseActiveRecord.stub
        - ../cms-6/yii2-adapter/stubs/yii/db/Query.stub
        - ../cms-6/yii2-adapter/stubs/yii/db/Migration.stub
        - ../cms-6/yii2-adapter/stubs/yii/di/ServiceLocator.stub
        - ../cms-6/yii2-adapter/stubs/yii/helpers/BaseArrayHelper.stub
        - ../cms-6/yii2-adapter/stubs/yii/validators/UniqueValidator.stub
        - ../cms-6/yii2-adapter/stubs/yii/validators/Validator.stub