{% set navItems = {} %}

{% if currentUser and currentUser.can('commerce-manageInventoryStockLevels') %}

    {% set navItems = navItems|merge({
        'manage-levels': { heading: "Manage"|t('commerce')},
    }) %}

    {% for location in craft.commerce.inventoryLocations.getAllInventoryLocations()  %}
        {% set navItems = navItems|merge({
            ('manage-'~location.handle) : { title: location.name, url: url('commerce/inventory/levels/'~location.handle) }
        }) %}
    {% endfor %}

{% endif %}

{% if craft.commerce.inventoryLocations.getAllInventoryLocations()|length > 1 %}
{% set navItems = navItems|merge({
    'management': { heading: "Management"|t('commerce')},
    'transfers': { title: "Transfers"|t('commerce'), url: url('commerce/inventory/transfers')},
}) %}
{% endif %}

{% if selectedItem is not defined %}
    {% set selectedItem = craft.app.request.getSegment(3) %}
{% endif %}

<nav>
    <ul>
        {% for handle, item in navItems %}
            {% if item.heading is defined %}
                <li class="heading"><span>{{ item.heading }}</span></li>
            {% else %}
                <li>
                    <a href="{{ item.url }}"{% if handle == selectedItem %} class="sel"{% endif %}>{{ item.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>