{% extends 'shop/_layouts/main' %}
{% block main %}

    {% set subscriptionId = craft.app.request.param('subscription') %}
    {% set subscription = craft.commerce.subscriptions.id(subscriptionId).first() %}
    {% if not subscription or subscription.userId != currentUser.id %}
        {% redirect 'shop/services' %}
    {% endif %}

    {% set payments = subscription.getAllPayments() %}
    <h2>Payments</h2>

    {% for payment in payments %}
        <div>{{ payment.paymentDate|date("Y-m-d H:i") }} - {{ payment.paymentCurrency }} {{ payment.paymentAmount }}</div>
    {% endfor %}
{% endblock %}
