{% extends 'commerce/_layouts/main' %}

{%  block main %}
<div class="row"><div class="eleven columns">

    {% import 'commerce/_includes/forms' as forms %}

    <table class="u-full-width">
        <thead>
        <tr>
            <th>Product</th>
            <th>Qty</th>
            <th class="text-right">Price</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart.lineItems %}
        <tr>
            <td>
                {% include 'commerce/_includes/purchasableDetails' with {'purchasable':item.purchasable} %}
                {{ forms.removeFromCartButton(item) }}
            </td>
            <td>
                {{ forms.updateQtyForm(item) }}
            </td>
            <td class="text-right">
                {% if item.underSale %}
                    <s>Price: {{ item.price|marketCurrency }}</s><br/>
                    Sale Price: {{ item.subtotalWithSale|marketCurrency }}<br/>
                {% else %}
                    Price: {{ item.price|marketCurrency }}<br/>
                    Sale Price: {{ item.subtotalWithSale|marketCurrency }}<br/>
                {% endif %}
                Sale Off: {{ item.saleAmount|marketCurrency }}<br/>
                Discount: {{ item.discountAmount|marketCurrency }}<br/>
                Taxes: {{ item.tax|marketCurrency }}<br/>
                Ship Total: {{ item.shippingAmount|marketCurrency }}<br/>
                Total: {{ item.total|marketCurrency }}<br/>
            </td>
        </tr>
        {%  endfor %}

        {%  for adjustment in cart.adjustments %}
            <tr>
            <td>{{ adjustment.type }}
                {#<pre><code>{{ adjustment.optionsJson|json_encode(constant('JSON_PRETTY_PRINT')) }}</code></pre>#}
            </td>
            <td> <strong>{{ adjustment.name }}</strong><br/>({{ adjustment.description }})</td>
            <td class="text-right">{{ adjustment.amount|marketCurrency }}</td>
            </tr>
        {% endfor %}

        <tr>
            <td>
                {{ forms.emptyCartForm(cart) }}
                {{ forms.updateCouponForm(cart) }}
            </td>
            <td>
            </td>
            <td class="text-right">
                Item Total: {{ cart.itemTotal|marketCurrency }}<br/>
                Base Discount: {{ cart.baseDiscount|marketCurrency }}<br/>
                Base Shipping Rate: {{ cart.baseShippingRate|marketCurrency }}<br/>
                <h4>Final Price: {{ cart.finalPrice|marketCurrency }}</h4>
            </td>
        </tr>

        </tbody>
    </table>

        <a class="button button-primary" href="{{ url('commerce/checkout') }}">Checkout</a>

    {% if not cart.lineItems|length %}
        <p>You have no items in your cart, add some on the <a href="/commerce/products">products page</a>.</p>
    {% endif %}

    </div>
</div>
{%  endblock %}