{% extends 'shop/_layouts/main' %}

{% block main %}
  <form method="post" action="" class="">
    <input type="hidden" name="action" value="commerce/cart/load-cart"/>
    {{ redirectInput('/shop/cart') }}
    {{ csrfInput() }}

    <h1>Load Cart</h1>
    <p>Enter a cart number to load that cart into the current session.</p>

    <fieldset>
      <div>
        <label for="number">Cart Number</label>
        <input class="mr-0 mb-1 md:mr-1 md:mb-0 sm:mb-1 bg-white border border-gray-200 hover:border-gray-500 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:shadow-outline"
               type="text" id="number" name="number" value="">
      </div>
      <div class="">
          <button class="" type="submit">Load cart</button>
      </div>

    </fieldset>
  </form>
{% endblock %}