<h3>Example Template Shortcuts</h3>
<ul>
  <li><a href="/shop/products/index">Products</a></li>
  <li><a href="/shop/subscriptions">Subscriptions</a></li>
  <li><a href="/shop/subscriptions">Donations</a></li>
  <li><a href="/shop/cart">Cart</a></li>
  <li><a href="/shop/load-cart">Load Cart</a></li>
  <li><a href="/shop/checkout/index">Checkout &rarr; Index</a></li>
  <li><a href="/shop/checkout/email">Checkout &rarr; Email</a></li>
  <li><a href="/shop/checkout/register-signin">Checkout &rarr; Register or Sign-in</a></li>
  <li><a href="/shop/checkout/addresses">Checkout &rarr; Addresses</a></li>
  <li><a href="/shop/checkout/shipping">Checkout &rarr; Shipping</a></li>
  <li><a href="/shop/checkout/payment">Checkout &rarr; Payment</a></li>
  <li><a href="/shop/checkout/pay-static">Checkout &rarr; Pay Static</a></li>
</ul>