{% if currentUser.can('commerce-manageOrders') %}
    {% redirect 'commerce/orders' %}
{% endif %}

{% if currentUser.can('commerce-manageProducts') %}
    {% redirect 'commerce/products' %}
{% endif %}

{% if currentUser.can('commerce-managePromotions') %}
    {% redirect 'commerce/promotions' %}
{% endif %}

{% if currentUser.can('commerce-manageShipping') %}
 {% redirect 'commerce/shipping/shippingmethods' %}
{% endif %}

{% if currentUser.can('commerce-manageTaxes') %}
    {% redirect 'commerce/tax/taxrates' %}
{% endif %}

{% if currentUser.can('commerce-manageSubscriptions') %}
    {% redirect 'commerce/subscriptions' %}
{% endif %}

{% exit 403 %}
