{% extends "market/_layouts/cp" %}
{% set title = "Market"|t %}

{% set sidebar %}

{% include "market/_includes/nav.twig" %}

{% endset %}


{% set content %}
<style>
    .market-dashboard .panel {
        border: 1px solid #EDEDED;
        height: 200px;
        width: 100%;
        position: relative;
        margin: 14px 0;
        padding: 24px;
        border-radius: 3px;
        word-wrap: break-word;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
    }
</style>
<div class="market-dashboard">
    <div class="panel">
        <h3>Pending Orders</h3>
    </div>
    <div class="panel">
        <h3>Products</h3>
    </div>
    <div class="panel">
        <h3></h3>
    </div>
    <div class="panel"></div>
    <div class="panel"></div>
    <div class="panel"></div>
    <div class="panel"></div>
    <div class="panel"></div>

</div>

{% endset %}