{% if currentUser.can('commerce-manageOrders') %}
    {% redirect 'commerce/orders' %}
{% endif %}

{% if currentUser.can('commerce-manageProducts') %}
    {% redirect 'commerce/products' %}
{% endif %}

{% if currentUser.can('commerce-managePromotions') %}
    {% redirect 'commerce/promotions' %}
{% endif %}

{% if currentUser.can('commerce-manageShipping') %}
 {% redirect 'commerce/settings/shippingmethods' %}
{% endif %}

{% if currentUser.can('commerce-manageTaxes') %}
{% redirect 'commerce/settings/taxrates' %}
{% endif %}

{% extends "403" %}
{% set message = "You don’t have permission to access to any of the Commerce sub-sections. Please contact an admin."|t('commerce') %}
