{% extends "commerce/_layouts/store-settings" %}

{% import "_includes/forms" as forms %}

{% block content %}

    <h2>{{ "Store Location"|t('commerce') }}</h2>

    <p>{{ 'This is the address where your store is located. It may be used by various plugins to determine things like shipping and taxes. It could also be used in PDF receipts.'|t('commerce') }}</p>

    {{ storeLocationHtml|raw }}
{% endblock %}
