{% macro addressFields(addressModel,addressHandle,countries,states) %}
{% import "_includes/forms" as forms %}
	
{{ forms.textField({
	label: "First Name"|t,
	name: addressHandle~'[firstName]',
	value: addressModel.firstName,
	errors: addressModel.getErrors('firstName'),
	required: true,
}) }}

{{ forms.textField({
	label: "Last Name"|t,
	name: addressHandle~'[lastName]',
	value: addressModel.lastName,
	errors: addressModel.getErrors('lastName'),
	required: true,
}) }}

{{ forms.textField({
	label: "Address1"|t,
	name: addressHandle~'[address1]',
	value: addressModel.address1,
	errors: addressModel.getErrors('address1'),
}) }}

{{ forms.textField({
	label: "Address2"|t,
	name: addressHandle~'[address2]',
	value: addressModel.address2,
	errors: addressModel.getErrors('address2'),
}) }}


{{ forms.textField({
	label: "City"|t,
	name: addressHandle~'[city]',
	value: addressModel.city,
	errors: addressModel.getErrors('city'),
}) }}

{{ forms.textField({
	label: "Zip Code"|t,
	name: addressHandle~'[zipCode]',
	value: addressModel.zipCode,
	errors: addressModel.getErrors('zipCode'),
}) }}

{{ forms.textField({
	label: "Phone"|t,
	name: addressHandle~'[phone]',
	value: addressModel.phone,
	errors: addressModel.getErrors('phone'),
}) }}

{{ forms.textField({
	label: "Alternative Phone"|t,
	name: addressHandle~'[alternativePhone]',
	value: addressModel.alternativePhone,
	errors: addressModel.getErrors('alternativePhone'),
}) }}

{{ forms.textField({
	label: "Company"|t,
	name: addressHandle~'[company]',
	value: addressModel.company,
	errors: addressModel.getErrors('company'),
}) }}

{{ forms.selectField({
	label: "Country"|t,
	class: 'select-wide',
	id: 'countryId',
	name: addressHandle~'[countryId]',
	value: addressModel.countryId,
	options: countries,
	errors: addressModel.getErrors('countryId'),
	required: true,
}) }}

{{ forms.selectField({
	label: "State"|t,
	class: 'select-wide',
	id: 'stateValue',
	name: addressHandle~'[stateValue]',
	value: addressModel.stateId,
	options: states[addressModel.countryId] is defined ? states[addressModel.countryId] : [],
	errors: addressModel.getErrors('stateId')|merge(addressModel.getErrors('stateName')),
}) }}
{% endmacro %}