DB_DRIVER="mysql"
DB_SERVER="localhost"
DB_USER="root"
DB_PASSWORD="password"
DB_DATABASE="craft-test"
DB_SCHEMA=""
DB_TABLE_PREFIX="craft"
DB_PORT="3306"
SECURITY_KEY="YR78n40yfg78034hg780e4hfg78m340hg780mh453u90-g"
DEFAULT_SITE_URL="http://craft-dev.test/" # Set this to the `entryUrl` param in the `codeception.yml` file.
