{% extends 'shop/_layouts/checkout' %}

{% block content %}

    {% set addresses = craft.commerce.customer.addresses %}

    {# UI when at least one address exists #}

    <div class="row">
        <div class="twelve columns">
            <form method="post">

                <input type="hidden" name="action" value="commerce/cart/updateCart">
                <input type="hidden" name="redirect" value="shop/checkout/shipping"/>

                {{ getCsrfInput() }}

                {% if not cart.email %}
                <label for="">Email</label>
                <input class="u-full-width" type="text" value="{{ cart.email }}" name="email"
                       placeholder="email@site.com"/>

                <span class="flash">{{ cart.getErrors('email')|join }}</span><br>
                {% endif %}

                {% include 'shop/_includes/addresses/fieldset' with {
                    title: "Shipping Address"|t,
                    class: 'ShippingAddress',
                    name: 'shippingAddress'
                } %}

                <input type="hidden" name="sameAddress" value="0">

                <label for="sameAddress"><input id="sameAddress" name="sameAddress" type="checkbox" checked="checked"/><span class="label-body">Use same address for
                billing</span></label>

                <br>

                {% include 'shop/_includes/addresses/fieldset' with {
                    title: "Billing Address"|t,
                    class: 'BillingAddress hidden',
                    name: 'billingAddress'
                } %}

                <input type="submit" class="button button-primary" value="Confirm addresses">

            </form>


        </div>
    </div>

    {% includejs %}
    var $fieldsets = $('.address-fieldset');

    $fieldsets.each(function () {

        var $addressFieldset = $(this);

        $('.address-select', $addressFieldset).each(function () {

            this.$element = $(this);
            this.$radio = $('.radio input', this.$element);
            this.$body = $('.body', this.$element);

            this.$radio.change($.proxy(function () {
                $('.body', $addressFieldset).addClass('hidden');
                this.$body.removeClass('hidden');
            }, this));

            if (this.$radio.is(':checked')) {
            this.$body.removeClass('hidden');
            }
        });

    });

    $("#sameAddress").change(function (e) {
        $('.address-fieldset.BillingAddress').toggleClass('hidden');
    });

    {% if cart.billingAddressId and cart.billingAddress.hasErrors() %}
        $("#sameAddress").click();
    {% endif %}
    {% endincludejs %}

{% endblock %}
