.commerce-promotional-price {
  &::before {
    content: '';
    // @TODO Replace the promotional_price.png background image with an approved SVG icon and load it the same way Craft loads CP icons
    background-image: url(../images/promotional_price.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 1em;
    height: 1em;
    opacity: 0.6;
    margin-right: 0.25em;
  }
}
