#loading-graphic.error {
  background-image: url(../images/error.png);
  background-size: 24px;
}

#loading-status {
  display: inline-block;
  padding: 6px 0;
}

.reg-header {
  position: relative;
  min-height: 150px;
  box-sizing: border-box;
  padding-top: 50px;
}

body.ltr .reg-header {
  padding-left: 150px;
  padding-right: 25px;
}

body.rtl .reg-header {
  padding-right: 150px;
  padding-left: 25px;
}

#unknown-license-header {
  padding-top: 42px;
}

.reg-header img {
  position: absolute;
  top: 25px;
}

body.ltr .reg-header img {
  left: 25px;
}

body.rtl .reg-header img {
  right: 25px;
}

.reg-header img.license-alert-img {
  top: 40px;
}

body.ltr .reg-header img.license-alert-img {
  left: 55px;
}

body.rtl .reg-header img.license-alert-img {
  right: 55px;
}

.reg-header h2 {
  margin: 0;
  font-size: 20px;
}

.reg-header p {
  margin-top: 0.5em;
  max-width: 515px;
}

.license-meta {
  margin: 50px 0 25px;
}

.license-meta > .data {
  padding: 0 !important;
}

.license-meta > .data .heading {
  width: 125px;
}

body.ltr .license-meta > .data .heading {
  text-align: right;
}

body.rtl .license-meta > .data .heading {
  text-align: left;
}

.license-meta > .data .value {
  width: calc(100% - 150px);
}

body.ltr .indented {
  margin-left: 150px;
}

body.rtl .indented {
  margin-right: 150px;
}

#license-key-wrapper {
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .reg-header {
    min-height: 0;
    padding: 0 !important;
    text-align: center;
  }

  .reg-header img {
    position: static;
    margin-bottom: 14px;
  }

  .meta > .data {
    display: block;
  }

  .license-meta > .data .heading,
  .license-meta > .data .value {
    width: auto;
  }

  body.ltr .license-meta > .data .heading {
    text-align: left;
  }

  body.rtl .license-meta > .data .heading {
    text-align: right;
  }

  #license-key-wrapper {
    display: block;
    margin-bottom: 24px;
  }

  #license-key-wrapper input {
    width: 100%;
  }

  body.ltr .indented {
    margin-left: 0;
  }

  body.rtl .indented {
    margin-right: 0;
  }
}
