<div class="recentorders-container">
    {% if orders|length %}
        <table class="data fullwidth">
            <thead>
            <tr>
                <th>{{ "Number"|t('commerce') }}</th>
                {% if showStatuses %}
                    <th>{{ "Status"|t('commerce') }}</th>{% endif %}
                <th>{{ "Total Paid"|t('commerce') }}</th>
                <th>{{ "Date Ordered"|t('commerce') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>
                        <a href="{{ order.getCpEditUrl() }}">{{ order.number[:7] }}</a>
                    </td>
                    {% if showStatuses %}
                        <td>
                            {% if order.orderStatus %}
                                {{ order.orderStatus.labelHtml|raw }}
                            {% endif %}
                        </td>
                    {% endif %}
                    <td>{{ order.totalPaid|currency(order.currency) }}</td>
                    <td>{{ order.dateOrdered|datetime('short') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ "No orders."|t('commerce') }}</p>
    {% endif %}
</div>
