{% extends "market/_layouts/cp" %}
{% set title = "Global Settings"|t %}

{% set crumbs = [
{ label: "Market"|t, url: url('market') },
{ label: "Settings"|t, url: url('market/settings/global') }
] %}


{% set selectedTab = 'settings' %}
{% import "_includes/forms" as forms %}

{% set content %}
<h2>Global</h2>

<form action="" method="post" accept-charset="UTF-8">
    <input type="hidden" name="action" value="market/settings/saveSettings"/>
    <input type="hidden" name="redirect" value="market/settings"/>
    {{ forms.textField({
        label: "Default Currency"|t,
        instructions: "Default Charge Currency."|t,
        id: 'defaultCurrency',
        name: 'settings[defaultCurrency]',
        value: (settings.defaultCurrency is defined ? settings.defaultCurrency : null),
        errors: (settings is defined ? settings.getErrors('defaultCurrency') : null),
        required: true,
    }) }}
    <!-- TODO: Make dropdown and popular with a currency helper -->
    <input type="submit" class="btn" value="Save"/>
</form>


{% endset %}
