{% extends "commerce/_layouts/store-settings" %}


{% block content %}
    <h2>{{ "States"|t('commerce') }}</h2>

    <div id="no-states"{% if states|length %} class="hidden"{% endif %}>
        <p>{{ "No states exist yet."|t('commerce') }}</p>
    </div>

    {% if states|length %}
        <table id="states" class="data fullwidth collapsible">
            <thead>
            <tr>
                <th scope="col">{{ 'Name'|t('commerce') }}</th>
                <th scope="col">{{ 'Abbreviation'|t('commerce') }}</th>
                <th scope="col">{{ 'Country'|t('commerce') }}</th>
                <td class="thin"></td>
            </tr>
            </thead>
            <tbody>
            {% for state in states %}
                <tr data-id="{{ state.id }}" data-name="{{ state.name }}">
                    <th scope="row" data-title="{{ 'Name'|t('commerce') }}"><a
                                href="{{ url('commerce/store-settings/states/'~state.id) }}">{{ state.name }}</a>
                    </th>
                    <td data-title="{{ 'ISO'|t('commerce') }}">{{ state.abbreviation }}</td>
                    <td data-title="{{ 'Country Name'|t('commerce') }}">{{ state.country.name }}</td>
                    <td class="thin"><a class="delete icon"
                                        title="{{ 'Delete'|t('commerce') }}"
                                        role="button"></a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}

    <div class="buttons">
        <a href="{{ url('commerce/store-settings/states/new') }}"
           class="btn submit add icon">{{ 'New state'|t('commerce') }}</a>
    </div>
{% endblock %}


{% js %}
    var adminTable = new Craft.AdminTable({
    tableSelector: '#states',
    noObjectsSelector: '#no-states',
    confirmDeleteMessage:  Craft.t('commerce', 'Warning, deleting this state will remove it from all addresses and zones, are you sure you want to delete “{name}”?') ,
    deleteAction: 'commerce/states/delete'
    });
{% endjs %}
