<div class="address-boxes">
    {% set address = order.shippingAddress %}
    <div id="shippingAddressBox" class="address-box hidden"
         data-title='{{ "Shipping Address"|t("commerce") }}'
         data-address='{%- if address and address.id -%}{{ address|json_encode_filtered }}{%- endif %}'>
        <div class="address-box-content">
            <div class="address-box-header"></div>
            <div class="address"></div>
        </div>
    </div>

    {% set address = order.billingAddress %}
    <div id="billingAddressBox" class="address-box hidden"
         data-title='{{ "Billing Address"|t("commerce") }}'
         data-address='{%- if address and address.id -%}{{ address|json_encode_filtered }}{%- endif %}'>
        <div class="address-box-content">
            <div class="address-box-header"></div>
            <div class="address"></div>
        </div>
    </div>
</div>