{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set selectedSubnavItem = "orders" %}
{% set bodyClass = (bodyClass is defined ? bodyClass~' ' : '') ~ "commerceorders commerceordersedit" %}

{% set crumbs = [
    {    label: "Orders"|t('commerce'), url: url('commerce/orders') }
] %}


{% do view.registerTranslations('commerce', [
    "Actions",
    "Add a line item",
    "Add an adjustment",
    "Add",
    "Adjustments",
    "Private Note",
    "Amount",
    "Are you sure you want to complete this order?",
    "Are you sure you want to send email: {name}?",
    "Cancel",
    "Completed",
    "Copied!",
    "Copy",
    "Couldn’t get order.",
    "Couldn’t recalculate order.",
    "Coupon Code",
    "Create your first line item",
    "Create “{email}”",
    "Customer Note",
    "Customer",
    "Date Ordered",
    "Date Paid",
    "Delete",
    "Description",
    "Download PDF",
    "Edit",
    "Email sent",
    "Enter coupon code",
    "Enter reference",
    "Hide snapshot",
    "ID",
    "Included",
    "Invalid email.",
    "Mark as completed",
    "Name",
    "No private Note.",
    "No description",
    "Not available",
    "Notes",
    "Number",
    "Options",
    "Order recalculated.",
    "Original Price",
    "Paid Amount",
    "Paid Status",
    "Quantity",
    "Recalculate order",
    "Reference",
    "Remove",
    "Sale Amount Off",
    "Sale Price",
    "Save and continue editing",
    "Search customer…",
    "Send Email",
    "Shipping Method",
    "Shipping",
    "Short Number",
    "Snapshot",
    "Status",
    "Tax",
    "Total Price",
    "Type",
    "Update order",
    "You are not allowed to add a line item.",
    "Your order is empty",
    "{amount} included",
]) %}

{% hook "cp.commerce.order.edit" %}

{% block mainFormAttributes %}id="main-form" method="post" accept-charset="UTF-8" data-confirm-unload novalidate{% endblock %}

{% block actionButton %}
    <input type="hidden" name="action" value="commerce/orders/save">
    <input type="hidden" name="orderId" value="{{ order.id }}">
    {{ redirectInput('commerce/orders') }}

    <div id="order-secondary-actions">
        <div id="order-secondary-actions-app"></div>
    </div>

    <div class="flex-grow"></div>

    <div id="order-actions">
        <div id="order-actions-app"></div>
    </div>
{% endblock %}

{% block details %}
    <div id="order-meta-app"></div>
    <div class="meta">
      <div class="address-boxes">
        {% set address = order.shippingAddress %}
        <div id="shippingAddressBox" class="address-box address-box--full hidden"
             data-title='{{ "Shipping Address"|t("commerce") }}'
             data-address='{%- if address and address.id -%}{{ address|json_encode_filtered }}{%- endif %}'>
          <div class="address-box-content">
            <div class="address-box-header"></div>
            <div class="address"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="meta">
      <div class="address-boxes">
        {% set address = order.billingAddress %}
        <div id="billingAddressBox" class="address-box address-box--full hidden"
             data-title='{{ "Billing Address"|t("commerce") }}'
             data-address='{%- if address and address.id -%}{{ address|json_encode_filtered }}{%- endif %}'>
          <div class="address-box-content">
            <div class="address-box-header"></div>
            <div class="address"></div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block content %}

    <div id="orderDetailsTab">
      <div id="order-details-app"></div>
      <br><br>
      {% hook "cp.commerce.order.edit.main-pane" %}
      <br><br><br><br><br><br><br><br>
    </div>

    {% include 'commerce/orders/_customFields' %}
    {% include 'commerce/orders/_transactions' %}
    {% include 'commerce/orders/_history' %}

{% endblock %}

{% js %}
    window.countries = {{ craft.commerce.countries.allCountries|values|json_encode|raw }};
    window.states = {{ craft.commerce.states.allStates|values|json_encode|raw }};

    $(document).ready(function () {
        {% if paymentForm is defined and paymentForm %}
            new Craft.Commerce.OrderEdit({
                orderId: {{ orderId|e('js') }},
                paymentForm: {
                    errors: {{ paymentForm.errors|json_encode|raw }},
                    attributes: {{ paymentForm.attributes|json_encode|raw }}
                }
            });
        {% endif %}

        $.each($('.tableRowInfo'), function () {
            new Craft.Commerce.TableRowAdditionalInfoIcon(this);
        });
{#
        var $editBtn = $('#order-edit-btn');
        var $cancelBtn = $('#order-cancel-btn');
        var $save = $('#order-save');
        var $saveBtn = $('#order-save-btn');
        var $saveSpinner = $('#order-save-spinner');

        if (OrderStore.state.editing) {
            $editBtn.addClass('hidden')
            $cancelBtn.removeClass('hidden')
            $save.removeClass('hidden')
        }

        $editBtn.on('click', function() {
            OrderStore.dispatch('edit')
        });

        $cancelBtn.on('click', function() {
            OrderStore.dispatch('cancel')
        });

        $saveBtn.on('click', function() {
            OrderStore.dispatch('save')
        });#}

{#        OrderDetailsApp.$on('onEditingChange', function(editing) {#}
{#            if (editing) {#}
{#                $editBtn.addClass('hidden')#}
{#                $cancelBtn.removeClass('hidden')#}
{#                $save.removeClass('hidden')#}
{#            } else {#}
{#                $editBtn.removeClass('hidden')#}
{#                $cancelBtn.addClass('hidden')#}
{#                $save.addClass('hidden')#}
{#            }#}
{#        })#}

{#        OrderDetailsApp.$on('onSaveLoadingChange', function(loading) {#}
{#            if (loading) {#}
{#                $saveSpinner.removeClass('hidden')#}
{#            } else {#}
{#                $saveSpinner.addClass('hidden')#}
{#            }#}
{#        })#}
    });
{% endjs %}

{% do view.registerAssetBundle("craft\\web\\assets\\prismjs\\PrismJsAsset") %}
