{% extends "_layouts/elementindex" %}

{% set title = "Orders"|t('commerce') %}
{% set elementType = 'craft\\commerce\\elements\\Order' %}
{% set bodyClass = (bodyClass is defined ? bodyClass~' ' : '') ~ "commerceorders commerceordersindex" %}

{% do craft.app.view.registerTranslations('commerce', [
    "Export",
    "Total Revenue",
    "Last 7 days",
    "Last 30 days",
    "Last Week",
    "Last Month",
    "Custom Range",
    "Apply"
]) %}

{% if orderStatusHandle is defined and orderStatusHandle %}
    {% js %}
        window.defaultStatusHandle = '{{ orderStatusHandle }}';
    {% endjs %}
{% endif %}
