<div class="order-info">

    <div class="order-info-box">
        <table class="fullwidth data borderless">
            <tr>
                <td><strong>{{ "Reference"|t('commerce') }}</strong>
                </td>
                <td>
                    <span id="order-number-short">{{ order.reference ?: order.shortNumber }}</span>
                    <span class="info">
                        <h2>Order Identification</h2>
                        <table class="data">
                            <tr><td><strong>{{ 'Reference'|t('commerce') }}</strong></td><td>{{ order.reference }}</td></tr>
                            <tr><td><strong>{{ 'ID'|t('commerce') }}</strong></td><td>{{ order.id }}</td></tr>
                            <tr><td><strong>{{ 'Short'|t('commerce') }}</strong></td><td>{{ order.shortNumber }}</td></tr>
                            <tr><td><strong>{{ 'Full'|t('commerce') }}</strong></td><td>{{ order.number }}</td></tr>
                        </table>
                    </span>
                </td>
            </tr>
            <tr>
                <td><strong>{{ "Customer"|t('commerce') }}</strong>
                </td>
                <td>{% if order.customer.user %}<a
                        href="{{ order.customer.user.cpEditUrl }}">{{ order.email }}</a>{% else %}{{ order.email }}&nbsp;({{ "Guest"|t('commerce') }}) {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>{{ "Order Date"|t('commerce') }}</strong>
                </td>
                <td>
                    <div id="order-completion" class="hidden">
                        {% if order.isCompleted %}
                            <span title="{{ order.dateOrdered|date('r') }}">{{ order.dateOrdered|date('D jS M Y') }}</span>
                        {% else %}
                            <div id="order-completionStatus">
                                <a href="#"
                                   class="updatecompletion btn small"> {{ "Mark as complete"|t('commerce') }}</a>
                            </div>
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td><strong>{{ "Status"|t('commerce') }}</strong>
                </td>
                {% if order.orderStatus %}
                    <td>
                        <div id="order-status"
                             class="hidden">{{ order.orderStatus.labelHtml|raw }}
                            &nbsp; <a
                                    href="#"
                                    class="updatestatus btn small"
                                    data-currentStatus="{{ order.orderStatus.attributes|json_encode() }}"
                                    data-orderStatuses="{{ orderStatusesJson }}">{{ "Update status"|t('commerce') }}</a>
                        </div>
                    </td>
                {% else %}
                    <td><span class="status"></span></td>
                {% endif %}
            {% if order.shippingMethodHandle %}
            <tr>
                <td><strong>{{ "Shipping"|t('commerce') }}</strong>
                </td>
                <td>{{order.shippingMethod.name ?? order.shippingMethodHandle ?? ''}}</td>
            </tr>
            {% endif %}
            <tr>
                <td><strong>{{ "Total Price"|t('commerce') }}</strong>
                </td>
                <td>{{ order.totalPrice|currency(order.currency) }}</td>
            </tr>
            <tr>
                <td><strong>{{ "Paid Status"|t('commerce') }} </strong>
                </td>
                <td>{{ order.paidStatusHtml|raw }}</td>
            </tr>
            {% if order.isPaid %}
            <tr>
                <td><strong>{{ "Paid Date"|t('commerce') }} </strong>
                </td>
                <td>
                    {% if order.datePaid %}
                    <span title="{{ order.datePaid|date('r') }}">{{ order.datePaid|date('D jS M Y') }}</span>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr>
                <td><strong>{{ "Last Updated"|t('commerce') }} </strong>
                </td>
                <td><span title="{{ order.dateUpdated|date('r') }}">{{ order.dateUpdated|date('D jS M Y') }}</span></td>
            </tr>
            {% endif %}
            <tr>
                <td><strong>{{ "Paid Amount"|t('commerce') }} </strong>
                </td>
                <td>{{ order.totalPaid|currency(order.currency) }}</td>
            </tr>
            <tr>
                <td>
                    <strong>{{ "IP Address"|t('commerce') }} </strong>
                </td>
                <td>{{ order.lastIp }}</td>
            </tr>
            <tr>
                <td>
                    <strong>{{ "Order Currency"|t('commerce') }} </strong>
                </td>
                <td>{{ order.currency }}</td>
            </tr>
            {% if order.currency != order.paymentCurrency %}
                <tr>
                    <td>
                        <strong>{{ "Payment Currency"|t('commerce') }} </strong>
                    </td>
                    <td>{{ order.paymentCurrency }}</td>
                </tr>
            {% endif %}
            {% if order.couponCode %}
                <tr>
                    <td>
                        <strong>{{ "Coupon"|t('commerce') }} </strong>
                    </td>
                    <td>{{ order.couponCode }}</td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>
