<div id="orderDetailsTab">
    {% if order.lineItems | length or order.totalPrice > 0 %}
        <div class="order-details pane">
            <table id="" class="data fullwidth collapsible">
                <thead>
                <tr>
                    <th scope="col">{{ 'Item'|t('commerce') }}</th>
                    <th scope="col">{{ 'Note'|t('commerce') }}</th>
                    <th scope="col">{{ 'Price'|t('commerce') }}</th>
                    <th scope="col">{{ 'Quantity'|t('commerce') }}</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>

                {% for lineItem in order.lineItems %}

                    {% set info = [
                        { label: "Description", value: lineItem.description },
                        { label: "Tax Category", value: lineItem.taxCategory.name },
                        { label: "Shipping Category", value: lineItem.shippingCategory.name },
                        { label: "Price", value: lineItem.price|currency(order.currency) },
                        { label: "Sale Amount", value: lineItem.saleAmount|currency(order.currency) },
                        { label: "Sale Price", value: lineItem.salePrice|currency(order.currency) },
                        { label: "Quantity", value: lineItem.qty },
                        { label: "Sub-total", value: lineItem.subtotal|currency(order.currency) },
                        { label: "Total (with adjustments)", value: lineItem.total|currency(order.currency) },
                    ] %}

                    <tr class="infoRow" data-id="{{ lineItem.id }}" data-info="{{ info|json_encode }}">
                        <td data-title="{{ 'Item'|t('commerce') }}">
                            {% if lineItem.purchasable %}
                                {% if lineItem.purchasable.cpEditUrl %}
                                    <a class="purchasable-link"
                                       href="{{ lineItem.purchasable.cpEditUrl }}">{{ lineItem.description }}</a>
                                {% else %}
                                    <span class="description">{{ lineItem.description }}</span>
                                {% endif %}
                            {% else %}
                                <span class="description">{{ lineItem.description }}</span>
                            {% endif %}
                            <br><span class="code">{{ lineItem.sku }}</span>
                            {% if lineItem.options|length %}
                                <a class="fieldtoggle first last"
                                   data-target="info-{{ lineItem.id }}">{{ "Options"|t('commerce') }}</a>
                                <span id="info-{{ lineItem.id }}"
                                      class="hidden">
                                {% for key, option in lineItem.options %}
                                    {{ key|t('commerce') }}: {% if option is iterable %}
                                    <code>{{ option|json_encode|raw }}</code>{% else %}{{ option }}{% endif %}
                                <br>
                                {% endfor %}
                                    </span>
                            {% endif %}
                        </td>
                        <td data-title="{{ 'Note'|t('commerce') }}">
                            {% if lineItem.note %}
                                <span class="info">
                                    {{ lineItem.note|nl2br }}
                                </span>
                            {% endif %}
                        </td>
                        <td data-title="{{ 'Price'|t('commerce') }}">
                            {{ lineItem.salePrice|currency(order.currency) }}
                        </td>
                        <td data-title="{{ 'Qty'|t('commerce') }}">
                            {{ lineItem.qty }}
                        </td>
                        <td></td>
                        <td data-title="{{ 'Sub-total'|t('commerce') }}">
                            <span class="right">{{ lineItem.subtotal|currency(order.currency) }}</span>
                        </td>
                        <td>
                                <span class="tableRowInfo" data-icon="info"
                                      href="#"></span>
                        </td>
                    </tr>
                    {% for adjustment in lineItem.adjustments %}
                        <tr>
                            <td></td>
                            <td>
                                <strong>{{ adjustment.type|title|t('commerce') }} {{ "Adjustment"|t('commerce') }}</strong><br>{{ adjustment.name|title }}
                                <span class="info"><strong>{{ adjustment.type|title|t('commerce') }} {{ "Adjustment"|t('commerce') }}</strong><br> {{ adjustment.description }}</span>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <span class="right">{{ adjustment.amount|currency(order.currency) }}</span>
                            </td>
                            <td></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>{{ "Items Total (with adjustments)" }}</strong></td>
                    <td>
                        <span class="right">{{ order.itemTotal|currency(order.currency) }}</span>
                    </td>
                    <td></td>
                </tr>

                {% for adjustment in order.orderAdjustments %}
                    <tr>
                        <td>
                            <strong>{{ adjustment.type|title|t('commerce') }} {{ "Adjustment"|t('commerce') }}</strong><br>{{ adjustment.name|title }}
                            <span class="info"><strong>{{ adjustment.type|title|t('commerce') }} {{ "Adjustment"|t('commerce') }}</strong><br> {{ adjustment.description }}</span>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <span class="right">{{ adjustment.amount|currency(order.currency) }}</span>
                        </td>
                        <td></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td>
                        {% if order.isPaid and order.totalPrice > 0 %}
                            <div class="paidLogo">
                                <span>{{ 'PAID'|t('commerce') }}</span></div>
                        {% endif %}
                    </td>
                    <td></td>
                    <td></td>
                    <td><h2>{{ "Total Price"|t('commerce') }}</h2></td>
                    <td>
                        <h2 class="right">{{ order.totalPrice|currency(order.currency) }}</h2>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endif %}

    {% hook "cp.commerce.order.edit.main-pane" %}
</div>
