<div class="order-info">

    <div class="order-info-box">
        <table class="fullwidth data borderless">
            <tr>
                <td><strong>{{ "Reference"|t('commerce') }}</strong>
                </td>
                <td>
                    <span title="{{ "Full Reference Number"|t('commerce') }}: {{ order.number }}">{{ order.shortNumber }}</span>
                </td>
            </tr>
            <tr>
                <td><strong>{{ "Customer"|t('commerce') }}</strong>
                </td>
                <td>{% if order.customer.user %}<a
                        href="{{ order.customer.user.cpEditUrl }}">{{ order.email }}</a>{% else %}{{ order.email }}&nbsp;({{ "Guest"|t('commerce') }}) {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>{{ "Order Date"|t('commerce') }}</strong>
                </td>
                <td>
                    <div id="order-completion" class="hidden">
                        {% if order.isCompleted %}
                            {{ order.dateOrdered|date('D jS M Y') }}
                        {% else %}
                            <div id="order-completionStatus">
                                <a href="#"
                                   class="updatecompletion btn small"> {{ "Mark as Complete"|t('commerce') }}</a>
                            </div>
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td><strong>{{ "Status"|t('commerce') }}</strong>
                </td>
                {% if order.orderStatus %}
                    <td>
                        <div id="order-status"
                             class="hidden">{{ order.orderStatus.htmlLabel|raw }}
                            &nbsp; <a
                                    href="#"
                                    class="updatestatus btn small"
                                    data-currentStatus="{{ order.orderStatus.attributes|json_encode() }}"
                                    data-orderStatuses="{{ orderStatusesJson }}">{{ "Update Status"|t('commerce') }}</a>
                        </div>
                    </td>
                {% else %}
                    <td><span class="status"></span></td>
                {% endif %}
            <tr>
                <td><strong>{{ "Total"|t('commerce') }}</strong>
                </td>
                <td>{{ order.totalPrice|currency(order.currency) }}</td>
            </tr>
            <tr>
                <td><strong>{{ "Paid"|t('commerce') }} </strong>
                </td>
                <td>{{ order.totalPaid|currency(order.currency) }} {{ order.datePaid|date('D jS M Y') }}</td>
            </tr>
            <tr>
                <td>
                    <strong>{{ "IP Address"|t('commerce') }} </strong>
                </td>
                <td>{{ order.lastIp }}</td>
            </tr>
            <tr>
                <td>
                    <strong>{{ "Order Currency"|t('commerce') }} </strong>
                </td>
                <td>{{ order.currency }}</td>
            </tr>
            {% if order.currency != order.paymentCurrency %}
                <tr>
                    <td>
                        <strong>{{ "Payment Currency"|t('commerce') }} </strong>
                    </td>
                    <td>{{ order.paymentCurrency }}</td>
                </tr>
            {% endif %}
            {% if order.couponCode %}
                <tr>
                    <td>
                        <strong>{{ "Coupon"|t('commerce') }} </strong>
                    </td>
                    <td>{{ order.couponCode }}</td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>