{% import "_includes/forms" as forms %}

<div class="payment-forms">
    {% set paymentFormOptions = [{ label: "Select a gateway"|t('commerce') }] %}

    {% for gateway in gateways %}
        {% set paymentFormOptions = paymentFormOptions|merge([{ label: gateway.name, value: gateway.id }]) %}
    {% endfor %}

    {{ forms.selectField({
        id: 'payment-form-select',
        label: "Payment Method"|t('commerce'),
        name: 'gatewayId',
        options: paymentFormOptions,
        value: order.gatewayId,
        class: 'payment-form-select'
    }) }}

    {{ paymentForms|raw }}

</div>
