{% set showNav = false %}

{% extends 'commerce/_layouts/main' %}

{% block header %}
    <div id="header" class="container">
        <div class="row">
            <div class="twelve columns">
                <a href="{{ url('commerce') }}">{%- include "commerce/_images/logo" with {'class': 'logo'} -%}</a>

                <div class="flash">{{ craft.session.getFlash('notice') }}</div>
                <div class="flash">{{ craft.session.getFlash('error') }}</div>

            </div>
        </div>
    </div>
{% endblock %}


{% block main %}

    {% if cart.isEmpty %}
        {% redirect 'commerce/products' %}
    {% endif %}

    {% include 'commerce/_includes/meter' %}

    {% block content %}

    {% endblock %}

{% endblock %}
