{% extends "commerce/_layouts/settings" %}

{% set selectedTab = 'settings' %}
{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}
{% do view.registerTranslations('commerce', [
    'Order statuses reordered.',
    'Couldn’t reorder statuses.',
    'Has Emails?',
    'Default Status?',
]) %}

{% block actionButton %}
    <a href="{{ url('commerce/settings/orderstatuses/new') }}" class="btn submit add icon">{{ 'New order status'|t('commerce') }}</a>
{% endblock %}

{% block content %}
    <div id="statuses-vue-admin-table"></div>
{% endblock %}

{% set tableData = [] %}
{% for orderStatus in orderStatuses %}
	{% set tableData = tableData|merge([{
        id: orderStatus.id,
        labelHtml: {
            url: orderStatus.cpEditUrl,
            html: orderStatus.labelHtml|raw
        },
        title: orderStatus.name|t('site'),
        url: orderStatus.cpEditUrl,
        handle: orderStatus.handle|e,
        hasEmails: orderStatus.emails|length ?:'',
        default: orderStatus.default ? true : false,
        _showDelete: orderStatus.canDelete(),
    }]) %}
{% endfor %}

{% js %}
    var columns = [
        {
            name: 'labelHtml',
            title: Craft.t('app', 'Name'),
            callback: function(value) {
                return '<a class="cell-bold" href="'+value.url+'">'+value.html+'</a>';
            }
        },
        { name: '__slot:handle', title: Craft.t('app', 'Handle') },
        { name: 'hasEmails', title: Craft.t('commerce', 'Has Emails?') },
        {
            name: 'default',
            title: Craft.t('commerce', 'Default Status?'),
            callback: function(value) {
                if (value) {
                    return '<span data-icon="check" title="'+Craft.escapeHtml(Craft.t('app', 'Yes'))+'"></span>';
                }
            }
        }
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#statuses-vue-admin-table',
        deleteAction: 'commerce/order-statuses/delete',
        minItems: 1,
        padded: true,
        reorderAction: 'commerce/order-statuses/reorder',
        reorderSuccessMessage: Craft.t('commerce', 'Order statuses reordered.'),
        reorderFailMessage:    Craft.t('commerce', 'Couldn’t reorder statuses.'),
        tableData: {{ tableData|json_encode|raw }},
    });
{% endjs %}
