{% extends "market/_layouts/commerce" %}
{% block title %}Charge Confirmation{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
<h2>Charge Success</h2>

{% set stripeId = craft.request.getSegment(4) %}
{% set charge = craft.stripey.charges.stripeId(stripeId).first() %}
<ul>
    <li><strong>Stripe id:</strong> {{charge.stripeId}}</li>
    <li><strong>Amount:</strong> {{charge.amount}}</li>
</ul>

CSRF Enabled? {{craft.config.enableCsrfProtection}}


{% endblock %}
