{% extends 'commerce/_layouts/main' %}

{%  block main %}
<div class="row"><div class="eleven columns">

    {% import 'commerce/_includes/forms' as forms %}

    <table class="u-full-width">
        <thead>
        <tr>
            <th>Product</th>
            <th>Qty</th>
            <th class="text-right">Price</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart.lineItems %}
        <tr>
            <td>
                <strong>{{ item.purchasable.description }}</strong><br/>
                {{ item.purchasable.sku }}
                {{ forms.removeFromCartButton(item) }}
            </td>
            <td>
                {{ forms.updateLineItemForm(item) }}
            </td>
            <td class="text-right">
                {% if item.onSale %}
                    <s>Price: {{ item.price|commerceCurrency }}</s><br/>
                    Sale Off: {{ item.saleAmount|commerceCurrency }}<br/>
                    Sale Price {{ item.salePrice|commerceCurrency }}<br/>
                    Sale Price Subtotal: {{ item.subtotalWithSale|commerceCurrency }}<br/>
                {% else %}
                    Price: {{ item.price|commerceCurrency }}<br/>
                    Sale Price {{ item.salePrice|commerceCurrency }}<br/>
                    Sale Price Subtotal: {{ item.subtotalWithSale|commerceCurrency }}<br/>
                {% endif %}

                Discount: {{ item.discount|commerceCurrency }}<br/>
                Taxes: {{ item.tax|commerceCurrency }}<br/>
                Ship Total: {{ item.shippingCost|commerceCurrency }}<br/>
                Total: {{ item.total|commerceCurrency }}<br/>
            </td>
        </tr>
        {%  endfor %}

        {%  for adjustment in cart.adjustments %}
            <tr>
            <td>{{ adjustment.type }}
            </td>
            <td> <strong>{{ adjustment.name }}</strong><br/>({{ adjustment.description }})</td>
            <td class="text-right">{{ adjustment.amount|commerceCurrency }}</td>
            </tr>
        {% endfor %}

        <tr>
            <td>
                {{ forms.emptyCartForm(cart) }}
                {{ forms.updateCouponForm(cart) }}
            </td>
            <td>
            </td>
            <td class="text-right">
                Item Total: {{ cart.itemTotal|commerceCurrency }}<br/>
                Base Discount: {{ cart.baseDiscount|commerceCurrency }}<br/>
                Base Shipping Rate: {{ cart.baseShippingCost|commerceCurrency }}<br/>
                <h4>Total Price: {{ cart.totalPrice|commerceCurrency }}</h4>
            </td>
        </tr>

        </tbody>
    </table>

        <a class="button button-primary" href="{{ url('commerce/checkout') }}">Checkout</a>

    {% if not cart.lineItems|length %}
        <p>You have no items in your cart, add some on the <a href="/commerce/products">products page</a>.</p>
    {% endif %}

    </div>
</div>
{%  endblock %}