{% extends 'commerce/_layouts/main' %}

{%  block main %}

    <div class="row">
        <div class="eleven columns">
            <p>
                Example templates are provided by Pixel & Tonic.
            </p>
            <p>Additional Resources:
                <ul>
                    <li><a href="http://buildwithmarket.com/docs">Craft Commerce Documentation</a>.</li>
                    <li><a href="https://buildwithcraft.com/docs/introduction">Craft CMS Documentation</a>.</li>
                    <li><a href="http://craftcms.stackexchange.com">Craft CMS Stack Exchange</a>. Use the <code>commerce-plugin</code> tag.</li>
                    <li><a href="http://buildwithcraft.com/community#slack">Slack Community</a>. Use the <code>#craftcommerce</code> channel.</li>
                </ul>
            </p>
        </div>
    </div>

{%  endblock %}