{% extends 'commerce/_layouts/main' %}
{% block main %}

    {% for product in craft.commerce.products.find() %}
        <div class="row">
            <div class="eleven columns">
                <div class="flash">{{ craft.session.getFlash('commerce') }}</div>
            </div>
        </div>
        <div class="row">
            <div class="two columns">
                {% include "commerce/_images/productSmall" with { class: 'u-max-full-width' } %}
            </div>
            <div class="ten columns">

                <h5>{{ product.name }}</h5>

                {% if product.type.hasVariants %}
                    {% if product.variants|length %}

                        <form method="POST">
                            <input type="hidden" name="action" value="commerce/cart/add">
                            <input type="hidden" name="redirect" value="commerce/cart">
                            <input type="hidden" name="qty" value="1">
                            <select name="purchasableId">
                                {% for purchasable in product.variants %}
                                    <option {% if purchasable.stock <= 0 and purchasable.unlimitedStock == false %}disabled {% endif %}
                                            value="{{ purchasable.purchasableId }}">{{ purchasable.sku }} {{ purchasable.description }} {{ purchasable.price|commerceCurrency }}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="{{ "Add to cart"|t }}" class="button"/>
                        </form>

                    {% else %}
                        <p>This is a product without any variants.</p>
                    {% endif %}
                {% else %}
                    <strong>{{ product.implicitVariant.description }}</strong><br/>
                    <strong>SKU</strong> {{ product.implicitVariant.sku }}<br/>
                    <strong>Price</strong>
                    {% if product.implicitVariant.onSale %}
                        <strike>{{ product.implicitVariant.price|commerceCurrency }}</strike>   {{ product.implicitVariant.salePrice|commerceCurrency }}
                    {% else %}
                        {{ product.implicitVariant.price|commerceCurrency }}
                    {% endif %}<br/>
                    <strong>Stock</strong> {{ product.implicitVariant.unlimitedStock ? 'Unlimited'|t : product.implicitVariant.stock }}
                    <br/>
                    <form method="POST">
                        <input type="hidden" name="action" value="commerce/cart/add">
                        <input type="hidden" name="redirect" value="commerce/cart">
                        <input type="hidden" name="qty" value="1">
                        <input type="hidden" name="purchasableId" value="{{ product.implicitVariant.purchasableId }}">
                        <input {% if product.implicitVariant.stock <= 0 and product.implicitVariant.unlimitedStock == false %}disabled {% endif %}
                               type="submit" value="{{ "Add to cart"|t }}" class="button"/>
                    </form>
                {% endif %}

            </div>
        </div>
    {% endfor %}

{% endblock %}
