{% extends "commerce/_layouts/settings" %}

{% set selectedTab = 'settings' %}

{% block content %}
    <h2>{{ "Line Item Statuses"|t('commerce') }}</h2>
    <p>{{ "Define the statuses that can be set on line items."|t('commerce') }}</p>

    <div id="no-product-types"{% if lineItemStatuses|length %} class="hidden"{% endif %}>
        <p>{{ "No line item statuses exist yet."|t('commerce') }}</p>
    </div>

    {% if lineItemStatuses|length %}
    <table id="line-item-statuses" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col">{{ "Name"|t('commerce') }}</th>
            <th scope="col">{{ "Handle"|t('commerce') }}</th>
            <th scope="col">{{ "Default Status?"|t('commerce') }}</th>
            <td class="thin"></td>
            <td class="thin"></td>
        </tr>
        </thead>
        <tbody>
        {% for lineItemStatus in lineItemStatuses %}
            <tr data-id="{{ lineItemStatus.id }}"
                data-name="{{ lineItemStatus.handle }}">
                <th scope="row" data-title="{{ 'Name'|t('commerce') }}"><a
                            href="{{ lineItemStatus.getCpEditUrl() }}">{{ lineItemStatus.labelHtml|raw }}</a>
                </th>
                <td data-title="{{ 'Handle'|t('commerce') }}"
                    class="code">{{ lineItemStatus.handle }}</td>
                <td>{% if lineItemStatus.default %}<span data-icon="check"
                                                      title="{{ 'Yes'|t('commerce') }}"></span>{% endif %}
                </td>
                <td class="thin"><a class="delete icon"
                                        title="{{ 'Delete'|t('commerce') }}"
                                        role="button"></a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% endif %}

    <div class="buttons">
        <a href="{{ url('commerce/settings/lineitemstatuses/new') }}"
           class="btn submit add icon">{{ 'New line item status'|t('commerce') }}</a>
    </div>
{% endblock %}

{% js %}
    new Craft.AdminTable({
    tableSelector: '#line-item-statuses',
    deleteAction: 'commerce/line-item-statuses/archive',
    confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}”, this will set all line items with this status to no status?"|t('app') }}',
    minObjects: 1,
    sortable: true,
    reorderAction: 'commerce/line-item-statuses/reorder',
    reorderSuccessMessage: Craft.t('commerce', 'Line item statuses reordered.') ,
    reorderFailMessage:    Craft.t('commerce', 'Couldn’t reorder statuses.')
    });
{% endjs %}
