/* Chart Explorer */

.chart-explorer { position: relative; }

.chart-explorer .chart-header { position: relative; margin-bottom: 14px; }
.chart-explorer .chart-header .datewrapper { width: auto; float: right; }
.chart-explorer .chart-header .datewrapper input { width: 200px; }
.chart-explorer .chart-header .error { float: right; }
.chart-explorer .chart-header .spinner { position: absolute; top: 0; right: 0; }
