.widget.commerce_revenue .body .dateRange { margin-top: -7px; }
.widget.commerce_revenue .body .chart { height: 200px; margin: -10px -24px; }
.widget.commerce_revenue .body .infos .dateRange { margin-left: 7px; }