
.chart {
    width: 100%;
    height: 300px;
    background: #fafafa;
    margin-bottom: 24px;
/*    width: 100%;
    background: #fafafa;
    margin:  14px -24px;
    width: calc(100% + 48px);*/
}


.chart .axis path,
.chart .axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}
.chart .axis text {
    fill: #aaa;
}

.chart .area {
    stroke: RGBA(0, 138, 202, 1);
    fill: RGBA(0, 138, 202, .5);
    stroke-width: 1px;
}