{% extends 'shop/_layouts/main' %}
{% block main %}

{% if currentUser %}
    {% for plan in craft.commerce.getPlans() %}
        <div class="row service">
            <div class="two columns">
                {{ plan.getFriendlyPlanName() }}
            </div>
            <div class="ten columns">
                {% set subscription = plan.getActiveUserSubscription(currentUser.id) %}
                {% if subscription %}
                    <h5>You have an active subscription. </h5>
                    {% if subscription.isCanceled %}
                        Your subscription will expire on {{ subscription.dateCanceled|date('Y-m-d') }}
                    {% else %}
                        Your next payment is due on {{ subscription.nextPaymentDate|date('Y-m-d') }}
                    {% endif %}
                    <br /><br />
                    <a href="{{ url('/shop/services/subscription', {subscription: subscription.id}) }}">View details</a><br /><br />

                    {% if not subscription.isCanceled %}
                        <form method="POST">
                            <input type="hidden" name="action" value="commerce/subscriptions/cancel-subscription">
                            <input type="hidden" name="subscriptionId" value="{{ subscription.id }}" />
                            {{ redirectInput('shop/services') }}
                            {{ csrfInput() }}

                            <button type="submit">{{ "Unsubscribe"|t }}</button>
                        </form>
                    {% endif %}
                {% else %}
                    <form method="POST">
                        <input type="hidden" name="action" value="commerce/subscriptions/subscribe">
                        <input type="hidden" name="planId" value="{{ plan.id }}">
                        {{ redirectInput('shop/services') }}
                        {{ csrfInput() }}

                        <button type="submit">{{ "Subscribe"|t }}</button>
                    </form>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}
