{% extends 'shop/_layouts/main' %}
{% block main %}

{% set plans = craft.commerce.getPlans().getAllPlans() %}

{% if currentUser and plans|length%}
    {% for plan in plans %}
        <div class="row service">
            <div class="two columns">
                <h4>{{ plan.name }}</h4>
                {% set information = plan.getInformation() %}
            </div>
            <div class="ten columns">
                {% set subscriptions = plan.getActiveUserSubscriptions(currentUser.id) %}
                {% if subscriptions|length == 0 %}
                    <p><strong>You have no subscriptions to this plan.</strong></p>
                {% endif %}
                {% if subscriptions|length > 1 %}
                    <p><strong>You have multiple subscriptions to this plan.</strong></p>
                {% endif %}
                {% for subscription in subscriptions %}
                    {% if subscription.isCanceled %}
                        Your subscription was canceled on {{ subscription.dateCanceled|date('Y-m-d') }} and will expire on {{ subscription.nextPaymentDate|date('Y-m-d') }}
                    {% else %}
                        You are subscribed and your next payment is due on {{ subscription.nextPaymentDate|date('Y-m-d') }}
                    {% endif %}
                    <br /><br />

                    <a href="{{ url('/shop/services/subscription', {subscription: subscription.id}) }}">Manage subscription</a><br /><br />
                {% endfor %}
            </div>
        </div>
        {% if loop.last %}
            <hr />
        {% endif %}
    {% endfor %}
    <div class="row">
        <div class="two columns">
            <h4>Subscribe</h4>
        </div>
        <div class="ten columns">
            <form method="POST">
                <input type="hidden" name="action" value="commerce/subscriptions/subscribe">
                {{ redirectInput('shop/services') }}
                {{ csrfInput() }}

                <div>
                    <select name="planId" id="planSelect">
                        {% for plan in plans %}
                            <option value="{{ plan.id|hash }}">{{ plan.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                {% set plan = plans[0] %}

                {# Since only stripe currently supports subscriptions, we can get away with non-gateway-specific subscription forms #}
                {{ plan.gateway.subscriptionFormHtml|raw }}

                {% set paymentSources = craft.commerce.getPaymentSources().getAllGatewayPaymentSourcesByUserId(plan.gateway.id, currentUser.id ?? null) %}

                {% if not paymentSources|length %}
                    <div class="paymentForm">
                        {{ plan.gateway.getPaymentFormHtml({})|raw }}
                    </div>
                {% endif %}

                <button type="submit">{{ "Subscribe"|t }}</button>
            </form>
        </div>
    </div>
{% endif %}
{% endblock %}
