{% if cart.paymentMethodId %}
    <p><strong>Chosen payment method:</strong> {{ cart.paymentMethod.name }}</p>
{% endif %}

<form method="POST" class="form-inline">

    <input type="hidden" name="action" value="market/cart/setPaymentMethod">
    <input type="hidden" name="redirect" value="commerce/checkout/payment">
    <input type="hidden" name="orderTypeHandle" value="order">
    {{ getCsrfInput() }}

    <label for="">Payment Method</label>
    <select name="paymentMethodId" class="form-control" >
        {% for id,name in craft.market.getPaymentMethods() %}
            <option value="{{ id }}" {% if id == cart.paymentMethod.id %}selected{% endif %}>{{ name }}</option>
        {% endfor %}
    </select>

    <p><input type="submit" class="btn" value="Select Payment Method" /></p>

</form>