{% import "_includes/forms" as forms %}

{{ forms.textField({
    first: true,
    label: "Name"|t('commerce'),
    id: 'name',
    name: 'name',
    value: inventoryLocation.name,
    errors: inventoryLocation.getErrors('name'),
    autofocus: true,
    required: true,
}) }}

{{ forms.textField({
    label: "Handle"|t('commerce'),
    id: 'handle',
    name: 'handle',
    value: inventoryLocation.handle,
    errors: inventoryLocation.getErrors('handle'),
}) }}

{{ forms.hidden({
    name: 'inventoryLocationId',
    value: inventoryLocation.id ?? ''
}) }}

<div id="address-card">
    {{ inventoryLocation.addressCardHtml()|raw }}
</div>

{% hook "cp.commerce.inventoryLocation.edit" %}

{% if not inventoryLocation.id %}
{% js "new Craft.HandleGenerator('##{'name'|namespaceInputId}', '##{'handle'|namespaceInputId}');" %}
{% endif %}