{% extends "commerce/_layouts/cp" %}

{% set selectedSubnavItem = "promotions" %}

{% set crumbs = [
    { label: "Promotions"|t('commerce'), url: url('commerce/promotions') },
    { label: "Sales"|t('commerce'), url: url('commerce/promotions/sales') },
] %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}
{% import "commerce/_includes/forms/commerceForms" as commerceForms %}


{% set actionClasses = "" %}
{% if (sale.getErrors('applyAmount') or sale.getErrors('apply')) %}
    {% set actionClasses = "error" %}
{% endif %}

{% set saleClasses = "" %}
{% if(sale.getErrors('name')) %}
    {% set saleClasses = "error" %}
{% endif %}

{% set tabs = {
    0: {'label':'Sale'|t('commerce'),'url':'#sale','class': saleClasses},
    1: {'label':'Conditions'|t('commerce'),'url':'#conditions'},
    2: {'label':'Actions'|t('commerce'),'url':'#actions','class': actionClasses}
} %}


{% block content %}
    <input type="hidden" name="action" value="commerce/sales/save">
    {{ redirectInput('commerce/promotions/sales') }}
    {% if sale.id %}
        <input type="hidden" name="id" value="{{ sale.id }}">
        <input type="hidden" name="sortOrder" value="{{ sale.sortOrder }}">
    {% endif %}

    <div id="sale">
        {{ forms.textField({
            first: true,
            label: "Name"|t('commerce'),
            instructions: "What this sale will be called in the CP."|t('commerce'),
            id: 'name',
            name: 'name',
            value: sale.name,
            errors: sale.getErrors('name'),
            autofocus: true,
            required: true,
        }) }}

        {{ forms.textField({
            label: "Description"|t('commerce'),
            instructions: "Sale description."|t('commerce'),
            id: 'description',
            name: 'description',
            value: sale.description,
            errors: sale.getErrors('description'),
        }) }}

        {{ forms.lightSwitchField({
            label: "Enable this sale"|t('commerce'),
            id: 'enabled',
            name: 'enabled',
            value: 1,
            on: sale.enabled,
            checked: sale.enabled,
            errors: sale.getErrors('enabled'),
            instructions: 'Whether this sale should be available for use, regardless of other conditions.'|t('commerce')
        }) }}

    </div>

    <div id="conditions" class="hidden">
        {{ forms.dateTimeField({
            label: "Start Date"|t('commerce'),
            instructions: "Date from which the sale will be active. Leave blank for unlimited start date"|t('commerce'),
            id: 'dateFrom',
            name: 'dateFrom',
            value: sale.dateFrom,
            errors: sale.getErrors('dateFrom'),
        }) }}

        {{ forms.dateTimeField({
            label: "End Date"|t('commerce'),
            instructions: "Date when the sale will be finished. Leave blank for unlimited end date"|t('commerce'),
            id: 'dateTo',
            name: 'dateTo',
            value: sale.dateTo,
            errors: sale.getErrors('dateTo'),
        }) }}
        <div class="grid">
            {% if groups|length %}
                {{ forms.multiselectField({
                    label: 'User Groups'|t('commerce'),
                    instructions: "Groups for which this sale will be applicable to. Leave blank for all groups"|t('commerce'),
                    id: 'groups',
                    name: 'groups',
                    options: groups,
                    values: sale.getUserGroupIds(),
                    errors: sale.getErrors('groups'),
                    class: 'selectize fullwidth',
                }) }}
            {% endif %}

            {% for purchasableType in purchasableTypes %}
                {% set instruction = "Purchasables for which this sale will be applicable to. Leave all purchasable fields blank for any purchasable."|t('commerce') %}
                {{ forms.elementSelectField({
                    id: 'purchasables-'~purchasableType.elementType|id,
                    label: purchasableType.name,
                    name: 'purchasables['~purchasableType.elementType~']',
                    elements: purchasables[purchasableType.elementType] ?? null,
                    elementType: purchasableType.elementType,
                    limit: null,
                    instructions: purchasableType.name~" "~instruction,
                    errors: sale.getErrors('purchasables-'~purchasableType.elementType|replace('\\','-'))
                }) }}
            {% endfor %}

            {{ forms.elementSelectField({
                id: 'categories',
                label: 'Categories'|t('commerce'),
                name: 'categories',
                elements: categories ? categories : null,
                elementType: categoryElementType,
                limit: null,
                instructions: "Categories that the purchasables must be related to. Leave blank for all categories."|t('commerce'),
                errors: sale.getErrors('categories'),
            }) }}
        </div>

    </div>

    <div id="actions" class="hidden">

        {{ forms.radioGroupField({
            label: 'Effect'|t('commerce'),
            instructions: "Select how the sale will be applied to the purchasable."|t('commerce'),
            name: 'apply',
            options: {
                'byPercent' : 'Reduce the price by a percentage of the original price'|t('commerce'),
                'toPercent' : 'Set the price to a percentage of the original price'|t('commerce'),
                'byFlat' : 'Reduce the price by a flat amount'|t('commerce'),
                'toFlat' : 'Set the price to a flat amount'|t('commerce'),
            },
            value: sale.apply,
            errors: sale.getErrors('apply'),
            required: true,
        }) }}

        {% set applyAmounyVzlue %}{% spaceless %}
            {% if sale.apply == 'byPercent' or sale.apply == 'toPercent' %}
                {{ sale.applyAmountAsPercent }}
            {% else %}
                {{ sale.applyAmountAsFlat }}
            {% endif %}
        {% endspaceless %}{% endset %}
        {{ forms.textField({
            label: "Amount"|t('commerce'),
            instructions: "A percentage value or a flat amount to be used (for example: ‘3%’ for 3% off, and ‘10’ for $10 off). Percentages are rounded to 2 decimal places."|t('commerce'),
            id: 'applyAmount',
            name: 'applyAmount',
            required: true,
            value: applyAmounyVzlue,
            errors: sale.getErrors('aplyAmount'),
        }) }}

        {% set ignoresPrevious = ['toFlat','toPercent'] %}
        {% set checked = sale.apply in ignoresPrevious %}
        {{ forms.checkboxField({
            label: "Ignore previous matching sales if this sale matches."|t('commerce'),
            id: 'ignorePrevious',
            name: 'ignorePrevious',
            value: 1,
            checked: (checked or sale.ignorePrevious),
            disabled: checked,
            errors: sale.getErrors('ignorePrevious')
        }) }}

        {{ forms.checkboxField({
            label: "Do not apply subsequent matching sales beyond applying this sale."|t('commerce'),
            id: 'stopProcessing',
            name: 'stopProcessing',
            value: 1,
            checked: sale.stopProcessing,
            errors: sale.getErrors('stopProcessing')
        }) }}

    </div>
{% endblock %}

{% js %}
    $(function() {
      $('#groups, #productTypes').selectize({
        plugins: ['remove_button'],
        dropdownParent: 'body'
      });

    $("form").submit(function() {
        $("input[name=ignorePrevious]").prop('disabled', false);
        if ($("input[name=ignorePrevious]").prop('checked') == true){
            $("#ignorePrevious-field").css('opacity', 0.25);
        };
    });

    $('input[name=apply]').change(function() {
        if (this.value == 'toFlat' || this.value == 'toPercent') {
            $('input[name=ignorePrevious]').prop('disabled', true);
            $('input[name=ignorePrevious]').prop('checked', true);
        }
        if (this.value != 'toFlat' && this.value != 'toPercent') {
            $('input[name=ignorePrevious]').prop('disabled', false);
            $('input[name=ignorePrevious]').prop('checked', false);
        }
    });
    });
{% endjs %}
