{% extends "commerce/_layouts/promotions" %}
{% set selectedSidebarNavItem = 'sales' %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}
{% do view.registerTranslations('commerce', [
  'Duration',
  'Effect',
  'Overrides previous?',
  'Stops subsequent?',
  'No sales exist yet.',
  'Sale reorderd.',
  'Couldn’t reorder sale.',
]) %}

{% block actionButton %}
  <a href="{{ url('commerce/promotions/sales/new') }}" class="btn submit add icon">{{ 'New sale'|t('commerce') }}</a>
{% endblock %}

{% block content %}
  <div id="sales-vue-admin-table"></div>
{% endblock %}

{% set tableData = [] %}
{% for sale in sales %}
  {% set effect = (sale.apply == 'byPercent' or sale.apply == 'toPercent') ?
    sale.applyAmountAsPercent ~ ' ' ~ (sale.apply == 'byPercent' ? 'off original price'|t('commerce')|e : 'of original price'|t('commerce')|e )
    :
    sale.applyAmountAsFlat|commerceCurrency(craft.commerce.paymentCurrencies.primaryPaymentCurrency.iso,convert=true) ~ ' ' ~ (sale.apply == 'byFlat' ? 'off original price'|t('commerce')|e : '(new price)'|t('commerce')|e )
  %}

  {% set dateRange = (sale.dateFrom ? sale.dateFrom|datetime('short') : '∞') ~ ' - ' ~ (sale.dateTo ? sale.dateTo|datetime('short') : '∞') %}
  {% if not sale.dateFrom and not sale.dateTo %}
    {% set dateRange = '∞' %}
  {% endif %}
  {% set tableData = tableData|merge([{
    id: sale.id,
    title: sale.name|t('site'),
    url: url('commerce/promotions/sales/' ~ sale.id),
    status: sale.enabled ? true : false,
    duration: dateRange,
    effect: effect,
    ignore: sale.ignorePrevious ? true : false,
    stop: sale.stopProcessing ? true : false,
  }]) %}
{% endfor %}


{% js %}
var actions = [
    {
        label: Craft.t('app', 'Set Status'),
        actions: [
            {
                label: Craft.t('app', 'Enabled'),
                action: 'commerce/sales/update-status',
                param: 'status',
                value: 'enabled',
                status: 'enabled'
            },
            {
                label: Craft.t('app', 'Disabled'),
                action: 'commerce/sales/update-status',
                param: 'status',
                value: 'disabled',
                status: 'disabled'
            }
        ]
    }
];

var columns = [
    { name: '__slot:title', title: Craft.t('app', 'Name') },
    { name: 'duration', title: Craft.t('commerce', 'Duration') },
    { name: 'effect', title: Craft.t('commerce', 'Effect') },
    { name: 'ignore', title: Craft.t('commerce', 'Overrides previous?'),
        callback: function(value) {
            if (value) {
                return '<span data-icon="check" title="'+Craft.escapeHtml(Craft.t('app', 'Yes'))+'"></span>';
            }

            return '';
        }
    },
    { name: 'stop', title: Craft.t('commerce', 'Stops subsequent?'),
        callback: function(value) {
            if (value) {
                return '<span data-icon="check" title="'+Craft.escapeHtml(Craft.t('app', 'Yes'))+'"></span>';
            }

            return '';
        }
    }
];

new Craft.VueAdminTable({
  actions: actions,
  checkboxes: true,
  columns: columns,
  container: '#sales-vue-admin-table',
  deleteAction: 'commerce/sales/delete',
  emptyMessage: Craft.t('commerce', 'No sales exist yet.'),
  padded: true,
  reorderAction: 'commerce/sales/reorder',
  reorderSuccessMessage: Craft.t('commerce', 'Sale reordered.') ,
  reorderFailMessage:    Craft.t('commerce', 'Couldn’t reorder sale.'),
  tableData: {{ tableData|json_encode|raw }}
});
{% endjs %}
