{% extends "commerce/_layouts/settingscp" %}

{% set crumbs = [
    { label: "Commerce Settings"|t('commerce'), url: url('commerce/settings') },
    { label: "Shipping Zones"|t('commerce'), url: url('commerce/settings/shippingzones') },
] %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}

{% block content %}
    <input type="hidden" name="action" value="commerce/shipping-zones/save">
    {{ redirectInput('commerce/settings/shippingzones') }}
    {% if shippingZone.id %}<input type="hidden" name="shippingZoneId"
                                   value="{{ shippingZone.id }}">{% endif %}
    {% include "commerce/settings/shippingzones/_fields" %}
{% endblock %}
