{% extends "market/_layouts/elementindex" %}
{% set title = "Orders"|t %}
{% set elementType = 'Market_Order' %}
{% set selectedTab = 'orders' %}
{% set selectedSubnavItem = "orders" %}

{% block sidebar %}

    {% if sources is not empty %}
        <nav>
            {% include "market/_elements/sources" %}
        </nav>
    {% endif %}

{% endblock %}