{% extends 'shop/_layouts/main' %}

{% block main %}

    {% set addressId = craft.request.param('addressId') %}
    {% set redirect = craft.request.param('redirect') %}

    {% if not address is defined and addressId %}
        {% set address = craft.commerce.customer.address(addressId) %}
    {% endif %}

    <form method="post">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="commerce/customerAddresses/save">
        {% if redirect %}
            <input type="hidden" name="redirect" value="{{ redirect }}">
        {% else %}
            <input type="hidden" name="redirect" value="shop/customer/addresses">
        {% endif %}

        {% if addressId %}
            <input type="hidden" name="address[id]" value="{{ addressId }}">
        {% endif %}

        {% include 'shop/_includes/addresses/form' %}

        <input type="submit" value="Save Address">
    </form>
    {% if redirect %}
        <a href="/{{ redirect }}">Cancel</a>
    {% else %}
        <a href="{{ url('shop/customer/addresses') }}">Cancel</a>
    {% endif %}

{% endblock %}
