{% extends "market/_layouts/_main" %}
{% block title %}Products{% endblock %}

{% block content %}

{% set products = craft.market.products() %}

<div class="row">
    {% for product in products %}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://placehold.it/800x300">
            <div class="caption">
                <h3>{{product.title}}</h3>
                <p>Available: {{product.availableOn}} - {{product.expiresOn}}</p>
                <p>
                <form method="POST" style="line-height: 30px">
                    <input type="hidden" name="action" value="market/cart/add">
                    <input type="hidden" name="redirect" value="market/cart">
                    <div class="form-group">
                    <select name="variantId" class="form-control">
                        {% for variant in product.variants %}
                        <option value="{{ variant.id }}">
                            SKU: {{ variant.sku }} / Price: {{ variant.price }} {% if variant.onSale %}(sale: {{ variant.salePrice }}){% endif %} / Stock: {{ variant.unlimitedStock ? 'unlimited' : variant.stock }} / {{ variant.optionsText }}
                        </option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="form-group">
                    Quantity*: <input class="form-control" type="number" name="qty" min="1" value="1">
                    </div>
                    <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Add to cart">
                    </div>
                    {% if error is defined %}
                    <strong>Error: {{ error }}</strong>
                    {% endif %}
                </form>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}