/* General */

.order-flex {
  display: flex;
}

.order-flex-grow {
  flex-grow: 1;
}

.order-opacity-50 {
  opacity: .5;
}

.text-right {
  text-align: right;
}

.order-margin-wrapper {
  margin: 0 -10px;
}
.order-margin {
  padding: 0 10px;
}