/* General */

.order-flex {
  display: flex;
}

.order-flex-grow {
  flex-grow: 1;
}

.order-opacity-50 {
  opacity: .5;
}

.text-right {
  text-align: right;
}

.order-margin-wrapper {
  margin: 0 -10px;
}
.order-margin {
  padding: 0 10px;
}


/* VSelect */

.vs--searchable .vs__dropdown-toggle {
  // background: red;
}

.vs__selected-options {
  // background: blue;
  min-width: 0;
  flex-wrap: nowrap;

  input {
    // background: green;
  }

  .vs__selected {
    min-width: 0;
    // background: yellow;

    & > div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.vs__spinner {
  width: 10px;
  height: 10px;
  overflow: hidden;
}