/* Order Details */


/* Order */

.order-indented-block {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.order-block-title {
  margin-right: 20px;
  width: 30%;
}


/* Line Item */

.line-item {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;

  label {
    margin-right: 10px;
  }

  .line-item-title {
    min-width: 200px;
  }

  .order-indented-block:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}


/* Adjustments */

.adjustment {
  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 20, 0.1);
  }

  .meta {
    & > .field:last-child {
      border-bottom: 1px solid rgba(0, 0, 20, 0.1);
    }
  }
}

.adjustment-actions {
  padding: 14px 0;
}


/* Recalculate action */

.recalculate-action {
  margin-top: 14px;

  .recalculate-btn {
    display: inline-block;
  }
}


/* PrismJS fix for .token conflict with Craft’s styles */

.order-details {
  .token {
    background: transparent;
    border: 0;
    padding: 0;
  }
}
