/* Order Details */

/* Starter */

.starter {
  text-align: center;

  div[data-icon] {
    font-size: 4em;
    color: #f1f5f8;
  }
}


/* Order */

.order-block {
  border-top: 1px solid #eee;
  padding: 20px 0;
}

.order-block-title {
  @include margin-right(20px);
}

.order-title {
  font-size: 1.2em;
}


/* Line Item */

.line-item {
  border-bottom: 2px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
  transition: background-color 0.5s ease;

  &.new-line-item {
    background: #FFFFF0;
  }

  label {
    @include margin-right(10px);
  }

  .order-block:first-child {
    border-top: 0;
    padding-top: 0;
  }
}


/* Add line item form */

.add-line-item-form {
  max-width: 500px;
}


/* Purchasable select option */

.purchasable-select-option {
  display: flex;

  .description {
    flex-grow: 1;
  }

  .sku {
    color: $lightTextColor;
    @include margin-right(20px);
  }

  &.notAvailable{
    .description {
      color: $lightTextColor;
    }
    .price {
      color: red;
    }
  }

  .price {
    width: 10%;
    text-align: right;
  }
}

/* Adjustments */

.adjustment {
  padding-bottom: 10px;
  padding-top: 10px;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 20, 0.1);
  }

  &:first-child {
    padding-top: 0px;
  }

  .fields {
    display: flex;
    box-sizing: inherit;
    margin: 0 -10px;

    .field {
      margin: 0;
      width: 25%;
      padding: 0 10px;
      box-sizing: inherit;

      .input {
        &::after {
          display: none !important;
        }

        .select {
          width: 100%;
          box-sizing: border-box;

          select {
            width: 100%;
          }
        }

        input[type="text"] {
          width: 100%;
        }

        .included {
          margin-top: 10px;
        }
      }
    }
  }
}

.adjustment-actions {
  padding: 14px 0;
}


/* Order Price */

.order-price {
  min-width: 160px;
}


/* Recalculate action */

.recalculate-action {
  margin-top: 14px;

  .recalculate-btn {
    display: inline-block;
  }
}


/* PrismJS fix for .token conflict with Craft’s styles */

.order-details {
  .token {
    background: transparent;
    border: 0;
    padding: 0;
  }
}
