/* Order Meta */

.order-status-message {
  margin-top: 10px;
}

.order-number-value {
  display: flex;

  div {
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
  }

  .hidden-input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    input {
      margin: -3000px;
    }
  }

  a {
    @include margin-left(7px);
  }
}