.line-item {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;

  label {
    margin-right: 10px;
  }

  .order-indented-block:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.order-flex {
  display: flex;
}

.order-flex-grow {
  flex-grow: 1;
}

.order-indented-block {
  margin-left: 150px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.order-block-title {
  margin-right: 20px;
  width: 30%;
}

.order-margin-wrapper {
  margin: 0 -10px;
}
.order-margin {
  padding: 0 10px;
}

.text-right {
  text-align: right;
}

.order-details {
  .token {
    background: transparent;
    border: 0;
    padding: 0;
  }
}

.order-recalculate-modes {
  margin-left: 20px;

  .order-recalculate-mode {
    margin: 0 10px;

    .input {
      margin-right: 10px;
    }

    .instructions {
      color: #888;
      font-size: 0.9em;
    }
  }
}