{% extends "commerce/_layouts/settings" %}

{% set selectedItem = 'subscriptions/plans' %}

{% block content %}
    <h2>{{ "Subscription plans"|t('commerce') }}</h2>

    <div id="no-plans"{% if plans|length %} class="hidden"{% endif %}>
        <p>{{ "No subscription plans exist yet."|t('commerce') }}</p>
    </div>

    {% if plans|length %}
        <table id="plans" class="data fullwidth collapsible">
            <thead>
            <tr>
                <th scope="col">{{ "Name"|t('commerce') }}</th>
                <th scope="col">{{ "Handle"|t('commerce') }}</th>
                <th scope="col">{{ "Gateway"|t('commerce') }}</th>
                <th scope="col">{{ "Active subscriptions"|t('commerce') }}</th>
                <th scope="col">{{ "Enabled?"|t('commerce') }}</th>
                <th scope="col">{{ 'Information linked?'|t('commerce') }}</th>
                <td class="thin"></td>
            </tr>
            </thead>
            <tbody>
            {% for plan in plans %}
                <tr data-id="{{ plan.id }}"
                    data-name="{{ plan.name }}">
                    <th scope="row" data-title="{{ 'Name'|t('commerce') }}"><a href="{{ url('commerce/settings/subscriptions/plan/'~plan.id) }}">{{ plan.name }}</a></th>
                    <td data-title="{{ 'Handle'|t('commerce') }}"  class="code">{{ plan.handle }}</td>
                    <td data-title="{{ 'Gateway'|t('commerce') }}">{{ plan.gateway.name }}</td>
                    <td data-title="{{ 'Active subscriptions'|t('commerce') }}">{{ plan.subscriptionCount }}</td>
                    <td data-title="{{ 'Enabled'|t('commerce') }}">{{ plan.enabled ? 'Yes'|t('commerce') : 'No'|t('commerce') }}</td>
                    <td data-title="{{ 'Information linked?'|t('commerce') }}"  class="code">{{ plan.planInformationId ? 'Yes'|t('commerce') : 'No'|t('commerce') }}</td>
                    <td class="thin"><a class="delete icon" title="{{ 'Archive'|t('commerce') }}" role="button"></a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}

    <div class="buttons">
        <a href="{{ url('commerce/settings/subscriptions/plan/new') }}"
           class="btn submit add icon">{{ 'New subscription plan'|t('commerce') }}</a>
    </div>
{% endblock %}

{% js %}
    var adminTable = new Craft.AdminTable({
        tableSelector: '#plans',
        noObjectsSelector: '#no-plans',
        newObjectBtnSelector: '#newPlanButtonContainer',
        deleteAction: 'commerce/plans/archive-plan',
        confirmDeleteMessage: '{{ "Are you sure you want to archive the “{name}” subscription plan? It WILL NOT cancel the existing subscriptions."|t('commerce') }}'
    });
{% endjs %}
