{% extends "commerce/_layouts/settings" %}

{% set selectedItem = 'subscriptions/plans' %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}
{% do view.registerTranslations('commerce', [
    'Gateway',
    'Active subscriptions',
    'Enabled?',
    'Information linked?',
    'Are you sure you want to archive the “{name}” subscription plan? It WILL NOT cancel the existing subscriptions.',
    'No subscription plans exist yet.',
    'Plans reordered.',
    'Couldn’t reorder plans.',
    'Yes',
    'No',
]) %}

{% block activeButton %}
    <a href="{{ url('commerce/settings/subscriptions/plan/new') }}" class="btn submit add icon">{{ 'New subscription plan'|t('commerce') }}</a>
{% endblock %}

{% block content %}
    <div id="plans-vue-admin-table"></div>
{% endblock %}

{% set tableData = [] %}
{% for plan in plans %}
	{% set tableData = tableData|merge([{
        id: plan.id,
        title: plan.name|t('site'),
        url: url('commerce/settings/subscriptions/plan/'~plan.id),
        status: plan.enabled ? true : false,
        handle: plan.handle|e,
        gateway: plan.gateway.name|t('site')|e,
        subscriptions: plan.subscriptionCount,
        information: plan.planInformationId ? 'Yes'|t('commerce')|e : 'No'|t('commerce')|e,
    }]) %}
{% endfor %}


{% js %}
    var columns = [
        { name: '__slot:title', title: Craft.t('app', 'Name') },
        { name: '__slot:handle', title: Craft.t('app', 'Handle') },
        { name: 'gateway', title: Craft.t('commerce', 'Gateway') },
        { name: 'subscriptions', title: Craft.t('commerce', 'Active subscriptions') },
        { name: 'information', title: Craft.t('commerce', 'Information linked?'),
            callback: function(value) {
                return '<span class="code">'+value+'</span>';
            }
        }
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#plans-vue-admin-table',
        deleteAction: 'commerce/plans/archive-plan',
        deleteConfirmationMessage: Craft.t('commerce', 'No subscription plans exist yet.'),
        reorderAction: 'commerce/plans/reorder',
        reorderSuccessMessage: Craft.t('commerce', 'Plans reordered.'),
        reorderFailMessage:    Craft.t('commerce', 'Couldn’t reorder plans.'),
        tableData: {{ tableData|json_encode|raw }}
    });
{% endjs %}
