{% extends "market/_layouts/_main" %}
{% block title %}Orders{% endblock %}

{% block content %}

{% set ordersByStatus = craft.market.orders|group('orderStatusId') %}

<div class="row">
    <div class="col-sm-12 col-md-12">
    {% for statusId, orders in ordersByStatus %}
        <h3>{{ statusId|title }}</h3>
        {% for order in orders %}
        <h3>{{order.number}}</h3>
            <ul>
                <li>Final Price: {{ order.finalPrice }}</li>
            </ul>
        {% endfor %}
    {% endfor %}
    </div>
</div>


{% endblock %}