{% extends "market/_layouts/_main" %}
{% block title %}Orders{% endblock %}

{% block content %}

{% set ordersByStatus = craft.market.orders|group('orderStatus.name') %}

<div class="row">
    <div class="col-sm-12 col-md-12">
    {% for status, orders in ordersByStatus %}
        <h2>{% if status %}{{ status }}{% else %}<i>No Status</i>{% endif %}</h2>
        {% for order in orders %}
        <h5>{{order.number}} #{{ order.id }}</h5>
            <ul>
                <li>Final Price: {{ order.finalPrice }}</li>
                <li>Paid Total: {{ order.paidTotal }}</li>
                {% if order.completedAt %}
                    <li>Completed at: {{ order.completedAt }}</li>
                {% endif %}
            </ul>
        {% endfor %}
    {% endfor %}
    </div>
</div>


{% endblock %}