{% if currentUser %}
    {% redirect 'commerce/checkout/addresses' %}
{% endif %}

{% import 'commerce/_includes/forms' as forms %}
{% extends 'commerce/_layouts/checkout' %}

{% block content %}

    <div class="row">
        <div class="six columns">

            <h3>Already Registered ?</h3>
            {{ forms.loginForm() }}

        </div>

        <div class="six columns">

            <h3>Guest Checkout</h3>
            {{ forms.guestCheckoutForm(cart) }}

        </div>
    </div>
{%  endblock %}