{% extends 'commerce/_layouts/checkout' %}


{% block content %}

    <h2>Order Review</h2>

    <ul>
        <li>
            <strong>Products:</strong> {{ cart.itemTotal|commerceCurrency }}
        </li>

        {% for adjustment in cart.adjustments %}
            <li>
                <strong>{{ adjustment.type }}: </strong> {{ adjustment.amount|commerceCurrency }}
            </li>
        {% endfor %}

        <li>
            <strong>Total:</strong> {{ cart.totalPrice|commerceCurrency }}
        </li>
    </ul>

    <h2>Payment Method</h2>

    {#
    Using the update cart action you could allow the user to select the payment method here.
    We recommend using ajax to set this, so no page refresh is needed. You can also include This would also allow you to show or hide the credit card form
    on method change if the method does not require a card and the submit just redirects offsite.
    #}
    {% if not craft.commerce.paymentMethods|length %}
        <p>No payment methods available.</p>
    {% endif %}

    {% if craft.commerce.paymentMethods|length %}
    <form method="POST" class="form-inline">

        <input type="hidden" name="action" value="commerce/cart/update">
        <input type="hidden" name="redirect" value="commerce/checkout/payment">
        {{ getCsrfInput() }}

        <label for="">Payment Method</label>
        <select name="paymentMethodId" class="form-control" >
            {% for id,name in craft.commerce.paymentMethods %}
                <option value="{{ id }}" {% if id == cart.paymentMethod.id %}selected{% endif %}>{{ name }}</option>
            {% endfor %}
        </select>

        <p><input type="submit" class="btn" value="Select Payment Method" /></p>

    </form>
    {% endif %}

    {% if cart.paymentMethodId %}
        <form method="POST" class="form-horizontal">
            <input type="hidden" name="action" value="commerce/cartPayment/pay"/>
            <input type="hidden" name="redirect" value="/commerce/customer/order?orderId={number}"/>
            <input type="hidden" name="cancelUrl" value="/commerce/checkout/payment"/>
            {{ getCsrfInput() }}

            <div class="row">
                <div class="twelve columns">
                    <div class="page-header">
                        <h3>Credit Card</h3>
                    </div>
                    <noscript>
                        <div class="bs-callout bs-callout-danger">
                            <h4>JavaScript is not enabled!</h4>

                            <p>This payment form requires your browser to have JavaScript enabled. Please activate
                                JavaScript and reload this page. Check <a href="http://enable-javascript.com"
                                                                          target="_blank">enable-javascript.com</a> for
                                more informations.</p>
                        </div>
                    </noscript>

                    <span class="payment-success"></span>
                </div>
            </div>

            <fieldset>
                {% if cart.paymentMethod.requiresCard() %}
                    {% set currentYear = date()|date_modify("+1 year").format('Y') %}
                    {% set formValues = {
                    firstName: paymentForm is defined ? paymentForm.firstName : cart.billingAddress.firstName,
                    lastName: paymentForm is defined ? paymentForm.lastName : cart.billingAddress.lastName,
                    number: paymentForm is defined ? paymentForm.number : '',
                    cvv: paymentForm is defined ? paymentForm.cvv : '',
                    month: paymentForm is defined ? paymentForm.month : 1,
                    year: paymentForm is defined ? paymentForm.year : currentYear,
                    } %}

                    <div class="row">
                        <div class="six columns">
                            
                            <!-- Card Holder Name -->
                            <div class="form-group {% if paymentForm is defined and (paymentForm.hasErrors('firstName') or paymentForm.hasErrors('firstName')) %}has-error{% endif %}">
                                <label>Card Holder</label>

                                <div class="row">
                                    <div class="six columns">

                                        <input type="text" name="firstName" maxlength="70" placeholder="First Name"
                                               class="card-holder-first-name u-full-width"
                                               value="{{ formValues.firstName }}">

                                    </div>

                                    <div class="six columns">
                                        <input type="text" name="lastName" maxlength="70" placeholder="Last Name"
                                               class="card-holder-last-name u-full-width"
                                               value="{{ formValues.lastName }}">

                                    </div>
                                </div>


                                <span class="help-block">{% if paymentForm is defined %}{{ paymentForm.getError('firstName') }}{% endif %}</span>

                                <span class="help-block">{% if paymentForm is defined %}{{ paymentForm.getError('lastName') }}{% endif %}</span>
                            </div>

                            <!-- Card Number -->
                            <div class="form-group {% if paymentForm is defined and paymentForm.hasErrors('number') %}has-error{% endif %}">
                                <label>Card Number</label>

                                <input type="text" name="number" maxlength="19" placeholder="Card Number"
                                       class="card-number u-full-width" value="{{ formValues.number }}">

                                <span class="help-block">{% if paymentForm is defined %}{{ paymentForm.getError('number') }}{% endif %}</span>
                            </div>

                            <!-- Expiry-->
                            <div class="form-group {% if paymentForm is defined and (paymentForm.hasErrors('month') or paymentForm.hasErrors('year')) %}has-error{% endif %}">
                                <label>Card Expiry Date</label>

                                <select class="form-control" name="month">
                                    {% for month in 1..12 %}
                                        <option value="{{ month }}"
                                                {% if formValues.month == month %}selected{% endif %}>{{ month }}</option>
                                    {% endfor %}
                                </select>
                                <span> / </span>
                                <select class="required form-control" name="year">
                                    {% for year in currentYear-1..(currentYear + 12) %}
                                        <option value="{{ year }}"
                                                {% if formValues.year == year %}selected{% endif %}>{{ year }}</option>
                                    {% endfor %}
                                </select>

                                <span class="help-block">{% if paymentForm is defined %}{{ paymentForm.getError('month') }}{% endif %}</span>

                                <span class="help-block">{% if paymentForm is defined %}{{ paymentForm.getError('year') }}{% endif %}</span>

                            </div>

                            <!-- CVV -->
                            <div class="form-group {% if paymentForm is defined and paymentForm.hasErrors('cvv') %}has-error{% endif %}">

                                <label>CVV/CVV2</label>
                                <input type="text" name="cvv" placeholder="CVV" maxlength="4" class="card-cvc"
                                       value="{{ formValues.cvv }}">

                                <span class="help-block">{% if paymentForm is defined %}{{ paymentForm.getError('cvv') }}{% endif %}</span>

                            </div>

                        </div>
                    </div>
                {% endif %}

                <!-- Amount -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="amount">Amount</label>

                    <input type="text" disabled value="{{ cart.totalPrice|number_format(2) }}"/>
                </div>

                <!-- Submit -->
                <button class="button button-primary" type="submit">Pay Now</button>
            </fieldset>
        </form>
    {% endif %}

{% endblock %}
