{% extends 'commerce/_layouts/checkout' %}

{% block content %}

    <h1>Shipping</h1>

    {% if cart.shippingMethod %}
        <p>
            <strong>Current Shipping Method:</strong> {{ cart.shippingMethod.name }}
        </p>
    {% endif %}

    {#
    Choosing a shipping method.
    Now that we know the cart's address, we need to show all available shipping methods. Only those that match
    a shipping method's rule are compatible with the shipping address. `craft.commerce.shippingMethods` only returns
    methods available to the user. If you require shipping and no methods are avaialable, create a catch all rule
    in a method that matches all addresses.
    #}

    {% if not craft.commerce.shippingMethods|length %}
        <p>No shipping methods available, <a href="/commerce/checkout/payment">Continue to payment</a>.</p>
    {% endif %}

    {% if craft.commerce.shippingMethods|length %}
    <form method="POST">
        <input type="hidden" name="action" value="commerce/cart/update">
        <input type="hidden" name="redirect" value="commerce/checkout/payment">
        {{ getCsrfInput() }}

        {% for handle, method in craft.commerce.getShippingMethods() %}
            <label>
                <input type="radio" name="shippingMethod" value="{{ handle }}"
                       {% if handle == cart.shippingMethodHandle %}checked{% endif %} />
                <strong>{{ method.name }}</strong> {{ method.amount|commerceCurrency }}
            </label>
        {% endfor %}
        <span class="flash">{{ cart.getErrors('shippingMethod')|join }}</span>

        <p><input type="submit" class="button button-primary" value="Select Shipping Method"/></p>

    </form>
    {% endif %}
{% endblock %}
