{% extends "commerce/_layouts/cp" %}

{% set title = "Promotions"|t('commerce') %}
{% set selectedSubnavItem = "promotions" %}
{% set bodyClass = (bodyClass is defined ? bodyClass~' ' : '') ~ "commercepromotions" %}

{% set sidebarNavItems = {
    sales: { label: 'Sales'|t('commerce'), url: url('commerce/promotions/sales') },
    discounts: { label: 'Discounts'|t('commerce'), url: url('commerce/promotions/discounts') }
} %}

{% set docTitle = sidebarNavItems[selectedSidebarNavItem].label~' - '~title~' - '~'Commerce' %}

{% block sidebar %}
    {% include "_includes/nav" with { items: sidebarNavItems, selectedItem: selectedSidebarNavItem } only %}
{% endblock %}
