{% extends "commerce/_layouts/cp" %}

{% set title = "Promotions"|t('commerce') %}
{% set selectedSubnavItem = "promotions" %}
{% set bodyClass = (bodyClass is defined ? bodyClass~' ' : '') ~ "commercepromotions" %}

{% set editionLite = constant('Edition_Lite', craft.commerce) %}
{% set editionStandard = constant('Edition_Standard', craft.commerce) %}

{% set sidebarNavItems = {
   sales: { label: 'Sales'|t('commerce'), url: url('commerce/promotions/sales') }
} %}

{% if craft.commerce.editionGreaterThanOrEqual(editionStandard) %}
  {% set sidebarNavItems = sidebarNavItems|merge({
    discounts: { label: 'Discounts'|t('commerce'), url: url('commerce/promotions/discounts') }
  }) %}
{% endif %}

{% set docTitle = sidebarNavItems[selectedSidebarNavItem].label~' - '~title~' - '~'Commerce' %}

{% block sidebar %}
  {% include "_includes/nav" with { items: sidebarNavItems, selectedItem: selectedSidebarNavItem } only %}
{% endblock %}
