{% extends "commerce/_layouts/cp" %}

{% set title = "Promotions"|t %}

{% set selectedSubnavItem = "promotions" %}

{% block sidebar %}
    <nav>
        <ul>
            <li><a href="{{ url('commerce/promotions/sales') }}"{% if craft.request.segment(3) == 'sales' %} class="sel"{% endif %}>{{ "Sales"|t }}</a></li>

            <li><a href="{{ url('commerce/promotions/discounts') }}"{% if craft.request.segment(3) == 'discounts' %} class="sel"{% endif %}>{{ "Discounts"|t }}</a></li>

        </ul>
    </nav>
{% endblock %}