{% extends "commerce/_layouts/settingscp" %}

{% set title = "Commerce Settings"|t %}

{% set navItems = {
	'registration': { title: "Registration"|t },
	'general': { title: "General Settings"|t },
	'orders-heading': { heading: "Orders"|t },
	'ordersettings': { title: "Order Fields"|t },
	'orderstatuses': { title: "Order Statuses"|t },
	'emails': { title: "Emails"|t },
	'paymentmethods': { title: "Payment Methods"|t },
	'paymentcurrencies': { title: "Payment Currencies"|t },
	'products-heading': { heading: "Products"|t },
	'producttypes': { title: "Product Types"|t },
	'regions-heading': { heading: "Regions"|t },
	'countries': { title: "Countries"|t },
	'states': { title: "States"|t },
	'taxes-heading': { heading: "Taxes"|t },
	'taxcategories': { title: "Tax Categories"|t },
	'taxzones': { title: "Tax Zones"|t },
	'taxrates': { title: "Tax Rates"|t },
	'shipping-heading': { heading: "Shipping"|t },
	'shippingcategories': { title: "Shipping Categories"|t },
	'shippingzones': { title: "Shipping Zones"|t },
	'shippingmethods': { title: "Shipping Methods"|t },
} %}

{% set selectedItem = craft.request.getSegment(3) %}
{% set docTitle = navItems[selectedItem].title~' - '~title %}


{% block sidebar %}
    <nav>
        <ul>
            {% for id, item in navItems %}
                {% if item.heading is defined %}
                    <li class="heading"><span>{{ item.heading }}</span></li>
                {% else %}
                    <li><a href="{{ url('commerce/settings/'~id) }}"{% if id == selectedItem %} class="sel"{% endif %}>{{ item.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
