{% extends "commerce/_layouts/settingscp" %}

{% set title = "Commerce Settings"|t('commerce') %}

{% set navItems = {} %}

{% if currentUser.admin %}
{% set navItems = {
    'general': { title: "General Settings"|t('commerce'), minEdition: 'lite' },
    'ordersettings': { title: "Order Fields"|t('commerce'), minEdition: 'lite' },
    'orderstatuses': { title: "Order Statuses"|t('commerce'), minEdition: 'lite' },
    'emails': { title: "Emails"|t('commerce'), minEdition: 'lite' },
    'gateways': { title: "Gateways"|t('commerce'), minEdition: 'lite' },
    'paymentcurrencies': { title: "Payment Currencies"|t('commerce'), minEdition: 'lite' },
    'location': { title: "Store Location"|t('commerce'), minEdition: 'lite' },
    'products-heading': { heading: "Products"|t('commerce'), minEdition: 'lite' },
    'producttypes': { title: "Product Types"|t('commerce'), minEdition: 'lite' },
    'donation': { title: "Donations"|t('commerce'), minEdition: 'lite' },
    'subscriptions-heading': { heading: "Subscriptions"|t('commerce'), minEdition: 'lite' },
    'subscriptions/plans': { title: "Subscription Plans"|t('commerce'), minEdition: 'lite' },
    'subscriptions/fields': { title: "Subscription Fields"|t('commerce'), minEdition: 'lite' },
    'regions-heading': { heading: "Regions"|t('commerce'), minEdition: 'lite' },
    'countries': { title: "Countries"|t('commerce'), minEdition: 'lite' },
    'states': { title: "States"|t('commerce'), minEdition: 'lite' }
} %}
{% endif %}

{% if currentUser.admin or currentUser.can('commerce-manageShipping') %}
{% set navItems = navItems|merge({
    'shipping-heading': { heading: "Shipping"|t('commerce'), minEdition: 'pro' },
    'shippingcategories': { title: "Shipping Categories"|t('commerce'), minEdition: 'pro' },
    'shippingzones': { title: "Shipping Zones"|t('commerce'), minEdition: 'pro' },
    'shippingmethods': { title: "Shipping Methods"|t('commerce'), minEdition: 'pro' }
}) %}
{% endif %}

{% if currentUser.admin or currentUser.can('commerce-manageTaxes') %}
{% set navItems = navItems|merge({
    'taxes-heading': { heading: "Taxes"|t('commerce'), minEdition: 'pro' },
    'taxcategories': { title: "Tax Categories"|t('commerce'), minEdition: 'pro' },
    'taxzones': { title: "Tax Zones"|t('commerce'), minEdition: 'pro' },
    'taxrates': { title: "Tax Rates"|t('commerce'), minEdition: 'pro' },
}) %}
{% endif %}



{% if selectedItem is not defined %}
    {% set selectedItem = craft.app.request.getSegment(3) %}
{% endif %}

{% set docTitle = navItems[selectedItem].title~' - '~title %}

{% block sidebar %}
    <nav>
        <ul>
            {% for id, item in navItems if craft.commerce.is(item.minEdition, '>=') %}
                {% if item.heading is defined %}
                    <li class="heading"><span>{{ item.heading }}</span></li>
                {% else %}
                    <li>
                        <a href="{{ url('commerce/settings/'~id) }}"{% if id == selectedItem %} class="sel"{% endif %}>{{ item.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

