{% extends "commerce/_layouts/cp" %}
{% set selectedSubnavItem = 'tax' %}
{% set bodyClass = (bodyClass is defined ? bodyClass~' ' : '') ~ "commercesettings" %}

{% set title = "Tax"|t('commerce') %}

{% set navItems = {} %}

{% if currentUser.admin or currentUser.can('commerce-manageTaxes') %}
    {% if craft.commerce.taxes.viewTaxRates %}
    {% set navItems = navItems|merge({
        'taxrates': { title: "Tax Rates"|t('commerce'), url: url('commerce/tax/taxrates') },
    }) %}
    {% endif %}

    {% if craft.commerce.taxes.viewTaxCategories %}
    {% set navItems = navItems|merge({
        'taxcategories': { title: "Tax Categories"|t('commerce'), url: url('commerce/tax/taxcategories') },
    }) %}
    {% endif %}

    {% if craft.commerce.taxes.viewTaxZones %}
    {% set navItems = navItems|merge({
        'taxzones': { title: "Tax Zones"|t('commerce'), url: url('commerce/tax/taxzones') },
    }) %}
    {% endif %}

    {% set navItems = navItems|merge(craft.commerce.taxes.cpTaxNavSubItems) %}

{% endif %}

{% if selectedItem is not defined %}
    {% set selectedItem = craft.app.request.getSegment(3) %}
    {% if not selectedItem %}
        {% set selectedItem = navItems|keys|first %}
    {% endif %}
{% endif %}

{% block sidebar %}
    <nav>
        <ul>
            {% for handle, item in navItems %}
                {% if item.heading is defined %}
                    <li class="heading"><span>{{ item.heading }}</span></li>
                {% else %}
                    <li>
                        <a href="{{ item.url }}"{% if handle == selectedItem %} class="sel"{% endif %}>{{ item.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

