{% extends "commerce/_layouts/store-settings" %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}
{% do view.registerTranslations('commerce', [
    "No countries exist yet.",
    "Countries reordered.",
    "Couldn’t reorder countries.",
]) %}

{% block content %}
    <div id="countries-vue-admin-table"></div>

    <div class="buttons">
        <a href="{{ url('commerce/store-settings/countries/new') }}"
           class="btn submit add icon">{{ 'New country'|t('commerce') }}</a>
    </div>
{% endblock %}

{% set tableData = [] %}
{% for country in countries %}
    {% set tableData = tableData|merge([{
        id: country.id,
        title: country.name,
        url: url('commerce/store-settings/countries/'~country.id),
        countryCode: country.iso,
        stateRequired: country.isStateRequired ? true : false,
    }]) %}

{% endfor %}

{% js %}
    var columns = [
        { name: '__slot:title', title: Craft.t('commerce', 'Name') },
        { name: 'countryCode', title: Craft.t('commerce', 'Country Code') },
        { name: 'stateRequired', title: Craft.t('commerce', 'State Required?'),
            callback: function(value) {
                if (value) {
                    return '<span class="check"></span>';
                }
            }
        }
    ];

    var actions = [
        {
            label: Craft.t('app', 'Set Status'),
            actions: [
                {
                    label: Craft.t('app', 'Enabled'),
                    action: 'commerce/countries/update-statuses',
                    param: 'status',
                    value: 'enabled',
                    status: 'enabled'
                },
                {
                    label: Craft.t('app', 'Disabled'),
                    action: 'commerce/countries/update-statuses',
                    param: 'status',
                    value: 'disabled',
                    status: 'disabled'
                }
            ]
        }
    ];

    new Craft.VueAdminTable({
        actions: actions,
        checkboxes: true,
        columns: columns,
        container: '#countries-vue-admin-table',
        deleteAction: 'commerce/countries/delete',
        deleteConfirmationMessage: Craft.t('commerce', 'Warning, deleting this country will remove it from all addresses and zones, are you sure you want to delete “{name}”?'),
        emptyMessage: Craft.t('commerce', 'No countries exist yet.'),
        reorderAction: 'commerce/countries/reorder',
        reorderSuccessMessage: Craft.t('commerce', 'Countries reordered.'),
        reorderFailMessage:    Craft.t('commerce', 'Couldn’t reorder countries.'),
        tableData: {{ tableData|json_encode|raw }},
    });
{% endjs %}
