{% import "_includes/forms" as forms %}
<div id="payment-method-{{ paymentMethod.id }}-form" class="payment-method-form {% if order and order.paymentMethodId != paymentMethod.id %}hidden{% endif %}">
	<form method="POST">
		<input type="hidden" name="action" value="commerce/payments/pay"/>
		{% if order %}
		<input type="hidden" name="orderNumber" value="{{ order.number }}"/>
		{% endif %}
		<input type="hidden" name="paymentMethodId" value="{{ paymentMethod.id }}"/>
		{{ getCsrfInput() }}
		<input type="submit" value="Submit"/>
	</form>
</div>