{% extends "commerce/_layouts/settingscp" %}

{% set crumbs = [
    { label: "Commerce Settings"|t('commerce'), url: url('commerce/settings') },
    { label: "Shipping Methods"|t('commerce'), url: url('commerce/settings/shippingmethods') },
] %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}

    {% set tabs = {
        0: {'label':'Shipping Method'|t('commerce'),'url':'#shipping-method-tab'}
    } %}
    {% if shippingMethod.id %}
        {% set tabs = tabs|merge({1: {'label':'Rules'|t('commerce'),'url':'#rules'}}) %}
    {% endif %}


{% block saveButton %}
    <input type="submit" class="btn submit"
           value="{{ shippingMethod.id ? 'Save and set rules'|t('commerce') :'Save'|t('commerce') }}">
{% endblock %}

{% block content %}
    <div id="shipping-method-tab">
        <input type="hidden" name="action" value="commerce/shipping-methods/save">
        {{ redirectInput('commerce/settings/shippingmethods/{id}#rules') }}

        {% if shippingMethod.id %}
            <input type="hidden" name="shippingMethodId" value="{{ shippingMethod.id }}">
        {% endif %}

        {{ forms.textField({
            first: true,
            label: "Name"|t('commerce'),
            instructions: "What this shipping method will be called in the CP."|t('commerce'),
            id: 'name',
            name: 'name',
            value: shippingMethod.getName(),
            errors: shippingMethod.getErrors('name'),
            autofocus: true,
            required: true,
        }) }}

        {{ forms.textField({
            first: true,
            label: "Handle"|t('commerce'),
            instructions: "How this shipping method will be referred to in templates and forms."|t('commerce'),
            id: 'handle',
            class: 'code',
            name: 'handle',
            value: shippingMethod.handle,
            errors: shippingMethod.getErrors('handle'),
            required: true,
        }) }}


        {{ forms.lightSwitchField({
            label: "Enable this shipping method on the front end"|t('commerce'),
            id: 'enabled',
            name: 'enabled',
            on: shippingMethod.enabled,
            errors: shippingMethod.getErrors('enabled')
        }) }}

    </div>

    <div id="rules" class="hidden">

        <h2>{{ "Shipping Rules"|t('commerce') }}</h2>

        <div id="no-shipping-rules"{% if shippingRules|length %} class="hidden"{% endif %}>
            <p>{{ "No shipping rules exist yet."|t('commerce') }}</p>
        </div>

        {% if shippingRules|length %}
            <table id="shipping-rules" class="data fullwidth collapsible">
                <thead>
                <tr>
                    <th>{{ 'Name'|t('commerce') }}</th>
                    <th>{{ 'Description'|t('commerce') }}</th>
                    <td class="thin"></td>
                    <td class="thin"></td>
                </tr>
                </thead>
                <tbody>
                {% for shippingRule in shippingRules %}
                    <tr data-id="{{ shippingRule.id }}"
                        data-name="{{ shippingRule.name }}">
                        <th scope="row" data-title="{{ 'Name'|t('commerce') }}">
                            {% if shippingRule.enabled %}
                                <span class="status green"></span>
                            {% else %}
                                <span class="status"></span>
                            {% endif %}
                            <a href="{{ url('commerce/settings/shippingmethods/'~shippingRule.methodId~'/shippingrules/'~shippingRule.id) }}">{{ shippingRule.name }}</a>
                        </th>
                        <td>{{ shippingRule.description }}</td>
                        <td class="thin">
                            <a class="move icon disabled"
                               title="{{ 'Delete'|t('commerce') }}"
                               role="button"></a>
                        </td>
                        <td class="thin">
                            <a class="delete icon"
                               title="{{ 'Delete'|t('commerce') }}"
                               role="button"></a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% endif %}

        <div class="buttons">
            <a href="{{ url('commerce/settings/shippingmethods/'~shippingMethod.id~'/shippingrules/new') }}"
               class="btn submit add icon">{{ 'New shipping rule'|t('commerce') }}</a>
        </div>

    </div>
{% endblock %}

{% js %}
    {% if not shippingMethod.id %}new Craft.HandleGenerator('#name', '#handle');{% endif %}
    var adminTable = new Craft.AdminTable({
        tableSelector: '#shipping-rules',
        noObjectsSelector: '#no-shipping-rules',
        deleteAction: 'commerce/shipping-rules/delete',
        sortable: true,
        reorderAction: 'commerce/shipping-rules/reorder',
        reorderSuccessMessage: Craft.t('commerce', 'Rules reordered.') ,
        reorderFailMessage: Craft.t('commerce', 'Couldn’t reorder rules..') ,
        confirmDeleteMessage: Craft.t('commerce', 'Are you sure you want to delete “{name}”?') ,
        deleteSuccessMessage: Craft.t('commerce', '“{name}” deleted.') ,
        deleteFailMessage: Craft.t('commerce', 'Couldn’t delete “{name}”.') ,
    });
{% endjs %}
