{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}
{% do view.registerTranslations('commerce', [
  'Cancellation date',
  'Cart',
  'Expiration date',
  'Is subscription active?',
  'No active carts exist for this customer.',
  'No inactive carts exist for this customer.',
  'No subscriptions exist for this user yet.',
  'No',
  'Status',
  'Subscription date',
  'Subscription',
  'Subscription',
  'Yes',
]) %}


<div id="customerInfo" class="hidden">
  {% if customer %}

    {% if currentUser.can('commerce-manageOrders') %}
      <h2>{{ 'Orders'|t('commerce') }}</h2>

      {% include 'commerce/customers/_includes/_ordersTable' with { customer: customer } %}

      <br>
      <h2>{{ 'Active Carts'|t('commerce') }}</h2>
      {% set activeCarts = customer.getActiveCarts() %}

      {% set activeTableData = [] %}
      {% for order in activeCarts %}
        {% set activeTableData = activeTableData|merge([{
          id: order.id,
          title: order.reference ?? order.shortNumber,
          url: order.cpEditUrl,
          date: craft.app.formatter.asTimestamp(order.dateUpdated, 'short'),
          total: order.totalPrice|currency(order.currency),
        }]) %}
      {% endfor %}

      <div id="active-vue-admin-table"></div>

      <br>
      <h2>{{ 'Inactive Carts'|t('commerce') }}</h2>
      {% set inactiveCarts = customer.getInactiveCarts() %}

      {% set inactiveTableData = [] %}
      {% for order in inactiveCarts %}
          {% set inactiveTableData = inactiveTableData|merge([{
            id: order.id,
            title: order.reference ?? order.shortNumber,
            url: order.cpEditUrl,
            date: craft.app.formatter.asTimestamp(order.dateUpdated, 'short'),
            total: order.totalPrice|currency(order.currency),
          }]) %}
      {% endfor %}

      <div id="inactive-vue-admin-table"></div>

      {% set addresses = customer.addresses %}
      <hr>
      <div class="address-heading-label">
        <h2>{{ "Addresses"|t('commerce') }}</h2>
      </div>
      {% if addresses|length %}
        <div class="address-boxes">
          {% for address in addresses %}
            <div id="Address" class="address-box hidden"
                 data-title="{{ 'Address {number}'|t('commerce', { number: loop.index }) }}"
                 data-address='{%- if address and address.id -%}{{ address|json_encode_filtered }}{%- endif %}'>
              <div class="address-box-content">
                <div class="address-box-header"></div>
                {#{% if not currentUser.can('commerce-manageOrders') %}hidden{% endif %}#}
                <div class="address"></div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div id="no-addresses">
          <p>{{ "No addresses exist for this user yet."|t('commerce') }}</p>
        </div>
      {% endif %}
    {% endif %}

    {% if currentUser.can('commerce-manageSubscriptions') %}
      <hr>
      <h2>{{ 'Subscriptions'|t('commerce') }}</h2>
      {% set subscriptions = customer.subscriptions %}

      {% set subsTableData = [] %}
      {% for subscription in subscriptions %}
      	{% set subsTableData = subsTableData|merge([{
          id: subscription.id,
          title: subscription.__toString(),
          url: subscription.cpEditUrl,
          subDate: subscription.dateCreated|date('D jS M Y'),
          canDate: subscription.dateCanceled ? subscription.dateCanceled|date('D jS M Y') : '',
          expDate: subscription.dateExpired ? subscription.dateExpired|date('D jS M Y') : '',
          active: subscription.status == 'active' ? 'Yes'|t('commerce') : 'No'|t('commerce'),
        }]) %}
      {% endfor %}
      <div id="subscriptions-vue-admin-table"></div>
    {% endif %}
  {% endif %}
</div>

{% css %}
  .address-heading-label { margin-bottom:4px; }
{% endcss %}

{% js %}
  window.countries = {{ craft.commerce.countries.allEnabledCountries|values|json_encode|raw }};
  window.states = {{ craft.commerce.states.allEnabledStates|values|json_encode|raw }};

  $(".address-box").each(function(){
    new Craft.Commerce.AddressBox($(this),{});
  });

  var cartColumns = [
    { name: '__slot:title', title: Craft.t('commerce', 'Cart') },
    { name: 'date', title: Craft.t('commerce', 'Date Updated') },
    { name: 'total', title: Craft.t('commerce', 'Total') }
  ];

  if (document.querySelector('#active-vue-admin-table')) {
    new Craft.VueAdminTable({
      columns: cartColumns,
      container: '#active-vue-admin-table',
      emptyMessage: Craft.t('commerce', 'No active carts exist for this customer.'),
      padded: true,
      tableData: {{ activeTableData|json_encode|raw }}
    });
  }

  if (document.querySelector('#inactive-vue-admin-table')) {
    new Craft.VueAdminTable({
      columns: cartColumns,
      container: '#inactive-vue-admin-table',
      emptyMessage: Craft.t('commerce', 'No inactive carts exist for this customer.'),
      padded: true,
      tableData: {{ inactiveTableData|json_encode|raw }}
    });
  }

  var subColumns = [
    { name: '__slot:title', title: Craft.t('commerce', 'Subscription') },
    { name: 'subDate', title: Craft.t('commerce', 'Subscription date') },
    { name: 'canDate', title: Craft.t('commerce', 'Cancellation date') },
    { name: 'expDate', title: Craft.t('commerce', 'Expiration date') },
    { name: 'active', title: Craft.t('commerce', 'Is subscription active?') }
  ];

  if (document.querySelector('#subscriptions-vue-admin-table')) {
    new Craft.VueAdminTable({
      columns: subColumns,
      container: '#subscriptions-vue-admin-table',
      emptyMessage: Craft.t('commerce', 'No subscriptions exist for this user yet.'),
      padded: true,
      tableData: {{ subsTableData|json_encode|raw }}
    });
  }
{% endjs %}