{% extends "commerce/_layouts/cp" %}

{% set crumbs = [
  { label: 'Customers'|t('commerce'), url: url('commerce/customers') },
] %}

{% set selectedSubnavItem = 'customers' %}

{% set fullPageForm = false %}

{% import "_includes/forms" as forms %}

{% block actionButton %}
  {% if currentUser.can('commerce-editOrders') and craft.commerce.is('pro') %}
    <form action="" id="new-order" method="post">
      {{ csrfInput() }}
      <input type="hidden" name="customerId" value="{{ customer.id }}">
      <input type="hidden" name="action" value="commerce/orders/new-order">
      <a href="javascript:$('#new-order').submit();" class="btn icon add" onclick="">{{ 'New Order'|t('commerce') }}</a>
    </form>
  {% endif %}
{% endblock %}

{% block details %}
<div class="meta read-only">
  {% set customerUser = customer.getUser() ?? null %}
  {% if customerUser %}
    <div class="data">
      <h5 class="heading">{{ 'User'|t('app') }}</h5>
      <div class="value">
        {% if currentUser.can('editUsers') %}
          {{ tag('a', {
            href: customerUser.getCpEditUrl(),
            text: customerUser.__toString(),
          }) }}
        {% else %}
          <span>{{ customerUser.__toString() }}</span>
        {% endif %}
      </div>
    </div>
  {% endif %}
  <div class="data">
    <h5 class="heading">{{ 'Total Orders'|t('commerce') }}</h5>
    <div class="value">{{ craft.orders({ customerId: customer.id, isCompleted: 1, limit: null }).count() }}</div>
  </div>
  {% set lastOrder = craft.orders({ customerId: customer.id, isCompleted: 1, limit: 1, orderBy: 'dateOrdered DESC' }).one() ?? null %}
  {% if lastOrder %}
    <div class="data">
      <h5 class="heading">{{ 'Last Order'|t('commerce') }}</h5>
      <div class="value">
        {% if currentUser.can('commerce-manageOrders') %}
          {{ tag('a', {
            href: lastOrder.cpEditUrl,
            text: lastOrder.__toString(),
          }) }}
        {% else %}
          {{ lastOrder.__toString() }}
        {% endif %}
      </div>
    </div>
    <div class="data">
      <h5 class="heading">{{ 'Last Order Date'|t('commerce') }}</h5>
      <div class="value">
        {{ lastOrder ? lastOrder.dateOrdered|date('D jS M Y') : '' }}
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}

{% block content %}
  {% include 'commerce/customers/_includes/_customerTables' with { customer: customer } %}
{% endblock %}