<div id="customerInfo" class="hidden">
  {% if customer %}

    {% if currentUser.can('commerce-manageOrders') %}
      <h2>{{ 'Orders'|t('commerce') }}</h2>
      {% set orders = customer.orders %}
      <div id="no-orders"{% if orders|length %} class="hidden"{% endif %}>
        <p>{{ "No orders exist for this user yet."|t('commerce') }}</p>
      </div>

      {% if orders|length %}
        <table class="data fullwidth collapsible">
          <thead>
          <tr>
            <th scope="col">{{ 'Order'|t('commerce') }}</th>
            <th scope="col">{{ 'Order Date'|t('commerce') }}</th>
            <th scope="col">{{ 'Total Paid'|t('commerce') }}</th>
            <th scope="col">{{ 'Status'|t('commerce') }}</th>
          </tr>
          </thead>
          <tbody>
          {% for order in orders %}
            <tr>
              <td>{{ order.link|raw }}</td>
              <td>{% if order.isCompleted %}{{ order.dateOrdered|date('D dS M Y') }}{% endif %}</td>
              <td>{{ order.totalPaid|currency(order.currency) }}</td>
              <td>{{ order.orderStatus.labelHtml|raw }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        <br>
        <h2>{{ 'Active Carts'|t('commerce') }}</h2>
        {% set activeCarts = customer.getActiveCarts() %}

        {% if activeCarts %}
          <table class="data fullwidth collapsible">
            <thead>
            <tr>
              <th scope="col">{{ 'Cart'|t('commerce') }}</th>
              <th scope="col">{{ 'Date Updated'|t('commerce') }}</th>
              <th scope="col">{{ 'total'|t('commerce') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for order in activeCarts %}
              <tr>
                <td>{{ order.link|raw }}</td>
                <td>{{ craft.app.formatter.asTimestamp(order.dateUpdated, 'short') }}</td>
                <td>{{ order.totalPrice|currency(order.currency) }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div>
            <p>{{ 'No active carts exist for this customer.'|t('commerce') }}</p>
          </div>
        {% endif %}

        <br>
        <h2>{{ 'Inactive Carts'|t('commerce') }}</h2>
        {% set inactiveCarts = customer.getInactiveCarts() %}

        {% if inactiveCarts %}
          <table class="data fullwidth collapsible">
            <thead>
            <tr>
              <th scope="col">{{ 'Cart'|t('commerce') }}</th>
              <th scope="col">{{ 'Date Updated'|t('commerce') }}</th>
              <th scope="col">{{ 'total'|t('commerce') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for order in inactiveCarts %}
              <tr>
                <td>{{ order.link|raw }}</td>
                <td>{{ craft.app.formatter.asTimestamp(order.dateUpdated, 'short') }}</td>
                <td>{{ order.totalPrice|currency(order.currency) }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div>
            <p>{{ 'No active carts exist for this customer.'|t('commerce') }}</p>
          </div>
        {% endif %}
      {% endif %}

      {% set addresses = customer.addresses %}
      <hr>
      <div class="address-heading-label">
        <h2>{{ "Addresses"|t('commerce') }}</h2>
      </div>
      {% if addresses|length %}
        <div class="address-boxes">
          {% for address in addresses %}
            <div id="Address" class="address-box hidden"
                 data-title="{{ 'Address {number}'|t('commerce', { number: loop.index }) }}"
                 data-address='{%- if address and address.id -%}{{ address|json_encode_filtered }}{%- endif %}'>
              <div class="address-box-content">
                <div class="address-box-header"></div>
                {#{% if not currentUser.can('commerce-manageOrders') %}hidden{% endif %}#}
                <div class="address"></div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div id="no-addresses">
          <p>{{ "No addresses exist for this user yet."|t('commerce') }}</p>
        </div>
      {% endif %}
    {% endif %}

    {% if currentUser.can('commerce-manageSubscriptions') %}
      <hr>
      <h2>{{ 'Subscriptions'|t('commerce') }}</h2>
      {% set subscriptions = customer.subscriptions %}
      <div id="no-subscriptions"{% if subscriptions|length %} class="hidden"{% endif %}>
        <p>{{ "No subscriptions exist for this user yet."|t('commerce') }}</p>
      </div>

      {% if subscriptions|length %}
        <br>
        <table class="data fullwidth collapsible">
          <thead>
          <tr>
            <th scope="col">{{ 'Subscription'|t('commerce') }}</th>
            <th scope="col">{{ 'Subscription date'|t('commerce') }}</th>
            <th scope="col">{{ 'Cancellation date'|t('commerce') }}</th>
            <th scope="col">{{ 'Expiration date'|t('commerce') }}</th>
            <th scope="col">{{ 'Is subscription active?'|t('commerce') }}</th>
          </tr>
          </thead>
          <tbody>
          {% for subscription in subscriptions %}
            <tr>
              <td><a href="{{ subscription.cpEditUrl }}">{{ subscription }}</a></td>
              <td>{{ subscription.dateCreated|date('D dS M Y') }}</td>
              <td>{{ subscription.dateCanceled ? subscription.dateCanceled|date('D dS M Y') : '' }}</td>
              <td>{{ subscription.dateExpired ? subscription.dateExpired|date('D dS M Y') : '' }}</td>
              <td>{{ subscription.status == 'active' ? 'Yes'|t('commerce') : 'No'|t('commerce') }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
    {% endif %}
  {% endif %}

  {% css %}
    .address-heading-label { margin-bottom:4px; }
  {% endcss %}

  {% js %}
  window.countries = {{ craft.commerce.countries.allCountries|values|json_encode|raw }};
    window.states = {{ craft.commerce.states.allStates|values|json_encode|raw }};

    $(".address-box").each(function(){
    new Craft.Commerce.AddressBox($(this),{});
    });
{% endjs %}
</div>