{% extends "_layouts/elementindex" %}
{% hook 'commerce.prepCpTemplate' %}

{% set title = "Products"|t %}
{% set docTitle = title~' - '~'Commerce' %}
{% set elementType = 'Commerce_Product' %}
{% set selectedTab = 'products' %}
{% set selectedSubnavItem = "products" %}
{% set bodyClass = (bodyClass is defined ? bodyClass~' ' : '') ~ "commerceproducts commerceproductsindex" %}

{% block content %}
    {% if not craft.commerce.getProductTypes()|length > 0 %}
        <p class="error">{{ 'No product types exist yet.'|t }} <a class="go" href="{{ url('commerce/settings/producttypes/new') }}">{{ 'Create one'|t }}</a></p>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}


{% if productTypeHandle is defined %}
    {% includejs 'window.defaultProductTypeHandle = "'~productTypeHandle~'";' %}
{% endif %}
