{% import "commerce/products/_fields" as productFields %}
{%- import "_includes/forms" as forms -%}
<div class="variant-properties meta">
    {% namespace namespace %}
        {{ productFields.generalVariantFields(variant, product) }}
        {% if variant.getProduct().getType().hasDimensions %}
            {{ productFields.dimensionVariantFields(variant) }}
        {% endif %}
    {% endnamespace %}
</div>
<div class="custom-fields">
    {% include "_includes/fields" with {
        namespace: namespace~'[fields]',
        element: variant,
        fields: variant.getFieldLayout().getFields()
    } %}

    {# TODO allow viewing of sales when a view promotions permission is introduced #}
    {% if currentUser.can('commerce-managePromotions') %}
        {{ productFields.relatedSales(variant.id, false) }}
    {% endif %}
</div>
