{% import "_includes/forms" as forms %}

<fieldset class="card-holder">
    <legend>{{ 'Card Holder'|t('commerce') }}</legend>

    <div class="grid" data-cols="2">

        <!-- Card Holder Name -->
        <div class="item" data-colspan="1">
            {{ forms.text({
                name: 'firstName',
                maxlength: 70,
                placeholder: "First Name"|t('commerce'),
                autocomplete: false,
                class: 'card-holder-first-name'~(paymentForm.getErrors('firstName') ? ' error'),
                value: paymentForm.firstName,
                required: true,
            }) }}
        </div>

        <div>
            {{ forms.text({
                name: 'lastName',
                maxlength: 70,
                placeholder: "Last Name"|t('commerce'),
                autocomplete: false,
                class: 'card-holder-last-name'~(paymentForm.getErrors('lastName') ? ' error'),
                value: paymentForm.lastName,
                required: true,
            }) }}
        </div>
    </div>

    {% set errors = [] %}
    {% for attributeKey in ['firstName', 'lastName'] %}
        {% set errors = errors|merge(paymentForm.getErrors(attributeKey)) %}
    {% endfor %}

    {{ forms.errorList(errors) }}
</fieldsets>

<!-- Card Number -->
<fieldset class="card-data">
    <legend>{{ 'Card'|t('commerce') }}</legend>

    <div>
        <div>
            {{ forms.text({
                name: 'number',
                maxlength: 19,
                placeholder: "Card Number"|t('commerce'),
                autocomplete: false,
                class: 'card-number'~(paymentForm.getErrors('number') ? ' error'),
                value: paymentForm.number
            }) }}

        </div>

        <div>
            {{ forms.text({
                class: 'card-expiry'~(paymentForm.getErrors('month') or paymentForm.getErrors('year') ? ' error'),
                type: 'text',
                name: 'expiry',
                placeholder: "MM"|t('commerce')~' / '~"YYYY"|t('commerce'),
                value: paymentForm.expiry
            }) }}

            {{ forms.text({
                type: 'tel',
                name: 'cvv',
                placeholder: "CVV"|t('commerce'),
                class: 'card-cvc'~(paymentForm.getErrors('cvv') ? ' error'),
                value: paymentForm.cvv
            }) }}
        </div>
    </div>

    {% set errors = [] %}
    {% for attributeKey in ['number', 'month', 'year', 'cvv'] %}
        {% set errors = errors|merge(paymentForm.getErrors(attributeKey)) %}
    {% endfor %}

    {{ forms.errorList(errors) }}

</fieldset>