{% set currentYear = date()|date_modify("+1 year").format('Y') %}

<div id="gateway-{{ gateway.id }}-form"
     class="gateway-form {% if order and order.gatewayId != gateway.id %}hidden{% endif %}">
    <form method="POST" id="form-gateway-{{ gateway.id }}">
        <input type="hidden" name="action" value="commerce/payments/pay"/>
        <input type="hidden" name="redirect" value="commerce/payments/pay"/>

        {% if order %}
            {{ redirectInput(order.cpEditUrl) }}
            <input type="hidden" name="cancelUrl"
                   value="{{ order.cpEditUrl|hash }}"/>
            <input type="hidden" name="orderNumber" value="{{ order.number }}"/>
            <input type="hidden" name="orderEmail" value="{{ order.email }}"/>
        {% endif %}

        <input type="hidden" name="gatewayId" value="{{ gateway.id }}"/>
        {{ csrfInput() }}

        {{ formHtml|raw }}
        <div id="currency-selector">
            <input type="number"  id="paymentAmount" class="text" name="paymentAmount" autocomplete="off" placeholder="{{ order.outstandingBalance }}" step="any" min="1" max="{{ order.outstandingBalance }}" value="{{ order.outstandingBalance }}" style="margin: 0 0 0 5px; width:{{ 65 + (10*order.outstandingBalance|length) }}px;">

            {% set currencies = craft.commerce.paymentCurrencies.getAllPaymentCurrencies() %}
            {% set primaryCurrency = craft.commerce.paymentCurrencies.getPrimaryPaymentCurrency() %}

            {% if currencies|length > 1 %}
                <select type="number" id="paymentCurrency" class="text" name="paymentCurrency"  style="margin: 0 5px;">
                {% for currency in currencies %}
                    <option value="{{currency.iso}}" {% if primaryCurrency.iso == currency.iso %}selected {% endif %}>
                        {{ currency.iso }}
                    </option>
                {% endfor %}
                </select>
                <span id="baseCurrencyAmount">{{ order.currency }} {{ order.outstandingBalanceAsCurrency }}</span>
            {% else %}
                 <input type="hidden" id="paymentCurrency" name="paymentCurrency" value="{{primaryCurrency.iso}}" />
            {% endif %}
            <p id="response-message"></p>
        </div>

        <div class="footer">
            <div class="buttons right">
                <input type="submit" class="btn submit" value="{{ 'Pay'|t('commerce') }}">
            </div>
        </div>

    </form>
</div>
{% js %}
    $('#gateway-{{ gateway.id }}-form').on('submit', function (ev) {
        $form = $(this);

        if ($form.data('processing')) {
            ev.preventDefault();
            return false;
        }

        $form.data('processing', true);
    });

    let primaryCurrency = '{{ primaryCurrency.iso }}';
    let outstandingBalance = '{{ order.outstandingBalance }}';
    let orderId = '{{ order.id }}';

    function debounce(callback, wait) {
      let timeout;
      return (...args) => {
          clearTimeout(timeout);
          timeout = setTimeout(function () { callback.apply(this, args); }, wait);
      };
    }

    function updatePrice() {
        var price = $("input#paymentAmount").val();
        $.ajax({
            type: "POST",
            dataType: 'json',
            headers: {
                "X-CSRF-Token" : '{{ craft.app.request.csrfToken }}',
            },
            url: '',
            data: {
                'action' : 'commerce/orders/payment-amount-data',
                'paymentAmount': price,
                'paymentCurrency': $("#paymentCurrency").val(),
                'orderId' : orderId
            },
            success: function(data){
                console.log(data);
                $("#baseCurrencyAmount").html(data.baseCurrencyPaymentAmountAsCurrency);

                if(data.message.length) {
                    $('#response-message').html(data.message);
                    window.dispatchEvent(new Event('resize'));
                }
            }
        });
    }

    $("input#paymentAmount").bind('keyup mouseup', debounce(() => {
        var newVal = $("input#paymentAmount").val();
        if(!newVal) {
            newVal = outstandingBalance;
            $("input#paymentAmount").val(newVal);
        }
        updatePrice();
    }, 500));

    var previous;
    if($("select#paymentCurrency").length){
        $("select#paymentCurrency").on('focus', function () {
            previous = this.value;
        }).on('change', function() {
            if(previous != this.value)
            if(this.value != primaryCurrency){
                $("input#paymentAmount").removeAttr('max');
            }else{
                $("input#paymentAmount").attr('max', outstandingBalance);
            }
            updatePrice();
        });
    }

{% endjs %}
