{% set currentYear = date()|date_modify("+1 year").format('Y') %}

<div id="gateway-{{ gateway.id }}-form"
     class="gateway-form {% if order and order.gatewayId != gateway.id %}hidden{% endif %}">
    <form method="POST" id="form-gateway-{{ gateway.id }}">
        <input type="hidden" name="action" value="commerce/payments/pay"/>
        <input type="hidden" name="redirect" value="commerce/payments/pay"/>

        {% if order %}
            {{ redirectInput(order.cpEditUrl) }}
            <input type="hidden" name="cancelUrl"
                   value="{{ order.cpEditUrl|hash }}"/>
            <input type="hidden" name="orderNumber" value="{{ order.number }}"/>
            <input type="hidden" name="orderEmail" value="{{ order.email }}"/>
        {% endif %}

        <input type="hidden" name="gatewayId" value="{{ gateway.id }}"/>
        {{ csrfInput() }}

        {{ formHtml|raw }}

        <div class="footer">
            <div class="buttons right">
                <input type="submit" class="btn submit"
                       value="Pay {{ order.outstandingBalance|commerceCurrency(order.currency,convert=true) }} Now">
            </div>
        </div>

    </form>
</div>
{% js %}
    $('#gateway-{{ gateway.id }}-form').on('submit', function (ev) {
    $form = $(this);

    if ($form.data('processing')) {
    ev.preventDefault();

    return false;
    }

    $form.data('processing', true);
    });
{% endjs %}
