{% set currentYear = date()|date_modify("+1 year").format('Y') %}

<div id="gateway-{{ gateway.id }}-form"
     class="gateway-form {% if order and order.gatewayId != gateway.id %}hidden{% endif %}">
    <form method="POST" id="form-gateway-{{ gateway.id }}">
        <input type="hidden" name="action" value="commerce/payments/pay"/>
        <input type="hidden" name="redirect" value="commerce/payments/pay"/>

        {% if order %}
            {{ redirectInput(order.cpEditUrl) }}
            <input type="hidden" name="cancelUrl"
                   value="{{ order.cpEditUrl|hash }}"/>
            <input type="hidden" name="orderNumber" value="{{ order.number }}"/>
            <input type="hidden" name="orderEmail" value="{{ order.email }}"/>
        {% endif %}

        <input type="hidden" name="gatewayId" value="{{ gateway.id }}"/>
        {{ csrfInput() }}

        {{ formHtml|raw }}
        <div id="currency-selector">
            <input type="number"  id="paymentAmount" class="text" name="paymentAmount" autocomplete="off" placeholder="{{ order.outstandingBalance }}" step="any" min="0" max="{{ order.outstandingBalance }}" value="{{ order.outstandingBalance }}" style="margin: 0 0 0 5px; width:{{ 65 + (10*order.outstandingBalance|length) }}px;">

                {% set currencies = craft.commerce.paymentCurrencies.getAllPaymentCurrencies() %}
                {% set primaryCurrency = craft.commerce.paymentCurrencies.getPrimaryPaymentCurrency() %}

                <select type="number" id="paymentCurrency" class="text" name="paymentCurrency"  style="margin: 0 5px;">
                    {% if currencies|length > 1 %}

                        {% for currency in currencies %}
                            {% if primaryCurrency.iso == currency.iso %}
                                {% set primary = true %}
                            {% else %}
                                {% set primary = false %}
                            {% endif %}
                            {% if order.paymentCurrency and (order.paymentCurrency == currency.iso and order.origin == 'web') %}
                                {% set selectedByCustomer = true %}
                            {% else %}
                                {% set selectedByCustomer = false %}
                            {% endif %}
                            <option value="{{currency.iso}}" {% if selectedByCustomer %}selected{% endif %} >
                                {{ currency.iso }}
                            </option>
                        {% endfor %}
                    {% else %}
                     <option value="{{primaryCurrency.iso}}">{{ primaryCurrency.name }}</option>
                    {% endif %}
                </select>
                <span id="#base-currency-amount">{{ order.currency }} {{ order.outstandingBalanceAsCurrency }}</span>
        </div>

        <div class="footer">
            <div class="buttons right">
                <input type="submit" class="btn submit" value="{{ 'Pay'|t('commerce') }}">
            </div>
        </div>

    </form>
</div>
{% js %}
    $('#gateway-{{ gateway.id }}-form').on('submit', function (ev) {
        $form = $(this);

        if ($form.data('processing')) {
            ev.preventDefault();
            return false;
        }

        $form.data('processing', true);
    });
{% endjs %}
