{% extends "commerce/_layouts/settingscp" %}

{% set crumbs = [
    { label: "Commerce Settings"|t('commerce'), url: url('commerce/settings') },
    { label: "Tax Zones"|t('commerce'), url: url('commerce/settings/taxzones') },
] %}

{% set fullPageForm = true %}

{% block content %}
    <input type="hidden" name="action" value="commerce/tax-zones/save">
    {{ redirectInput('commerce/settings/taxzones') }}
    {% if taxZone.id %}<input type="hidden" name="taxZoneId"
                              value="{{ taxZone.id }}">{% endif %}
    {% include "commerce/settings/taxzones/_fields" %}
{% endblock %}
