{% extends 'commerce/_layouts/main' %}
{%  block main %}

   {% import 'commerce/_includes/forms' as forms %}

   {%  for product in craft.market.products.find() %}
      <div class="row">
         <div class="eleven columns">
            <div class="flash">{{ craft.session.getFlash('market') }}</div>
         </div>
      </div>
      <div class="row">
         <div class="two columns">
            {% include "commerce/_images/productSmall" with { class: 'u-max-full-width' } %}
         </div>
         <div class="ten columns">
            {% if product.type.hasUrls %}
               <h5><a href="{{ product.url }}">{{ product.name }}</a></h5>
               {% else %}
               <h5>{{ product.name }}</h5>
            {% endif %}

            {% if product.type.hasVariants %}
               {% if product.variants|length %}
               {{ forms.addToCartForm(product.variants) }}
               {% else %}
               <p>This is a product without any variants.</p>
               {% endif %}
            {% else %}
               <strong>{{ product.masterVariant.description }}</strong><br/>
               <strong>SKU</strong> {{ product.masterVariant.sku }}<br/>
               <strong>Price</strong>
               {% if product.masterVariant.onSale %}
                  <strike>{{ product.masterVariant.price|marketCurrency }}</strike>   {{ product.masterVariant.salePrice|marketCurrency }}
               {% else %}
                  {{ product.masterVariant.price|marketCurrency }}
               {% endif %}<br/>
               <strong>Stock</strong> {{ product.masterVariant.unlimitedStock ? 'Unlimited'|t : product.masterVariant.stock }} <br/>
               {{ forms.addToCartButton(product.masterVariant) }}
            {% endif %}

         </div>
      </div>
   {% endfor %}
   
{%  endblock %}