.address-boxes {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.address-box {
    box-sizing: border-box;
    padding: 0 10px;
    margin-bottom: 1em;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .address-box {
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    .address-box {
        width: 33%;
    }
}
