@charset "UTF-8";

.lazy-create-modal {
  min-width: 200px;
  overflow: auto;
}

/* Variant Matrix styles */
.variant-matrixblock {
  padding: 0;
}

.variant-matrixblock > .titlebar {
  margin: 0;
  width: 100%;
}

.variant-matrixblock .text {
  background: transparent;
}

body.ltr .variant-matrixblock > .titlebar {
  padding-right: 140px;
}

body.rtl .variant-matrixblock > .titlebar {
  padding-left: 140px;
}

.variant-matrixblock > .actions > .default-btn {
  display: inline-block;
  margin: -1px 7px;
  border-radius: 3px;
  padding: 0 4px;
  width: auto !important;
  height: auto !important;
  font-size: 11px;
  text-transform: uppercase;
  color: hsl(212, 10%, 75%);
  text-decoration: none !important;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.variant-matrixblock > .actions > .default-btn:not(.sel):hover {
  border-color: hsl(212, 90%, 50%);
}

.variant-matrixblock > .actions > .default-btn.sel {
  color: #eef0f1;
  background: rgba(0, 0, 0, 0.25);
  background-clip: padding-box;
}

.variant-matrixblock:not(.single-col) > .fields {
  display: flex;
  align-items: stretch;
}

.variant-matrixblock:not(.single-col) > .fields > .variant-properties {
  width: 310px;
  border-right: 1px solid #e3e5e8;
}

.variant-matrixblock:not(.single-col) > .fields > .custom-fields {
  padding: 14px 24px;
  width: calc(100% - 359px);
}

.variant-matrixblock.single-col > .fields > .custom-fields > .field:first-child {
  border-top: 1px solid #e3e5e8;
}

.commerce-address.modal {
  width: 350px;
  padding-bottom: 58px;
  max-height: 684px;
}

.commerce-address.modal .body {
  padding: 0;
  overflow-y: visible;
  height: 100%;
}

.commerce-address.modal .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.commerce-address.modal h2 {
  padding-top: 24px;
  padding-left: 24px;
}

.commerce-address.modal .input {
  width: calc(100% - 110px);
}

.commerce-address.modal .heading {
  width: 110px;
}

ul.commerce-sales li {
  display: inline-block;
}

ul.commerce-sales li a {
  margin: 1px 5px 1px 7px;
  position: relative;
  display: block;
  padding: 1px 7px 1px 5px;
  border: 1px solid hsla(240, 100%, 4%, 0.1);
  border-radius: 0 3px 3px 0;
  background: #fff;
  background-clip: padding-box;
  color: hsl(212, 20%, 20%);
}

ul.commerce-sales li a:before {
  position: absolute;
  top: -1.5px;
  left: -12px;
  display: block;
  content: '.';
  font-size: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11.5px 11.5px 11.5px 0;
  border-color: transparent hsla(240, 100%, 4%, 0.1) transparent transparent;
}

ul.commerce-sales li a:after {
  position: absolute;
  top: 0;
  left: -10px;
  display: block;
  content: '.';
  font-size: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
}

ul.commerce-sales li a:hover {
  color: hsl(212, 90%, 50%);
  text-decoration: none;
}

ul.commerce-sales li a span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 105px;
}

.commerce-sales-buttons a {
  margin-top: 5px;
}