{% extends 'shop/_layouts/main' %}

{% block main %}
	<div class="row">
		<div class="twelve columns">
			<p>These are the Craft Commerce example templates.</p>
			<p>Resources:</p>
			<ul>
				<li><a href="https://craftcommerce.com/docs">Craft Commerce Documentation</a>.</li>
				<li><a href="https://craftcms.com/docs/introduction">Craft CMS Documentation</a>.</li>
				<li><a href="http://craftcms.stackexchange.com">Craft CMS Stack Exchange</a>. Use the <code>plugin-craftcommerce</code> tag.</li>
				<li><a href="https://craftcms.com/community#slack">Slack Community</a>. Use the <code>#craftcommerce</code> channel.</li>
			</ul>
		</div>
	</div>
{% endblock %}
