{% extends "commerce/_layouts/settings" %}

{% set crumbs = [
    { label: "Commerce Settings"|t('commerce'), url: url('commerce/settings') }
] %}


{% block content %}

    <div class="">

        <div id="Address" class="address-box hidden"
             data-title="{{ 'Store Location'|t }}"
             data-address='{%- if storeLocation and storeLocation.id -%}{{ storeLocation|json_encode_filtered }}{%- endif %}'
             data-saveendpoint="commerce/settings/savelocation">
            <div class="address-box-content">
                <div class="address-box-header"></div>
                {#{% if not currentUser.can('commerce-manageOrders') %}hidden{% endif %}#}
                <div class="address"></div>
            </div>
        </div>

    </div>

    {% js %}
        window.countries = JSON.parse('{{ craft.commerce.countries|json_encode|raw }}');
        window.states = JSON.parse('{{ craft.commerce.states|json_encode|raw }}');

        $(".address-box").each(function(){
        new Craft.Commerce.AddressBox($(this),{});
        });
    {% endjs %}

{% endblock %}
