{% extends "commerce/_layouts/promotions" %}
{% set selectedSidebarNavItem = 'discounts' %}

{% block actionButton %}
    <div class="buttons">
        <a href="{{ url('commerce/promotions/discounts/new') }}"
           class="btn submit add icon">{{ 'New discount'|t('commerce') }}</a>
    </div>
{% endblock %}


{% block content %}
    <h2>{{ "Discounts"|t('commerce') }}</h2>

    <div id="no-discounts"{% if discounts|length %} class="hidden"{% endif %}>
        <p>{{ "No discounts exist yet."|t('commerce') }}</p>
    </div>

    {% if discounts|length %}
        <table id="discounts" class="data fullwidth collapsible">
            <thead>
            <tr>
                <th scope="col">{{ "Name"|t('commerce') }}</th>
                <th scope="col">{{ "Code"|t('commerce') }}</th>
                <th scope="col">{{ "Duration"|t('commerce') }}</th>
                <th scope="col">{{ "Times Used"|t('commerce') }}</th>
                <th scope="col">{{ "Stops Processing?"|t('commerce') }}</th>
                <th scope="col">{{ "Ignore Sales?"|t('commerce') }}</th>
                <td class="thin"></td>
                <td class="thin"></td>
            </tr>
            </thead>
            <tbody>
            {% for discount in discounts %}
                <tr data-id="{{ discount.id }}" data-name="{{ discount.name }}">
                    <th scope="row" data-title="{{ 'Name'|t('commerce') }}">
                        {% if discount.enabled %}
                            <div class="status enabled"></div>
                        {% else %}
                            <div class="status"></div>
                        {% endif %}
                        <a href="{{ url('commerce/promotions/discounts/'~discount.id) }}">{{ discount.name }}</a>
                    </th>
                    <td data-title="{{ 'Code'|t('commerce') }}"
                        class="code">{{ discount.code }}</td>
                    <td data-title="{{ 'Duration'|t('commerce') }}">
                        {{ (discount.dateFrom ? discount.dateFrom|datetime('short'): '∞') }}
                        -
                        {{ (discount.dateTo ? discount.dateTo|datetime('short') : '∞') }}
                    </td>
                    <td data-title="{{ 'Times Coupon Used'|t('commerce') }}">{{ discount.totalUses }}</td>
                    <td data-title="{{ 'Can Stop Processing?'|t('commerce') }}">
                        {% if discount.stopProcessing %}
                          <span data-icon="check" title="{{ 'Yes'|t('commerce') }}"></span>
                        {% endif %}
                    </td>
                    <td data-title="{{ 'Ignore Sales?'|t('commerce') }}">
                        {% if discount.ignoreSales %}
                          <span data-icon="check" title="{{ 'Yes'|t('commerce') }}"></span>
                        {% endif %}
                    </td>
                    <td class="thin">
                        <a class="move icon disabled"
                           title="{{ 'Delete'|t('commerce') }}"
                           role="button"></a>
                    </td>
                    <td class="thin"><a class="delete icon"
                                        title="{{ 'Delete'|t('commerce') }}"
                                        role="button"></a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}
{% endblock %}


{% js %}
    var adminTable = new Craft.AdminTable({
      tableSelector: '#discounts',
      noObjectsSelector: '#no-discounts',
      deleteAction: 'commerce/discounts/delete',
      sortable: true,
      reorderAction: 'commerce/discounts/reorder',
      reorderSuccessMessage: Craft.t('commerce', 'Discounts reordered.') ,
      reorderFailMessage:    Craft.t('commerce', 'Couldn’t reorder discounts.')
    });
{% endjs %}
