{% extends "commerce/_layouts/promotions" %}
{% set selectedSidebarNavItem = 'discounts' %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}
{% do view.registerTranslations('commerce', [
    'Code',
    'Duration',
    'Times Used',
    'Stops Processing?',
    'Ignore Sales?',
    'Discounts reorderd.',
    'Couldn’t reorder discounts.',
    'No discounts exist yet.',
]) %}

{% block actionButton %}
    <a href="{{ url('commerce/promotions/discounts/new') }}" class="btn submit add icon">{{ 'New discount'|t('commerce') }}</a>
{% endblock %}


{% block content %}
    <div id="discounts-vue-admin-table"></div>
{% endblock %}

{% set tableData = [] %}
{% for discount in discounts %}
    {% set tableData = tableData|merge([{
        id: discount.id,
        title: discount.name|t('site'),
        url: url('commerce/promotions/discounts/' ~ discount.id),
        status: discount.enabled ? true : false,
        duration: (discount.dateFrom ? discount.dateFrom|datetime('short') : '∞') ~ ' - ' ~ (discount.dateTo ? discount.dateTo|datetime('short') : '∞'),
        timesUsed: discount.totalDiscountUses,
        handle: discount.code,
        ignore: discount.ignoreSales ? true : false,
        stop: discount.stopProcessing ? true : false,
    }]) %}
{% endfor %}



{% js %}
    var actions = [
        {
            label: Craft.t('app', 'Set Status'),
            actions: [
                {
                    label: Craft.t('app', 'Enabled'),
                    action: 'commerce/discounts/update-status',
                    param: 'status',
                    value: 'enabled',
                    status: 'enabled'
                },
                {
                    label: Craft.t('app', 'Disabled'),
                    action: 'commerce/discounts/update-status',
                    param: 'status',
                    value: 'disabled',
                    status: 'disabled'
                }
            ]
        }
    ];

    var columns = [
        { name: '__slot:title', title: Craft.t('app', 'Name') },
        { name: '__slot:handle', title: Craft.t('commerce', 'Code') },
        { name: 'duration', title: Craft.t('commerce', 'Duration') },
        { name: 'timesUsed', title: Craft.t('commerce', 'Times Used') },
        { name: 'stop', title: Craft.t('commerce', 'Stops Processing?'),
            callback: function(value) {
                if (value) {
                    return '<span data-icon="check" title="'+Craft.escapeHtml(Craft.t('app', 'Yes'))+'"></span>';
                }

                return '';
            }
        },
        { name: 'ignore', title: Craft.t('commerce', 'Ignore Sales?'),
            callback: function(value) {
                if (value) {
                    return '<span data-icon="check" title="'+Craft.escapeHtml(Craft.t('app', 'Yes'))+'"></span>';
                }

                return '';
            }
        },
    ];

    new Craft.VueAdminTable({
        actions: actions,
        checkboxes: true,
        columns: columns,
        container: '#discounts-vue-admin-table',
        deleteAction: 'commerce/discounts/delete',
        emptyMessage: Craft.t('commerce', 'No discounts exist yet.'),
        padded: true,
        reorderAction: 'commerce/discounts/reorder',
        reorderSuccessMessage: Craft.t('commerce', 'Discounts reordered.') ,
        reorderFailMessage:    Craft.t('commerce', 'Couldn’t reorder discounts.'),
        tableData: {{ tableData|json_encode|raw }}
});
{% endjs %}
