{% extends 'commerce/_layouts/main' %}

{% set orderId = craft.request.param('orderId') %}
{% set order = craft.market.orders.id(orderId).customer(craft.market.customer).first() %}

{% if not order %}
    {% redirect 'commerce/customer' %}
{% endif %}

{%  block main %}

    <div class="row">
        <div class="eleven columns">

            <p><a href="{{ url('commerce/customer') }}">My Orders</a></p>
            <h1>Order #{{ order.id }}</h1>


            <div class="row">
                <div class="four columns">
                    <h4>Details</h4>

                    <ul>
                        <li><strong>{{ "Customer"|t }}:</strong> {{ order.customer.email}}</li>
                        <li><strong>{{ "Total"|t }}:</strong> {{ order.totalPrice|marketCurrency}}</li>
                        <li><strong>{{ "Date"|t }}:</strong> {{ order.dateOrdered}}</li>
                    </ul>

                </div>
                <div class="four columns">
                    <h4>Shipping Address</h4>

                    {% include 'commerce/_includes/address' with { address: order.shippingAddress } %}
                </div>
                <div class="four columns">
                    <h4>Billing Address</h4>

                    {% include 'commerce/_includes/address' with { address: order.billingAddress } %}

                </div>
            </div>


            <h4>Receipt (<a href="{{ order.getPdfUrl('receipt') }}">Download</a>)</h4>

            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th class="text-right">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order.lineItems %}
                        {% set purchasable = item.purchasable %}
                        <tr>
                            <td>
                                <strong>{{ purchasable.description }}</strong><br/>
                                SKU: {{ purchasable.sku }}
                            </td>
                            <td>
                                {% if purchasable.onSale %}
                                    <strike>{{ purchasable.price|marketCurrency }}</strike>   {{ purchasable.salePrice|marketCurrency }}
                                {% else %}
                                   {{ purchasable.price|marketCurrency }}
                                {% endif %}
                            </td>
                            <td>{{ item.qty }}</td>
                            <td class="text-right">{{ item.total|marketCurrency }}</td>
                        </tr>
                    {% endfor %}

                    {%  for adjustment in order.adjustments %}
                        <tr>
                            <td>{{ adjustment.type }}</td>
                            <td colspan="2"><strong>{{ adjustment.name }}</strong><br/>({{ adjustment.description }})</td>
                            <td class="text-right">{{ adjustment.amount|marketCurrency }}</td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="4" class="text-right">
                            Item Total: {{ order.itemTotal|marketCurrency }}<br/>
                            Base Discount: {{ order.baseDiscount|marketCurrency }}<br/>
                            Base Shipping Rate: {{ order.baseShippingCost|marketCurrency }}<br/>
                            <h4>Total: {{ order.totalPrice|marketCurrency }}</h4>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
{% endblock %}