{% extends 'commerce/_layouts/main' %}

{% set orderId = craft.request.param('orderId') %}
{% set order = craft.commerce.orders.number(orderId).customer(craft.commerce.customer).first() %}

{% if not order %}
    {% redirect 'commerce/customer' %}
{% endif %}

{% block main %}

    <div class="row">
        <div class="eleven columns">

            {% if currentUser %}<p><a href="{{ url('commerce/customer') }}">My Orders</a></p>{% endif %}
            <h1>Order #{{ order.id }}</h1>


            <div class="row">
                <div class="four columns">
                    <h4>Details</h4>

                    <ul>
                        <li><strong>{{ "Customer"|t }}:</strong> {{ order.customer.email }}</li>
                        <li><strong>{{ "Total"|t }}:</strong> {{ order.totalPrice|commerceCurrency }}</li>
                        <li><strong>{{ "Date"|t }}:</strong> {{ order.dateOrdered }}</li>
                    </ul>

                </div>
                <div class="four columns">
                    <h4>Shipping Address</h4>

                    {% include 'commerce/_includes/address' with { address: order.shippingAddress } %}
                </div>
                <div class="four columns">
                    <h4>Billing Address</h4>

                    {% include 'commerce/_includes/address' with { address: order.billingAddress } %}

                </div>
            </div>


            <h4>Receipt (<a href="{{ order.getPdfUrl('receipt') }}">Download</a>)</h4>

            <table class="u-full-width">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th class="text-right">Total</th>
                </tr>
                </thead>
                <tbody>
                {% for item in order.lineItems %}
                    <tr>
                        <td>
                            <strong>{{ item.description }}</strong><br/>
                            SKU: {{ item.sku }}
                        </td>
                        <td>
                            {% if item.onSale %}
                                <strike>{{ item.price|commerceCurrency }}</strike>   {{ item.salePrice|commerceCurrency }}
                            {% else %}
                                {{ item.price|commerceCurrency }}
                            {% endif %}
                        </td>
                        <td>{{ item.qty }}</td>
                        <td class="text-right">{{ item.total|commerceCurrency }}</td>
                    </tr>
                {% endfor %}

                {% for adjustment in order.adjustments %}
                    <tr>
                        <td>{{ adjustment.type }}</td>
                        <td colspan="2"><strong>{{ adjustment.name }}</strong><br/>({{ adjustment.description }})</td>
                        <td class="text-right">{{ adjustment.amount|commerceCurrency }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <td colspan="4" class="text-right">
                        Item Total: {{ order.itemTotal|commerceCurrency }}<br/>
                        Base Discount: {{ order.baseDiscount|commerceCurrency }}<br/>
                        Base Shipping Rate: {{ order.baseShippingCost|commerceCurrency }}<br/>
                        <h4>Total: {{ order.totalPrice|commerceCurrency }}</h4>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
