{% extends "commerce/_layouts/settingscp" %}

{% set crumbs = [
    { label: "Commerce Settings"|t('commerce'), url: url('commerce/settings') },
    { label: "Tax Rates"|t('commerce'), url: url('commerce/settings/taxrates') },
] %}

{% set fullPageForm = true %}

{% block content %}
    <input type="hidden" name="action" value="commerce/tax-rates/save">
    {{ redirectInput('commerce/settings/taxrates') }}
    {% if taxRate.id %}<input type="hidden" name="taxRateId"
                              value="{{ taxRate.id }}">{% endif %}
    {% include "commerce/settings/taxrates/_fields" %}
{% endblock %}

