{% extends "commerce/_layouts/settings" %}

{% block content %}
    <h2>{{ "Tax Rates"|t('commerce') }}</h2>

    <div id="no-tax-rates"{% if taxRates|length %} class="hidden"{% endif %}>
        <p>{{ "No tax rates exist yet."|t('commerce') }}</p>
    </div>

    {% if taxRates|length %}
        <table id="tax-rates" class="data fullwidth collapsible">
            <thead>
            <tr>
                <th scope="col">{{ 'Name'|t('commerce') }}</th>
                <th scope="col">{{ 'Rate'|t('commerce') }}</th>
                <th scope="col">{{ 'Include in Price?'|t('commerce') }}</th>
                <th scope="col">{{ 'Is Vat?'|t('commerce') }}</th>
                <th scope="col">{{ 'Tax Zone'|t('commerce') }}</th>
                <th scope="col">{{ 'Tax Category'|t('commerce') }}</th>
                <td class="thin"></td>
            </tr>
            </thead>
            <tbody>
            {% for taxRate in taxRates %}
                <tr data-id="{{ taxRate.id }}" data-name="{{ taxRate.name }}">
                    <th scope="row" data-title="{{ 'Name'|t('commerce') }}"><a
                                href="{{ url('commerce/settings/taxrates/'~taxRate.id) }}">{{ taxRate.name }}</a>
                    </th>
                    <td data-title="{{ 'Rate'|t('commerce') }}">{{ taxRate.rateAsPercent }}</td>
                    <td data-title="{{ 'Include in Price?'|t('commerce') }}">{% if taxRate.include %}
                        <span data-icon="check"
                              title="{{ 'Yes'|t('commerce') }}"></span>{% endif %}
                    </td>
                    <td data-title="{{ 'Is Vat?'|t('commerce') }}">{% if taxRate.isVat %}
                        <span data-icon="check"
                              title="{{ 'Yes'|t('commerce') }}"></span>{% endif %}
                    </td>
                    <td data-title="{{ 'Tax Zone'|t('commerce') }}"><a
                                href="{{ taxRate.taxZone.cpEditUrl }}">{{ taxRate.taxZone.name }}</a>
                    </td>
                    <td data-title="{{ 'Tax Category'|t('commerce') }}"><a
                                href="{{ taxRate.taxCategory.cpEditUrl }}">{{ taxRate.taxCategory.name }}</a>
                    </td>
                    <td class="thin"><a class="delete icon"
                                        title="{{ 'Delete'|t('commerce') }}"
                                        role="button"></a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}
    <div class="buttons">
        <a href="{{ url('commerce/settings/taxrates/new') }}"
           class="btn submit add icon">{{ 'New tax rate'|t('commerce') }}</a>
    </div>
{% endblock %}


{% js %}
    var adminTable = new Craft.AdminTable({
    tableSelector: '#tax-rates',
    noObjectsSelector: '#no-tax-rates',
    deleteAction: 'commerce/tax-rates/delete'
    });
{% endjs %}
