<div id="commerce" class="hidden">
{#  {% if customer %}#}
{#    {% include 'commerce/customers/_includes/_customerTables' with { customer: customer, addressRedirect: addressRedirect } %}#}
{#  {% endif %}#}
</div>
