{% extends "commerce/_layouts/cp" %}

{% set crumbs = [
    { label: "Commerce Settings"|t('commerce'), url: url('commerce/settings') },
    { label: "Gateways"|t('commerce'), url: url('commerce/settings/gateways') },
] %}

{% set selectedSubnavItem = 'settings' %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}

{% block content %}
    <input type="hidden" name="id" value="{{ gateway.id }}">
    <input type="hidden" name="action" value="commerce/gateways/save">
    {{ redirectInput('commerce/settings/gateways') }}

    {{ forms.textField({
        label: 'Name'|t('commerce'),
        name: 'name',
        id: 'name',
        value : gateway.name,
        required: true,
        errors: gateway.getErrors('name'),
    }) }}

    {{ forms.textField({
        label: 'Handle'|t('commerce'),
        name: 'handle',
        id: 'handle',
        value : gateway.handle,
        required: true,
        errors: gateway.getErrors('handle'),
    }) }}

    {% if gateway.supportsWebhooks() %}
        {{ forms.textField({
            label: "Webhook URL",
            instructions: "The webhook URL for this gateway.",
            disabled: true,
            value: gateway.webhookUrl
        }) }}
    {% endif %}
    <hr>

    {{ forms.selectField({
        first: true,
        label: 'Gateway'|t('commerce'),
        warning: (gateway.id ? "Changing this value may affect your ability to refund existing transactions."|t),
        id: 'type',
        name: 'type',
        options : gatewayOptions,
        value : className(gateway),
        required: true,
        errors: gateway.getErrors('type') ?? null,
        toggle: true
    }) }}

    <input type="hidden" name="gatewayClass" value="{{ className(gateway) }}">

    {% for gatewayType in gatewayTypes %}
        {% set isCurrent = (gatewayType == className(gateway)) %}

        <div id="{{ gatewayType|id }}"{% if not isCurrent %} class="hidden"{% endif %}>

            {% namespace 'paymentTypes['~gatewayType~']' %}
                {{ forms.selectField({
                    label: "Credit Card Payment Type"|t('commerce'),
                    instructions: "If set to Authorize Only, you will need to manually capture payments before the funds will be transferred to your account. The Gateway needs to support the selected option."|t('commerce'),
                    id: 'paymentType',
                    name: 'paymentType',
                    value: gateway.paymentType,
                    options: gatewayInstances[gatewayType].getPaymentTypeOptions(),
                    errors: gateway.getErrors('paymentType'),
                    required: true,
                }) }}
            {% endnamespace %}

            {% namespace 'types['~gatewayType~']' %}
                {% if isCurrent %}
                    {{ gateway.getSettingsHtml()|raw }}
                {% else %}
                    {{ gatewayInstances[gatewayType].getSettingsHtml()|raw }}
                {% endif %}
            {% endnamespace %}
        </div>
    {% endfor %}

    <hr>

    {{ forms.lightswitchField({
        label: "Enabled for customers to select during checkout?"|t('commerce'),
        name: 'isFrontendEnabled',
        on: gateway.isFrontendEnabled,
        errors: gateway.getErrors('isFrontendEnabled'),
    }) }}

{% endblock %}

{% js %}
    $(function() {
        $('#type').change(function() {
            $('.gateway-settings').hide().find('select, input, textarea').prop('disabled', true);
            if($(this).val()) {
                $('#gateway-' + $(this).val()).show().find('select, input, textarea').prop('disabled', false);
            }
        }).change();
    });
{% endjs %}

{% if gateway is not defined or not gateway.handle %}
    {% js %}
        new Craft.HandleGenerator('#name', '#handle');
    {% endjs %}
{% endif %}
