{% extends "commerce/_layouts/settings" %}

{% set title = "Gateways"|t('commerce') %}

{% block content %}
    <h2>{{ "Gateways"|t('commerce') }}</h2>

    <table id="gateways" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th class="thin">{{ "ID"|t('commerce') }}</th>
            <th>{{ "Name"|t('commerce') }}</th>
            <th>{{ "Handle"|t('commerce') }}</th>
            <th>{{ "Type"|t('commerce') }}</th>
            <th>{{ "Customer Enabled?"|t('commerce') }}</th>
            <td class="thin"></td>
            <td class="thin"></td>
        </tr>
        </thead>
        <tbody>
        {% for gateway in gateways %}
            <tr data-id="{{ gateway.id }}"
                data-name="{{ gateway.name }}">
                <td class="thin" scope="row"
                    data-title="{{ 'ID'|t('commerce') }}">{{ gateway.id }}</td>
                <th scope="row" data-title="{{ 'Name'|t('commerce') }}"><a
                            href="{{ gateway.cpEditUrl }}">{{ gateway.name }}</a>
                </th>
                <td data-title="{{ 'Handle'|t('commerce') }}">{{ gateway.handle }}</td>
                <td data-title="{{ 'Type'|t('commerce') }}">
                    {% if gateway is missing %}
                        <span class="error">{{ gateway.expectedType }}</span>
                    {% else %}
                        {{ gateway.displayName() }}
                    {% endif %}
                </td>
                <td data-title="{{ 'Customer Enabled?'|t('commerce') }}">
                    {% if gateway.isFrontendEnabled %} <span data-icon="check"
                                                           title="{{ 'Yes'|t('commerce') }}"></span>{% endif %}
                </td>
                <td class="thin"><a class="move icon"
                                    title="{{ 'Delete'|t('commerce') }}"
                                    role="button"></a></td>
                <td class="thin"><a class="delete icon"
                                    title="{{ 'Archive'|t('commerce') }}"
                                    role="button"></a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="buttons">
        <a href="{{ url('commerce/settings/gateways/new') }}"
           class="btn submit add icon">{{ 'New gateway'|t('commerce') }}</a>
    </div>
{% endblock %}


{% js %}
    new Craft.AdminTable({
    tableSelector: '#gateways',
    deleteAction: 'commerce/gateways/archive',
    minObjects: 0,
    sortable: true,
    reorderAction: 'commerce/gateways/reorder',
    reorderSuccessMessage: Craft.t('commerce', 'Gateways reordered.') ,
    reorderFailMessage:    Craft.t('commerce', 'Couldn’t reorder gateways..')
    });
{% endjs %}
