{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}
{% do view.registerTranslations('commerce', [
]) %}

{% block content %}
    <div id="locations-table"></div>
{% endblock %}

{% set tableData = [] %}

{% js %}
    var columns = [
        { name: '__slot:title', title: Craft.t('commerce', 'Name') },
        { name: '__slot:handle', title: Craft.t('commerce', 'Handle') },
        { name: 'address', title: Craft.t('commerce', 'Address') },
        { name: 'delete', title: Craft.t('commerce', '') }
    ];

 window.InventoryLocationsAdminTable = new Craft.VueAdminTable({
        checkboxes: false,
        columns: columns,
        fullPane: true,
        container: '#locations-table',
        emptyMessage: Craft.t('commerce', 'No inventory locations exist yet.'),
        padded: false,
        tableDataEndpoint: 'commerce/inventory-locations/inventory-locations-table-data'
});
{% endjs %}