{% extends 'commerce/_layouts/main' %}

{%  block main %}

    {# Get All Products. #}
    {# Documentation: LINKHERE #}

    {% import 'commerce/_includes/forms' as forms %}

    <div class="row">
        <div class="six columns">
            {% include "commerce/_images/productLarge" with { class: 'u-max-full-width' } %}
        </div>
        <div class="six columns">
            {% if product.type.hasUrls %}
                <h1><a href="{{ product.url }}">{{ product.name }}</a></h1>
            {% else %}
                <h1>{{ product.name }}</h1>
            {% endif %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum fugit hic iste repellat sequi. Beatae est similique suscipit vitae. Ad cupiditate deleniti deserunt eveniet explicabo labore nisi pariatur placeat, quos.</p>

            {% if product.type.hasVariants %}
                {{ forms.addToCartForm(product.variants) }}
            {% else %}
                {% include 'commerce/_includes/purchasableDetails' with {'purchasable':product} %}
                {{ forms.addToCartButton(product) }}
            {% endif %}

        </div>
    </div>

{%  endblock %}