/* General */
.text-right {
  text-align: right;
}

.order-margin {
  padding: 0 10px;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

/* Width */

.w-1\/2 {
  width: 50%;
}

.w-1\/3 {
  width: 33.3333%;
}

.w-2\/3 {
  width: 66.6666%;
}

.w-1\/4 {
  width: 25%;
}

.w-3\/4 {
  width: 75%;
}

.w-1\/5 {
  width: 20%;
}

.w-2\/5 {
  width: 40%;
}

.w-3\/5 {
  width: 60%;
}

.w-4\/5 {
  width: 80%;
}

.w-3\/10 {
  width: 30%;
}

.w-7\/10 {
  width: 70%;
}

.w-full {
  width: 100%;
}

.pt {
  padding-top: 14px;
}

.pb {
  padding-bottom: 14px;
}

.pl {
  padding-left: 14px;
}

.pr {
  padding-right: 14px;
}

.px {
  padding-left: 14px;
  padding-right: 14px;
}

.py {
  padding-top: 14px;
  padding-bottom: 14px;
}

.pt-lg {
  padding-top: 24px;
}

.pb-lg {
  padding-bottom: 24px;
}

.pl-lg {
  padding-left: 24px;
}

.pr-lg {
  padding-right: 24px;
}

.px-lg {
  padding-left: 24px;
  padding-right: 24px;
}

.py-lg {
  padding-top: 24px;
  padding-bottom: 24px;
}

.p-t {
  padding-top: 14px;
}

.p-1 {
  padding: 7px;
}

.p-2 {
  padding: 14px;
}

.px-1 {
  padding-left: 6px;
  padding-right: 6px;
}

.px-2 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-4 {
  padding-left: 24px;
  padding-right: 24px;
}

.m-0 {
  margin: 0;
}

.mt-tiny {
  margin-top: 4px;
}

.my-1 {
  padding-bottom: 6px;
  padding-top: 6px;
}

.ml-1 {
  padding-left: 6px;
}

.ml-2 {
  padding-left: 12px;
}

.mx-1 {
  padding-left: 6px;
  padding-right: 6px;
}

.mx-2 {
  padding-left: 12px;
  padding-right: 12px;
}

.mx-4 {
  padding-left: 24px;
  padding-right: 24px;
}

.\-mx-1 {
  margin-left: -6px;
  margin-right: -6px;
}

.\-mx-2 {
  margin-left: -12px;
  margin-right: -12px;
}

.\-mx-4 {
  margin-left: -24px;
  margin-right: -24px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.error-bg {
  background-color: #fce3e3;
}
