{% extends 'commerce/_layouts/_main' %}
{%  block content %}

   {# Get All Products. #}
   {# Documentation: LINKHERE #}

   {% import 'commerce/_includes/_forms' as forms %}

   {%  for product in craft.market.products.find() %}
   <div class="row">
      <div class="eleven columns">
         <div class="flash">{{ craft.session.getFlash('market') }}</div>
      </div>
   </div>
   <div class="row">
      <div class="two columns">
         {% include "commerce/_includes/_bacon" %}
      </div>
      <div class="ten columns">
         {% if product.type.hasUrls %}
            <h5><a href="{{ product.url }}">{{ product.name }}</a></h5>
            {% else %}
            <h5>{{ product.name }}</h5>
         {% endif %}

         {% if product.type.hasVariants %}
            {% for variant in product.variants %}
               {% include 'commerce/_includes/_purchasableDetails' with {'purchasable':variant} %}
               {{ forms.addToCartButton(variant) }}
            {% endfor %}
         {% else %}
            {% include 'commerce/_includes/_purchasableDetails' with {'purchasable':product} %}
            {{ forms.addToCartButton(product) }}
         {% endif %}

      </div>
   </div>
   {% endfor %}

{%  endblock %}