{% extends "commerce/_layouts/cp" %}

{% set crumbs = [
    { label: "Shipping"|t('commerce'), url: url('commerce/shipping') },
    { label: "Shipping Zones"|t('commerce'), url: url('commerce/shipping/shippingzones') },
] %}

{% set selectedSubnavItem = 'shipping' %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}

{% block content %}
    <input type="hidden" name="action" value="commerce/shipping-zones/save">
    {{ redirectInput('commerce/shipping/shippingzones') }}
    {% if shippingZone.id %}<input type="hidden" name="shippingZoneId"
                                   value="{{ shippingZone.id }}">{% endif %}
    {% include "commerce/shipping/shippingzones/_fields" %}
{% endblock %}
