{% set boldKeys = ['attention', 'name', 'businessName'] %}
<!-- Template: {{ _self }}.twig -->
<ul>
  {% for key, line in address.addressLines %}
    <li>
      {{ tag(key in boldKeys ? 'strong' : 'span', {
        text: key == 'attention' ? 'Attn'|t ~ ': ' ~ line : line
      }) }}
    </li>
  {% endfor %}
</ul>
