{% includeJsResource 'lib/jquery-2.1.1.min.js' -%}
{% import 'market/cart/_addressMacro.html' as forms %}

<h2>Fill the Address form</h2>

{% if not craft.session.isLoggedIn() %}
<strong>Notice: You are working as guest. It is recommended to sign up to associate the order with your credentials</strong><br/>
{% endif %}

{% set addresses = craft.market.customer.addresses %}
{% set order = craft.market.cart %}

<form method="post">

{% if addresses %}
    <input type="hidden" name="action" value="market/cartAddress/chooseAddresses">

    <h3>Choose an address for Shipping</h3>

    {% for address in addresses %}
        <label style=" display: block; float: left; margin: 10px; padding: 10px; border: 1px solid #bbbbbb">
            {% for key,value in address.attributes %}
                {{ key|makeLabel }}: {{ value }}<br/>
            {% endfor %}

            <input type="radio" name="billingAddressId" value="{{ address.id }}" {% if order.billingAddressId == address.id %}checked{% endif %} />
            <strong>Choose this</strong>
        </label>
    {% endfor %}

    <div style="clear: both;"></div>
    <h3>Choose an address for Billing</h3>

    {% for address in addresses %}
        <label style=" display: block; float: left; margin: 10px; padding: 10px; border: 1px solid #bbbbbb">
            {% for key,value in address.attributes %}
                {{ key|makeLabel }}: {{ value }}<br/>
            {% endfor %}

            <input type="radio" name="shippingAddressId" value="{{ address.id }}" {% if order.shippingAddressId == address.id %}checked{% endif %} />
            <strong>Choose this</strong>
        </label>
    {% endfor %}

    <div style="clear: both;"></div>

{% else %}
    <input type="hidden" name="action" value="market/cartAddress/postTwoAddresses">

    <h3>Shipping Address</h3>
    {{ forms.addressForm('ShippingAddress', shippingAddress is defined ? shippingAddress : null ) }}
    
    <h3>Billing Address</h3>
    {{ forms.addressForm('BillingAddress', billingAddress is defined ? billingAddress : null) }}
{% endif %}

    <input type="submit" value="Confirm addresses">
</form>

{%- set js %}

    var states = {{ craft.market.statesArray|json_encode|raw }};

    $('.address-country select').change(function() {
        var cid = $(this).val(),
            $states = $(this).closest('table').find('.address-state select');

        $states.find('option').remove();

        if(states.hasOwnProperty(cid)) {
            for(var id in states[cid]) {
                var state = states[cid][id],
                    $option = $('<option/>');

                $option.attr('value', id).text(state);
                $states.append($option);
            }
        }
    });

{%- endset %}
{%- includeJs js %}
