<tr>
    <td class="col-md-2">
        {{lineItem.variant.product.title}}<br/>
        {{ lineItem.variant.optionsText }}<br/>
        SKU {{ lineItem.variant.sku }}
    </td>
    <td class="col-md-2">
        <pre style="border: none">{{ lineItem.optionsJson|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
    </td>
    <td>
        {% if readOnly is defined %}
        {{ lineItem.qty }}
        {% else %}
        <form method="POST" class="form-inline">
            <input type="hidden" name="action" value="market/cart/updateQty">
            <input type="hidden" name="redirect" value="market/cart">
            <input type="hidden" name="lineItemId" value="{{ lineItem.id }}">
            <input type="number" name="qty" min="1" value="{{ lineItem.qty }}" class="form-control" width="11">
            <input type="submit" class="btn" value="Update" />
            {% if error is defined %}<strong>Error: {{ error }}</strong>{% endif %}
        </form>
        {% endif %}
    </td>
    <td>
        {% if lineItem.underSale %}
            <s>Price: {{ lineItem.price|number_format(2) }}</s><br/>
            Sale Price: {{ lineItem.subtotalWithSale|number_format(2) }}<br/>
        {% else %}
            Price: {{ lineItem.price|number_format(2) }}<br/>
        {% endif %}
        Sale Off: {{ lineItem.saleAmount|number_format(2) }}<br/>
        Discount: {{ lineItem.discountAmount|number_format(2) }}<br/>
        Taxes: {{ lineItem.taxAmount|number_format(2) }}<br/>
        Ship Total: {{ lineItem.shippingAmount|number_format(2) }}<br/>
        Total: {{ lineItem.total|number_format(2) }}<br/>
    </td>
    <td>
        {% if not readOnly is defined %}
        <form method="POST" class="form-inline">
            <input type="hidden" name="action" value="market/cart/remove" />
            <input type="hidden" name="redirect" value="market/cart" />
            <input type="hidden" name="lineItemId" value="{{ lineItem.id }}" />
            <input type="submit" class="btn btn-xs btn-danger" value="Remove" />
        </form>
        {% endif %}
    </td>
</tr>