{% if not cart.lineItems|length %}

<div class="flash-info">
<p class="bg-info">You have nothing in you cart, add some <a href="{{url('market/products')}}">products</a> to your cart</p>
</div>

{% else %}

<table class="table">
    <thead>
    <tr>
        <th>Product</th>
        <th>Info</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for lineItem in cart.lineItems %}
        {% include "market/cart/_cartLineItem" %}
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td>
            <form method="POST" class="form-inline">
                <input type="hidden" name="action" value="market/cart/applyCoupon">
                <input type="hidden" name="redirect" value="market/cart">
                Coupon Code: <input type="text" name="couponCode" class="form-control" width="11" value="{{ cart.couponCode }}">
                <input type="submit" class="btn" value="{% if cart.couponCode %}Change{% else %}Apply{% endif %} Coupon" />
                {% if couponError is defined %}<strong>Error: {{ couponError }}</strong>{% endif %}
            </form>
        </td>
        <td>
            Item Total: {{ cart.itemTotal }}<br/>
            Adjustment Total: {{ cart.adjustmentTotal }}<br/>
            Price Total: {{ cart.itemTotal + cart.adjustmentTotal }}
        <td></td>
    </tr>
    <tr>
        <td>
            <form method="POST">
                <input type="hidden" name="action" value="market/cart/removeAll" />
                <input type="hidden" name="redirect" value="market/cart" />
                <input class="btn btn-danger btn-xs" type="submit" value="Remove all" />
            </form>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <form method="POST">
                <input type="hidden" name="action" value="market/cart/goToAddress" />
                <input type="hidden" name="redirect" value="market/cart" />
                <input class="btn btn-primary" type="submit" value="Checkout" />
            </form></td>
    </tr>
    </tbody>

</table>

{% endif %}