{% if not cart.lineItems|length %}

<div class="flash-info">
<p class="bg-info">You have nothing in you cart, add some <a href="{{url('market/products')}}">products</a> to your cart</p>
</div>

{% else %}

<table class="table">
    <thead>
    <tr>
        <th>Product</th>
        <th>Info</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for lineItem in cart.lineItems %}
        {% include "market/cart/_cartLineItem" %}
    {% endfor %}
    {% for adjustment in cart.adjustments %}
        <tr>
            <td></td>
            <td><pre style="border: none">{{ adjustment.optionsJson|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre></td>
            <td>
                {{ adjustment.type }} <strong>{{ adjustment.name }}</strong> ({{ adjustment.description }})
            </td>
            <td>
                {{ adjustment.amount|number_format(2) }}
            </td>
            <td></td>
        </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td>
            {% if readOnly is defined %}
                <p>{% if cart.couponCode %}Coupon: {% endif %}{{ cart.couponCode }}</p>
            {% else %}
            <form method="POST" class="form-inline">
                <input type="hidden" name="action" value="market/cart/applyCoupon">
                <input type="hidden" name="redirect" value="market/cart">
                <input type="hidden" name="orderTypeHandle" value="order">
                {{ getCsrfInput() }}
                Coupon Code: <input type="text" name="couponCode" class="form-control" width="11" value="{{ cart.couponCode }}">
                <input type="submit" class="btn" value="{% if cart.couponCode %}Change{% else %}Apply{% endif %} Coupon" />
                {% if couponError is defined %}<strong>Error: {{ couponError }}</strong>{% endif %}
            </form>
            {% endif %}
        </td>
        <td>
            Item Total: {{ cart.itemTotal|number_format(2) }}<br/>
            Base Discount: {{ cart.baseDiscount|number_format(2) }}<br/>
            Base Shipping Rate: {{ cart.baseShippingRate|number_format(2) }}<br/>
            <h3>Final Price: {{ cart.finalPrice|number_format(2) }}</h3>
        <td></td>
    </tr>
    <tr>
        <td>
            {% if not readOnly is defined %}
            <form method="POST">
                <input type="hidden" name="action" value="market/cart/removeAll" />
                <input type="hidden" name="redirect" value="market/cart" />
                <input type="hidden" name="orderTypeHandle" value="order">
                {{ getCsrfInput() }}
                <input class="btn btn-danger btn-xs" type="submit" value="Remove all" />
            </form>
            {% endif %}
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>

</table>

{% endif %}
