<h3>Payment</h3>

{% if cart.shippingMethodId %}
    <p>
        <strong>Chosen shipping method:</strong> {{ cart.shippingMethod.name }}
    </p>
{% endif %}
<form method="POST" class="form-inline">
    <input type="hidden" name="action" value="market/cartPayment/setShippingMethod">
    <input type="hidden" name="redirect" value="market/cart">
    Shipping Method:
    <select name="shippingMethodId" class="form-control" >
        {% for id,method in craft.market.getShippingMethods() %}
            <option value="{{ id }}" {% if id == cart.shippingMethodId %}selected{% endif %}>{{ method.name }}: {{ method.amount }}</option>
        {% endfor %}
    </select>
    <input type="submit" class="btn" value="Set" />
    {% if shippingMethodError is defined %}<strong>Error: {{ shippingMethodError }}</strong>{% endif %}
</form>

{% if cart.shippingMethodId %}
    {% if cart.paymentMethodId %}
        <p>
            <strong>Chosen payment method:</strong> {{ cart.paymentMethod.name }}
        </p>
    {% endif %}

    <form method="POST" class="form-inline">
        <input type="hidden" name="action" value="market/cartPayment/setPaymentMethod">
        <input type="hidden" name="redirect" value="market/cart">
        Payment Method:
        <select name="paymentMethodId" class="form-control" >
            {% for id,name in craft.market.getPaymentMethods() %}
                <option value="{{ id }}">{{ name }}</option>
            {% endfor %}
        </select>
        <input type="submit" class="btn" value="Set" />
    </form>
    {% if paymentMethodError is defined %}<strong>Error: {{ paymentMethodError }}</strong>{% endif %}
{% endif %}

<div style="height: 500px; width: 1px"></div>