{% extends "market/_layouts/_main" %}
{% block title %}Cart{% endblock %}

{% set cart = craft.market.getCart('order') %}
{% block content %}
    <h3>Cart ID: {{ cart.number }}</h3>

    <!-- tabs begin -->
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="tab-cart" role="presentation"><a href="#cart" aria-controls="cart" role="tab" data-toggle="tab">Cart</a></li>

            {% if cart.showAddress() %}
                <li class="tab-address" role="presentation"><a href="#address" aria-controls="address" role="tab" data-toggle="tab">Address</a></li>
            {% endif %}

            {% if cart.showPayment() %}
                <li class="tab-payment" role="presentation"><a href="#payment" aria-controls="payment" role="tab" data-toggle="tab">Payment</a></li>
            {% endif %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="cart">
                {% include 'market/cart/_cart.html' %}
            </div>
            {% if cart.showAddress() %}
                <div role="tabpanel" class="tab-pane" id="address">
                    {% include 'market/cart/_address.html' %}
                </div>
            {% endif %}

            {% if cart.showPayment() %}
                <div role="tabpanel" class="tab-pane" id="payment">
                    {#{% include 'market/cart/_cart.html' with {'readOnly': true} %}#}
                    {% include 'market/cart/_payment.html' %}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- tabs end -->

    {#{% if cart.state == 'confirm' %}
        {% include 'market/cart/_confirm.html' %}
    {% elseif cart.state == 'complete' %}
        {% include 'market/cart/_complete.html' %}
    {% endif %}#}
{% endblock %}

{% set js %}
{#<script>#}
    $(function(){
        var activeTab =
        {% if cart.showPayment() %}
            '.tab-payment a'
        {% elseif cart.showAddress() %}
            '.tab-address a'
        {% else %}
            '.tab-cart a'
        {% endif %}
        ;

        $(activeTab).tab('show');
    });
{% endset %}
{% includeJs js %}