{% extends "commerce/_layouts/settings" %}


{% block content %}
    <h2>{{ "Shipping Categories"|t('commerce') }}</h2>

    <table id="shippingcategories" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col">{{ "Name"|t('commerce') }}</th>
            <th scope="col">{{ "Handle"|t('commerce') }}</th>
            <th scope="col">{{ "Description"|t('commerce') }}</th>
            <th scope="col">{{ "Default?"|t('commerce') }}</th>
            <td class="thin"></td>
        </tr>
        </thead>
        <tbody>
        {% for shippingCategory in shippingCategories %}
            <tr data-id="{{ shippingCategory.id }}"
                data-name="{{ shippingCategory.name }}">
                <th scope="row" data-title="{{ 'Name'|t('commerce') }}"><a
                            href="{{ url('commerce/settings/shippingcategories/'~shippingCategory.id) }}">{{ shippingCategory.name }}</a>
                </th>
                <td data-title="{{ 'Handle'|t('commerce') }}"
                    class="code">{{ shippingCategory.handle }}</td>
                <td data-title="{{ 'Description'|t('commerce') }}">{{ shippingCategory.description }}</td>
                <td data-title="{{ 'Default?'|t('commerce') }}">{% if shippingCategory.default %}
                    <span data-icon="check"
                          title="{{ 'Yes'|t('commerce') }}"></span>{% endif %}
                </td>
                <td class="thin"><a class="delete icon"
                                    title="{{ 'Delete'|t('commerce') }}"
                                    role="button"></a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="buttons">
        <a href="{{ url('commerce/settings/shippingcategories/new') }}"
           class="btn submit add icon">{{ 'New shipping category'|t('commerce') }}</a>
    </div>
{% endblock %}

{% js %}
    var adminTable = new Craft.AdminTable({
    tableSelector: '#shippingcategories',
    deleteAction: 'commerce/shipping-categories/delete',
    minObjects: 1
    });
{% endjs %}
