{% extends '[[folderName]]/_private/layouts' %}

{% block main %}
  <!-- Template: {{ _self }}.twig -->
  <h1 class="text-3xl block sm:inline">Products</h1>

  {% paginate craft.products.limit(6) as pageInfo, pageProducts %}

  {{ include('[[folderName]]/products/_includes/grid', { products: pageProducts }) }}
  {{ include('[[folderName]]/products/_includes/pagination', { products: pageProducts, pageInfo: pageInfo }) }}
{% endblock %}
