{% if productId is defined %}
<input type="hidden" name="productId" value="{{productId}}">
{% else %}
<input type="hidden" name="productId" value="{{variant.productId}}">
{% endif %}

{% import "_includes/forms" as forms %}

<input type="hidden" name="id" value="{{ variant.id }}">
<input type="hidden" name="isMaster" value="{{ variant.isMaster }}">

<div id="variantDetails">

    <div class="grid first" data-cols="8">
    <div class="item" data-min-colspan="4" data-max-colspan="8">
        {{ forms.textField({
            label: 'SKU'|t,
            name:   'sku',
            placeholder: 
            value: variant.sku,
            errors: variant.getErrors('sku')
        })}}
    </div>

    <div class="item" data-min-colspan="4" data-max-colspan="8">
        {{ forms.textField({
            label: 'Price'|t,
            name:   'price',
            type:   'text',
            value: variant.price|number,
            errors: variant.getErrors('price')
        })}}
    </div>
    </div>

    <div class="grid first" data-cols="8">
        <div class="item" data-min-colspan="4" data-max-colspan="4">
        {{ forms.textField({
            label: 'Min Qty'|t,
            name:   'minQty',
            type:   'text',
            value: variant.minQty,
            errors: variant.getErrors('minQty')
        })}}
    </div>

    <div class="item" data-min-colspan="4" data-max-colspan="4">
        {{ forms.textField({
            label: 'Max Qty'|t,
            name:   'maxQty',
            type:   'text',
            value: variant.maxQty,
            errors: variant.getErrors('maxQty')
        })}}
    </div>
    </div>

    <div class="grid first" data-cols="8">
    <div class="item" data-min-colspan="2" data-max-colspan="2">
        {{ forms.textField({
            label: 'Width'|t,
            name:   'variant[width]',
            type:   'text',
            value: variant.width|number,
            errors: variant.getErrors('width')
        })}}
    </div>

        <div class="item" data-min-colspan="2" data-max-colspan="2">
        {{ forms.textField({
            label: 'Height'|t,
            name:   'height',
            type:   'number',
            value: variant.height|number,
            errors: variant.getErrors('height')
        })}}
    </div>

        <div class="item" data-min-colspan="2" data-max-colspan="2">
        {{ forms.textField({
            label: 'Length'|t,
            name:   'length',
            type:   'text',
            value: variant.length|number,
            errors: variant.getErrors('length')
        })}}
    </div>

        <div class="item" data-min-colspan="2" data-max-colspan="2">
        {{ forms.textField({
            label: 'Weight'|t,
            name:   'weight',
            type:   'text',
            value: variant.weight|number,
            errors: variant.getErrors('weight')
        })}}
    </div>
    </div>

    <div class="grid first" data-cols="8">
        <div class="item" data-min-colspan="4" data-max-colspan="4">

        {{ forms.textField({
            label: 'Stock'|t,
            name:   'stock',
            type:   'text',
            value: variant.stock,
            errors: variant.getErrors('stock')
        })}}
        </div>

        <div class="item" data-min-colspan="4" data-max-colspan="4">
        {{ forms.checkboxField({
            label: 'Unlimited Stock'|t,
            name:   'unlimitedStock',
            checked: (variant.id ? variant.unlimitedStock : 1),
            errors: variant.getErrors('unlimitedStock')
        }) }}
        </div>
    </div>
</div>