{% macro formatAddress(addressModel) %}
	<div class="address">
	{%- if addressModel.firstName or addressModel.lastName %}{{ addressModel.firstName }} {{ addressModel.lastName }}<br/>{%- endif -%}
	{%- if addressModel.businessName -%}{{- addressModel.businessName -}}<br/>{%- endif -%}
	{%- if addressModel.businessTaxId -%}{{- addressModel.businessTaxId -}}<br/>{%- endif -%}
	{%- if addressModel.address1 -%}{{- addressModel.address1 -}}<br/>{%- endif -%}
	{%- if addressModel.address2 -%}{{- addressModel.address2 -}}<br/>{%- endif -%}
	{%- if addressModel.city -%}{{- addressModel.city }}, {% endif %}{% if addressModel.zipCode %}{{ addressModel.zipCode -}}{% endif %}<br/>
	{%- if addressModel.phone -%}{{- addressModel.phone -}}<br/>{%- endif -%}
	{%- if addressModel.alternativePhone -%}{{- addressModel.alternativePhone -}}<br/>{%- endif -%}
	{%- if addressModel.stateText -%}{{- addressModel.stateText -}}<br/>{%- endif -%}
	{{- addressModel.countryText -}}<br/>
	</div>
{% endmacro %}
