{% macro formatAddress(addressModel) %}
	<div class="address">
	{{- addressModel.firstName }} {{ addressModel.lastName -}}<br/>
	{%- if addressModel.businessName -%}{{- addressModel.businessName -}}<br/>{%- endif -%}
	{%- if addressModel.businessTaxId -%}{{- addressModel.businessTaxId -}}<br/>{%- endif -%}
	{%- if addressModel.address1 -%}{{- addressModel.address1 -}}<br/>{%- endif -%}
	{%- if addressModel.address2 -%}{{- addressModel.address2 -}}<br/>{%- endif -%}
	{{- addressModel.city }}, {{ addressModel.zipCode -}}<br/>
	{%- if addressModel.phone -%}{{- addressModel.phone -}}<br/>{%- endif -%}
	{%- if addressModel.alternativePhone -%}{{- addressModel.alternativePhone -}}<br/>{%- endif -%}
	{%- if addressModel.stateText -%}{{- addressModel.stateText -}}<br/>{%- endif -%}
	{{- addressModel.countryText -}}<br/>
	</div>
{% endmacro %}
