{% import "_includes/forms" as forms %}

<div id="{{ id }}">
  {% include 'commerce/_components/widgets/_includes/_dateRangeField' with { id: namespaceId, widget: widget } %}

  {{ forms.lightswitchField({
    label: "Show Chart?"|t('commerce'),
    id: 'showChart',
    name: 'showChart',
    value: 1,
    on: widget.showChart
  }) }}
</div>