{% extends "commerce/_layouts/settingscp" %}

{% set crumbs = [
    { label: "Commerce Settings"|t('commerce'), url: url('commerce/settings') },
    { label: "Tax Categories"|t('commerce'), url: url('commerce/settings/taxcategories') },
] %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}

{% block content %}
    <input type="hidden" name="action" value="commerce/tax-categories/save">
    {{ redirectInput('commerce/settings/taxcategories') }}
    {% if taxCategory.id %}<input type="hidden" name="taxCategoryId"
                                  value="{{ taxCategory.id }}">{% endif %}
    {% include "commerce/settings/taxcategories/_fields" %}
{% endblock %}
